In [3]:
import pandas as pd
import numpy as np
from pathlib import Path 
from name_matching.name_matcher import NameMatcher
import re
from cleanco import basename
import unicodedata
import json
import requests
import time

In [2309]:
def labeller (df, label):
    lendf = len(df)
    dflab = [label] * lendf
    df['Label'] = dflab
    return
def get_year (x):
    year = x[0:4]
    return year
def renamer (df):
    out = df.rename(columns = {'appln_id' : 'ID', 'appln_auth' : 'Authority', 'earliest_filing_date' : 'Filing_date', 'publn_date' : 'Pub_Date', 'appln_title' : 'Title', 'person_name' : 'Name', 'person_ctry_code' : 'Country', 'psn_sector' : 'Inventor_Type', 'nace2_code' : 'Nace2', 'techn_sector' : 'Sector', 'techn_field' : 'Field', 'appln_abstract' : 'Abstract' ,'person_address' : 'Address', 'nb_citing_docdb_fam' : 'Forward_Citations'})
    return out    
def cutter (x):
    y = int(x[0:4])
    return y/100
def closest_nace (code, nacers):
    a = 0
    b = len(nacers) - 1 
    c = b // 2
    while c != a:
        if code <= nacers[c]:
            b = c
            c = (a + b) // 2
        else: 
            a = c
            c = (a + b) // 2
    return nacers[c]
def converter (x):
    p = []
    for i in range(len(x)):
        if pd.isna(x[i]):
            p.append(x[i])
        else:   
            z = nace2sic[nace2sic['Nace2'] == x[i]]['SIC (2007)']
            if len(z) != 1:
                usenace = closest_nace(x[i], nacecodes)
                z = nace2sic[nace2sic['Nace2'] == usenace]['SIC (2007)']
                p.append(z.iat[0])
            else:
                p.append(z.iat[0])
    return p
def lightcast_api_use (name_list):
    i = 0
    url = "https://auth.emsicloud.com/connect/token"

    payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
    headers = {'Content-Type': 'application/x-www-form-urlencoded'}

    response = requests.request("POST", url, data=payload, headers=headers)

    cont = json.loads(response.text)
    token = cont['access_token']
    df1 = pd.DataFrame()
    df = pd.DataFrame() 
    start_time = time.time()
    while i < len(name_list):
        holddict = {'terms': name_list[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
        json_object = json.dumps(holddict, indent = 4) 
        url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

        payload = json_object
        headers = {
        'Authorization': "Bearer " + token,
        'Content-Type': "application/json"
        }

        response = requests.request("POST", url, data=payload, headers=headers)
        res = json.loads(response.text)
        df1 = pd.json_normalize(res['data'], sep='_')
        df = pd.concat([df1, df])
    
        i += 100
        time.sleep(0.01)
        if time.time() - start_time > 3600:
            start_time = time.time()
            url = "https://auth.emsicloud.com/connect/token"

            payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
            headers = {'Content-Type': 'application/x-www-form-urlencoded'}

            response = requests.request("POST", url, data=payload, headers=headers)

            cont = json.loads(response.text)
            token = cont['access_token']

    return df

In [2320]:
filepath = Path('Keywords/Manuf_Sector-Fame3.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
fm3.to_csv(filepath)

In [ ]:
#read in data, one letter names are files that were not used, but were looked at as possibilities for use

In [757]:
vers7 = pd.read_csv('vers7.csv').drop(columns = 'Unnamed: 0')
full = pd.read_csv('fullpat.csv').drop(columns = 'Unnamed: 0')
unmfull = pd.read_csv('unmatchedpat.csv').drop(columns = 'Unnamed: 0')
a = pd.read_csv('UK_companies_v3.csv')
b = pd.read_csv('UK_companies_v2.csv')
mansec3 = pd.read_csv('ManSector_v3.csv')
manco3 = pd.read_csv('Manuf_companies_v3.csv')
e = pd.read_csv('Manuf_companies_v2.csv')
pats = pd.read_csv('patents.csv').drop(columns = 'Unnamed: 0')
conames = pd.read_csv('Company_names.csv')
snowco = pd.read_csv('snowco.csv')

In [8]:
manufacturing = pd.read_csv('ManSector.csv')

In [639]:
full = pd.read_csv('fullpat.csv').drop(columns = 'Unnamed: 0')

In [9]:
companies = conames.drop_duplicates(subset = 'COMPANY_RAW')

In [192]:
nace2sic = pd.read_csv('nace2sic.csv')
nace2sic.dropna(subset = 'Unnamed: 1', inplace = True)
nace2sic.rename(columns = {'Unnamed: 1': 'SIC Des'}, inplace = True)
nace2sic.drop(columns = ['Unnamed: 2', 'Unnamed: 4'], inplace = True)
nace2sic.dropna(subset = 'NACE revision 2', inplace = True)
nace2sic['Nace2'] = nace2sic['NACE revision 2'].apply(cutter)
nacecodes = list(nace2sic['Nace2'])

In [ ]:
#Continue investigating JSON as possible file type
#Pros: Can include all data in one place, easy to find individual company's data
#Cons: Size, can't be inspected visually

In [10]:
patjason = vers7.groupby('COMPANY_RAW_COPY')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year', 'COMPANY_RAW']].apply(lambda g: g.to_dict('records')).to_dict()

In [11]:
hitat = vers7['ID']
unmpat7 = full[~full['ID'].isin(hitat)]
unmpat7['Pat_Name_Copy'] = unmpat7['Name']
unmpat7.reset_index(drop = True, inplace = True)
unmatpat = unmpat7.groupby('Pat_Name_Copy')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Name',
       'Country', 'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector',
       'Abstract', 'Address', 'Forward_Citations',
       'Basic communication processes', 'Chemical engineering',
       'Materials, metallurgy', 'Other consumer goods', 'Medical technology',
       'Mechanical elements', 'Handling', 'Analysis of biological materials',
       'Thermal processes and apparatus', 'Machine tools', 'Control',
       'Telecommunications', 'Textile and paper machines',
       'Computer technology', 'Semiconductors', 'IT methods for management',
       'Civil engineering', 'Basic materials chemistry', 'Pharmaceuticals',
       'Biotechnology', 'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec']].apply(lambda g: g.to_dict('records')).to_dict()

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/883844745.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmpat7['Pat_Name_Copy'] = unmpat7['Name']

In [12]:
matco = (list(set(vers7['COMPANY_RAW'])))
asd = pd.DataFrame(unmpat7.groupby(by = 'Name').size().sort_values(ascending = False))
sorted_unmatched_pat = list(asd.index)
unmatco = list(set(companies[~companies['COMPANY_RAW'].isin(matco)]['COMPANY_RAW']))

In [13]:
complete = {}
complete['Matched_Patents'] = patjason
complete['Unmatched_Patents'] = unmatpat
complete['Matched_Names'] = matco
complete['Unmatched_Pat_Names'] = sorted_unmatched_pat
complete['Unmatched_Co_Names'] = unmatco

In [ ]:
#Investigate efficacity of API compared to current progress when excluding individual inventors
#API performs well, but has similar struggles to Fuzzy Matching
#Stuck with original matches

In [16]:
gtypes = ['COMPANY',
 'COMPANY GOV NON-PROFIT',
 'COMPANY GOV NON-PROFIT UNIVERSITY',
 'COMPANY HOSPITAL',
 'COMPANY UNIVERSITY',
 'GOV NON-PROFIT',
 'GOV NON-PROFIT UNIVERSITY',
 'HOSPITAL','UNIVERSITY']
pat_names = list(set(full[full['Inventor_Type'].isin(gtypes)]['Name']))

In [17]:
co_names = list(set(d['COMPANY_RAW']))

In [ ]:
i = 0
normalized = pd.DataFrame()
while i <= len(pat_names):
    holddict = {'terms': pat_names[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE2ODI1NjUsImV4cCI6MTY5MTY4NjE2NSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE2ODI1NjUsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.Gr9js2tjIiqWQ0m5LuUMDonphgq1nMCCXCK4QvVK0gvSvJVB0q7NOCxc85d2vLCaat2Llsc39wDBRf-5faZPbR-iwZvT7rV4DwvZha8EoCl6dejAF0U-ZuyHklQahzRHw9FCUA2_uJa0hkPgumRPoujnwLT79m2IA8e6N_ysPTkcSXYQmUFabVoC8p_VbiG1fLXp-xzZsCMEqKVoXLtRxCLB_uWKuKHLSAayURiExVvuZjegv8hfdrG6DY6CmL7m8FxiiKn9Y-2jOV5tb_LyTmUHsu_IiIqTjYAXOXPk4cFuaL2BfSJLSfALFhCJp7fcAWdrmxZwz-27tn0T8VYDQw",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized = pd.concat([normalized, df])
    
    i += 100
    time.sleep(0.1)

In [ ]:
i = 0
normalized2 = pd.DataFrame()
while i <= len(co_names):
    holddict = {'terms': co_names[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE2ODI1NjUsImV4cCI6MTY5MTY4NjE2NSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE2ODI1NjUsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.Gr9js2tjIiqWQ0m5LuUMDonphgq1nMCCXCK4QvVK0gvSvJVB0q7NOCxc85d2vLCaat2Llsc39wDBRf-5faZPbR-iwZvT7rV4DwvZha8EoCl6dejAF0U-ZuyHklQahzRHw9FCUA2_uJa0hkPgumRPoujnwLT79m2IA8e6N_ysPTkcSXYQmUFabVoC8p_VbiG1fLXp-xzZsCMEqKVoXLtRxCLB_uWKuKHLSAayURiExVvuZjegv8hfdrG6DY6CmL7m8FxiiKn9Y-2jOV5tb_LyTmUHsu_IiIqTjYAXOXPk4cFuaL2BfSJLSfALFhCJp7fcAWdrmxZwz-27tn0T8VYDQw",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized2 = pd.concat([normalized2, df])
    i += 100
    time.sleep(0.15)

In [ ]:
mergepat = normalized[normalized['company_name'] != 'Unclassified'].iloc[:, [0,1]]

In [ ]:
mergepat.rename(columns = {'term' : 'Name'}, inplace = True)

In [ ]:
mergeco = normalized2[normalized2['company_name'] != 'Unclassified'].iloc[:, [0,1]]

In [ ]:
mergeco.rename(columns = {'term' : 'COMPANY_RAW'}, inplace = True)

In [ ]:
pd.merge(mergepat, mergeco, on = 'company_id', how = 'inner').drop_duplicates(subset = 'COMPANY_RAW')

In [ ]:
#Add Manufacturing data to JSON

In [23]:
matched_man_pats = vers7[vers7['COMPANY_RAW'].isin(co_names)]

In [18]:
namers = list(set(vers7['COMPANY_RAW']))

In [19]:
matched_man = c[c['COMPANY_RAW'].isin(namers)]
matched_man['COMPANY_RAW_COPY'] = matched_man['COMPANY_RAW']

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/429996179.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_man['COMPANY_RAW_COPY'] = matched_man['COMPANY_RAW']

,ID,CERTIFICATIONS,CERTIFICATIONS_NAME,CITY,CITY_NAME,COMPANY,COMPANY_IS_STAFFING,COMPANY_NAME,COMPANY_RAW,CONTRACT_TYPE,...,LOT_V6_SPECIALIZED_OCCUPATION_NAME,LOT_V6_OCCUPATION,LOT_V6_OCCUPATION_NAME,LOT_V6_OCCUPATION_GROUP,LOT_V6_OCCUPATION_GROUP_NAME,LOT_V6_CAREER_AREA,LOT_V6_CAREER_AREA_NAME,MODELED_EXPIRED,MODELED_DURATION,COMPANY_RAW_COPY
1,761904578,"[\n ""ESC565CD257EDA3C1843"",\n ""KS7G29W5ZT5Q4...","[\n ""Chartered Institute Of Management Accoun...",U3dpbmRvbg==,Swindon,37718157,False,Honda,Honda Motor Company,2,...,Accountant (General),191010,Accountant,1910,Accounting Professionals,19,Finance,2018-12-06,16.0,Honda Motor Company
3,761906186,"[\n ""KS683TN76T77DQDVBZ1B""\n]","[\n ""Security Clearance""\n]",UG9ydHNtb3V0aA==,Portsmouth,42463830,False,Airbus,Airbus Ltd,2,...,Systems Engineer,231510,Computer Systems Engineer / Architect,2315,Network and Systems Engineering,23,Information Technology and Computer Science,2018-11-21,1.0,Airbus Ltd
7,761906053,[],[],TmV3cG9ydCwgTW9ubW91dGhzaGlyZSBhbmQgTmV3cG9ydA==,"Newport, Monmouthshire and Newport",42463830,False,Airbus,Airbus Ltd,2,...,Process Control Engineer,181111,Chemical / Process Engineer,1811,"Chemical, Biomedical, and Related Engineering",18,Engineering,2018-11-23,3.0,Airbus Ltd
10,761997419,[],[],Q29yYnksIE5vcnRoIE5vcnRoYW1wdG9uc2hpcmU=,"Corby, North Northamptonshire",36513156,False,Tata Steel,Tata Steel,2,...,Engineering Project Manager,181710,Engineering Manager,1817,Engineering Managers,18,Engineering,2018-11-22,1.0,Tata Steel
11,762017349,[],[],TmV3cG9ydCwgTW9ubW91dGhzaGlyZSBhbmQgTmV3cG9ydA==,"Newport, Monmouthshire and Newport",36513156,False,Tata Steel,Tata Steel,2,...,Human Resources Specialist,221112,Human Resources / Labour Relations Specialist,2211,Human Resources Specialists,22,Human Resources,2018-12-05,14.0,Tata Steel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331053,835365408,"[\n ""KS7G08T75D9DQLWH35K1""\n]","[\n ""Certified International Property Special...",R3VpbGRmb3JkLCBXZXN0IFN1cnJleQ==,"Guildford, West Surrey",853572,False,BAE Systems,Bae Systems,1,...,Procurement Analyst,112110,Buyer / Purchasing Agent,1121,Procurement,11,Business Management and Operations,2022-02-07,26.0,Bae Systems
331062,835352171,[],[],UG9ydHNtb3V0aA==,Portsmouth,853572,False,BAE Systems,Bae Systems,2,...,Software Developer / Engineer,231715,Software Developer / Engineer,2317,Software Development,23,Information Technology and Computer Science,2022-04-09,NaN,Bae Systems
331063,835409499,[],[],SGFycm9nYXRlLCBOb3J0aCBZb3Jrc2hpcmUgQ0M=,"Harrogate, North Yorkshire CC",9077346,False,Pipa,Pipa Limited,2,...,Psychologist,202712,Psychologist,2027,Mental Health Therapy,20,Healthcare,2022-04-11,NaN,Pipa Limited
331066,835350337,[],[],Q2hyaXN0Y2h1cmNoLCBEb3JzZXQgQ0M=,"Christchurch, Dorset CC",853572,False,BAE Systems,Bae Systems,2,...,DevOps Engineer,231715,Software Developer / Engineer,2317,Software Development,23,Information Technology and Computer Science,2022-02-07,26.0,Bae Systems
331079,835415735,[],[],Um9jaGVzdGVyLCBNZWR3YXk=,"Rochester, Medway",853572,False,BAE Systems,Bae Systems,2,...,Industrial Engineer (General),181912,Industrial Engineer,1819,Mechanical and Related Engineers,18,Engineering,2022-03-26,NaN,Bae Systems

In [20]:
mtched_manj = matched_man.groupby('COMPANY_RAW_COPY')[['ID', 'CERTIFICATIONS', 'CERTIFICATIONS_NAME', 'CITY', 'CITY_NAME',
       'COMPANY', 'COMPANY_IS_STAFFING', 'COMPANY_NAME', 'COMPANY_RAW',
       'CONTRACT_TYPE', 'CONTRACT_TYPE_NAME', 'COUNTRY', 'COUNTRY_NAME',
       'DUPLICATES', 'EMPLOYMENT_TYPE', 'EMPLOYMENT_TYPE_NAME',
       'MAX_YEARS_EXPERIENCE', 'MIN_YEARS_EXPERIENCE', 'EXPIRED',
       'IS_INTERNSHIP', 'REMOTE_TYPE', 'REMOTE_TYPE_NAME', 'LAU1', 'LAU1_NAME',
       'LOCATION', 'NUTS1', 'NUTS1_NAME', 'NUTS3', 'NUTS3_NAME', 'DURATION',
       'POSTED', 'SKILLS', 'SKILLS_NAME', 'SOC_EMSI_2010_1',
       'SOC_EMSI_2010_1_NAME', 'SOC_EMSI_2010_2', 'SOC_EMSI_2010_2_NAME',
       'SOC_EMSI_2010_3', 'SOC_EMSI_2010_3_NAME', 'SOC_EMSI_2010_4',
       'SOC_EMSI_2010_4_NAME', 'TITLE', 'TITLE_NAME', 'TITLE_RAW',
       'TITLE_CLEAN', 'BODY', 'SALARY', 'SPECIALIZED_SKILLS',
       'SPECIALIZED_SKILLS_NAME', 'COMMON_SKILLS', 'COMMON_SKILLS_NAME',
       'SOURCES', 'URL', 'ACTIVE_URLS', 'SALARY_TO', 'SALARY_FROM',
       'SOFTWARE_SKILLS', 'SOFTWARE_SKILLS_NAME', 'ORIGINAL_PAY_PERIOD',
       'SOC_1', 'SOC_1_NAME', 'SOC_2', 'SOC_2_NAME', 'SOC_3', 'SOC_3_NAME',
       'SOC_4', 'SOC_4_NAME', 'LAST_UPDATED_DATE', 'SOURCE_TYPES',
       'EDULEVELS','EDULEVELS_NAME', 'EDULEVELS_MIN', 'EDULEVELS_MAX',
       'EDULEVELS_NAME_MIN', 'EDULEVELS_NAME_MAX', 'TTWA', 'TTWA_NAME',
       'UK_SIC_1', 'UK_SIC_2', 'UK_SIC_3', 'UK_SIC_4', 'UK_SIC_5',
       'UK_SIC_1_NAME', 'UK_SIC_2_NAME', 'UK_SIC_3_NAME', 'UK_SIC_4_NAME',
       'UK_SIC_5_NAME', 'LOT_CAREER_AREA', 'LOT_CAREER_AREA_NAME',
       'LOT_OCCUPATION', 'LOT_OCCUPATION_NAME', 'LOT_SPECIALIZED_OCCUPATION',
       'LOT_SPECIALIZED_OCCUPATION_NAME', 'LOT_OCCUPATION_GROUP',
       'LOT_OCCUPATION_GROUP_NAME', 'LOT_V6_SPECIALIZED_OCCUPATION',
       'LOT_V6_SPECIALIZED_OCCUPATION_NAME', 'LOT_V6_OCCUPATION',
       'LOT_V6_OCCUPATION_NAME', 'LOT_V6_OCCUPATION_GROUP',
       'LOT_V6_OCCUPATION_GROUP_NAME', 'LOT_V6_CAREER_AREA',
       'LOT_V6_CAREER_AREA_NAME', 'MODELED_EXPIRED', 'MODELED_DURATION']].apply(lambda g: g.to_dict('records')).to_dict()

In [21]:
complete['Matched_Man_Data'] = mtched_manj

In [24]:
Matched_Man_Patents = matched_man_pats.groupby('COMPANY_RAW_COPY')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year', 'COMPANY_RAW']].apply(lambda g: g.to_dict('records')).to_dict()

In [25]:
complete['Matched_Man_Patents'] = Matched_Man_Patents

In [26]:
complete['Man_Companies'] = list(Matched_Man_Patents.keys())

In [27]:
unmatched_man = c[~c['COMPANY_RAW'].isin(namers)]
unmatched_man['COMPANY_RAW_COPY'] = unmatched_man['COMPANY_RAW']

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/1178808222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmatched_man['COMPANY_RAW_COPY'] = unmatched_man['COMPANY_RAW']

In [28]:
unmatched_manj = unmatched_man.groupby('COMPANY_RAW_COPY')[['ID', 'CERTIFICATIONS', 'CERTIFICATIONS_NAME', 'CITY', 'CITY_NAME',
       'COMPANY', 'COMPANY_IS_STAFFING', 'COMPANY_NAME', 'COMPANY_RAW',
       'CONTRACT_TYPE', 'CONTRACT_TYPE_NAME', 'COUNTRY', 'COUNTRY_NAME',
       'DUPLICATES', 'EMPLOYMENT_TYPE', 'EMPLOYMENT_TYPE_NAME',
       'MAX_YEARS_EXPERIENCE', 'MIN_YEARS_EXPERIENCE', 'EXPIRED',
       'IS_INTERNSHIP', 'REMOTE_TYPE', 'REMOTE_TYPE_NAME', 'LAU1', 'LAU1_NAME',
       'LOCATION', 'NUTS1', 'NUTS1_NAME', 'NUTS3', 'NUTS3_NAME', 'DURATION',
       'POSTED', 'SKILLS', 'SKILLS_NAME', 'SOC_EMSI_2010_1',
       'SOC_EMSI_2010_1_NAME', 'SOC_EMSI_2010_2', 'SOC_EMSI_2010_2_NAME',
       'SOC_EMSI_2010_3', 'SOC_EMSI_2010_3_NAME', 'SOC_EMSI_2010_4',
       'SOC_EMSI_2010_4_NAME', 'TITLE', 'TITLE_NAME', 'TITLE_RAW',
       'TITLE_CLEAN', 'BODY', 'SALARY', 'SPECIALIZED_SKILLS',
       'SPECIALIZED_SKILLS_NAME', 'COMMON_SKILLS', 'COMMON_SKILLS_NAME',
       'SOURCES', 'URL', 'ACTIVE_URLS', 'SALARY_TO', 'SALARY_FROM',
       'SOFTWARE_SKILLS', 'SOFTWARE_SKILLS_NAME', 'ORIGINAL_PAY_PERIOD',
       'SOC_1', 'SOC_1_NAME', 'SOC_2', 'SOC_2_NAME', 'SOC_3', 'SOC_3_NAME',
       'SOC_4', 'SOC_4_NAME', 'LAST_UPDATED_DATE', 'SOURCE_TYPES',
       'EDULEVELS','EDULEVELS_NAME', 'EDULEVELS_MIN', 'EDULEVELS_MAX',
       'EDULEVELS_NAME_MIN', 'EDULEVELS_NAME_MAX', 'TTWA', 'TTWA_NAME',
       'UK_SIC_1', 'UK_SIC_2', 'UK_SIC_3', 'UK_SIC_4', 'UK_SIC_5',
       'UK_SIC_1_NAME', 'UK_SIC_2_NAME', 'UK_SIC_3_NAME', 'UK_SIC_4_NAME',
       'UK_SIC_5_NAME', 'LOT_CAREER_AREA', 'LOT_CAREER_AREA_NAME',
       'LOT_OCCUPATION', 'LOT_OCCUPATION_NAME', 'LOT_SPECIALIZED_OCCUPATION',
       'LOT_SPECIALIZED_OCCUPATION_NAME', 'LOT_OCCUPATION_GROUP',
       'LOT_OCCUPATION_GROUP_NAME', 'LOT_V6_SPECIALIZED_OCCUPATION',
       'LOT_V6_SPECIALIZED_OCCUPATION_NAME', 'LOT_V6_OCCUPATION',
       'LOT_V6_OCCUPATION_NAME', 'LOT_V6_OCCUPATION_GROUP',
       'LOT_V6_OCCUPATION_GROUP_NAME', 'LOT_V6_CAREER_AREA',
       'LOT_V6_CAREER_AREA_NAME', 'MODELED_EXPIRED', 'MODELED_DURATION']].apply(lambda g: g.to_dict('records')).to_dict()

In [29]:
complete['Unmatched_Man_Data'] = unmatched_manj

In [30]:
matched_co_locations = conames[conames['COMPANY_RAW'].isin(namers)]
matched_co_locations['COMPANY_RAW_COPY'] = matched_co_locations['COMPANY_RAW']
matched_co_locations.columns

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/3928652708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_co_locations['COMPANY_RAW_COPY'] = matched_co_locations['COMPANY_RAW']

Index(['COUNT(COMPANY)', 'COMPANY_RAW', 'COMPANY_NAME', 'NUTS1_NAME', 'NUTS3',
       'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'COMPANY_RAW_COPY'],
      dtype='object')

In [31]:
matched_co_locationsj = matched_co_locations.groupby('COMPANY_RAW_COPY')[['COUNT(COMPANY)', 'COMPANY_RAW', 'COMPANY_NAME', 'NUTS1_NAME', 'NUTS3',
       'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME']].apply(lambda g: g.to_dict('records')).to_dict()

In [32]:
complete['Matched_Companies_Locations'] = matched_co_locationsj

In [34]:
complete.keys()

dict_keys(['Matched_Patents', 'Unmatched_Patents', 'Matched_Names', 'Unmatched_Pat_Names', 'Unmatched_Co_Names', 'Matched_Man_Data', 'Matched_Man_Patents', 'Man_Companies', 'Unmatched_Man_Data', 'Matched_Companies_Locations'])

In [194]:
with open('complete.json', 'w', encoding='utf-8') as f:
    json.dump(complete, f, ensure_ascii=False, indent=4)

In [55]:
recovered = pd.concat(
        [pd.DataFrame.from_dict(complete['Matched_Man_Patents'][name]) for name in list(complete['Matched_Man_Data'].keys())]
    , 
    axis=0)

In [75]:
raw = list(set(companies['COMPANY_RAW']))

In [ ]:
#Look for matches with New Company dataset, UK_Companies_v3
#Use Company_Raw as API should be able to deal with extra noise
#Add new matches

In [84]:
ukco3 = pd.read_csv('UK_companies_v3.csv')
mansect3 = pd.read_csv('ManSector_v3.csv')
manco3 = pd.read_csv('Manuf_companies_v3.csv')

In [100]:
co_names = list(set(ukco3['COMPANY_RAW']))
pat_names = list(set(full['Name']))

In [102]:
i = 0
normalized = pd.DataFrame()
while i <= len(pat_names):
    holddict = {'terms': pat_names[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTIwMjYwMTksImV4cCI6MTY5MjAyOTYxOSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTIwMjYwMTksInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.GSqIkZODLfxiRuJ-r7Jy5Zh325rZxvCiSsm5rAlQNApeRq3ox0-xre6IQlnvTUC1s1abw1zYxVqSPWRLoA1IhT-VlGugWAD4lGXP4TXX1DF_owM1V0BIsY_o7ouewukM8yLrNzMp_cwWoCH3-jnE50qkH4tFReTQ9rgKJpInzb6AfFp1thndsWDNLUL-rY1zxQOI0ITqZ_LMzxiuGsRS1CRRhatg1QUJr6xq8sIRIkGtTjkGMXK9ycDQnUjzHxPkJXJyeheLS09wiKIdKQ_8W431uWtc0iOWkNSvl9BNutYBNyvFPi0eaYAkXJdaYtWN7TuvONIeLZP6IbvRkyTLVg",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized = pd.concat([normalized, df])
    
    i += 100
    time.sleep(0.1)

In [111]:
i = 0
normalized2 = pd.DataFrame()
while i <= len(co_names):
    holddict = {'terms': co_names[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTIwMzg2MjAsImV4cCI6MTY5MjA0MjIyMCwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTIwMzg2MjAsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.UggoN4sejmfF_osmEjGVQuj8JABBfJ-tI9CkbEM62B8WgearXzS_g7DH_itTCvApH1vfQqupQ0kuuF6Y0VZ27wJotuRKzARTOPz1gV4xa9mE_Stz2aeANGIpO5GjSdaWCvYMHVQ9tEahFnzC4sxYYFZzZqnR4t5ljM4WVfmXtjBoVUYZJEomm7CCgZPht196vw5xp9-BeT7DOKO7RXg5Unpyjsvx9wg6B0uCgm_dzZH-Kx6DfGEtzbdy69202V3npG119GQQoYu4YzH__xCSZFpGXeADrYQ3ecTkEFGMWqMxpord4QJUKq3suu-dtGEwFkv5ZVshX3U-KKFUSfGSdA",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized2 = pd.concat([normalized2, df])
    i += 100
    time.sleep(0.05)

In [113]:
normalized

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
0,"MCCAIN, SCOTT, THOMAS",0,Unclassified,None,None,False,False
1,"Stuttard, Dave",0,Unclassified,None,None,False,False
2,AACHENER GRUNDVERMÃ–GEN KAPITALVERWALTUNGSGESEL...,107847187,Aachener GrundvermÃ¶gen Kapitalverwaltungsgesel...,None,None,False,False
3,THE UNIVERSITY OF NEWCASTLE UPON TYNE,75550342,University of Newcastle,541990,newcastle.edu.au,False,False
4,NORTHWEST INSTRUMENT INC.,55582192,Northwest Instrument,334519,null,False,False
...,...,...,...,...,...,...,...
60,"CHRISTIANA CARE HEALTH SYSTEM, INC.",41150030,ChristianaCare,622110,https://christianacare.org/,False,False
61,SHANDONG ZHENGQU TRAFFIC ENGINEERING RESEARCH ...,0,Unclassified,None,None,False,False
62,"MARX, JAMES, G.",0,Unclassified,None,None,False,False
63,"Kelso, Josh",0,Unclassified,None,None,False,False
64,"SEREBRENNIKOV, Oleg Alexandrovich",0,Unclassified,None,None,False,False

In [115]:
nmerge1 = normalized[normalized['company_name'] != 'Unclassified']

In [116]:
nmerge2 = normalized2[normalized2['company_name'] != 'Unclassified']

In [120]:
nmerge1.drop(columns = ['company_naics', 'company_website', 'company_isStaffing', 'company_isFortune1000'], inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/594287678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmerge1.drop(columns = ['company_naics', 'company_website', 'company_isStaffing', 'company_isFortune1000'], inplace = True)

In [121]:
nmerge2.drop(columns = ['company_naics', 'company_website', 'company_isStaffing', 'company_isFortune1000'], inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/467521591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmerge2.drop(columns = ['company_naics', 'company_website', 'company_isStaffing', 'company_isFortune1000'], inplace = True)

In [124]:
y = pd.merge(nmerge1, nmerge2, on = 'company_name', how = 'inner').drop_duplicates(subset = 'term_x')

In [152]:
adders = y[~y['term_x'].isin(v)]
adders.columns

Index(['term_x', 'company_id_x', 'company_name', 'term_y', 'company_id_y'], dtype='object')

In [153]:
adders.drop(columns = ['company_id_x', 'company_id_y', 'company_name'], inplace = True)
adders.rename(columns = {'term_x' : 'Name', 'term_y' : 'COMPANY_RAW'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/2328438914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adders.drop(columns = ['company_id_x', 'company_id_y', 'company_name'], inplace = True)
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/2328438914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adders.rename(columns = {'term_x' : 'Name', 'term_y' : 'COMPANY_RAW'}, inplace = True)

In [154]:
unmfull = full[~full['ID'].isin(list(vers7['ID']))]

In [156]:
vs = pd.merge(unmfull, adders, on = 'Name', how = 'inner')

In [175]:
adders = pd.merge(vs, ukco3.drop_duplicates(subset = 'COMPANY_RAW'), how = 'left', on = 'COMPANY_RAW')

In [180]:
[i for i in list(adders.columns) if i not in list(vers7.columns)]

['Name', 'COMPANY', 'NUTS1', 'UK_SIC_1', 'UK_SIC_2', 'UK_SIC_1_NAME']

In [181]:
[i for i in list(vers7.columns) if i not in list(adders.columns)]

['Sic_from_Nace', 'Pat_Name', 'Publn_Year', 'COMPANY_RAW_COPY']

In [182]:
adders.rename(columns = {'Name' : 'Pat_Name'}, inplace = True)

In [188]:
adders['COMPANY_RAW_COPY'] = adders['COMPANY_RAW']

In [193]:
sics = converter(list(adders['Nace2']))
adders['Sic_from_Nace'] = sics

In [195]:
adders['Publn_Year'] = adders['Pub_Date'].apply(lambda x : x[0:4])

In [198]:
adders.drop(columns = ['COMPANY', 'NUTS1', 'UK_SIC_1', 'UK_SIC_2', 'UK_SIC_1_NAME'], inplace = True)

In [313]:
vers8 = pd.concat([vers7, adders]).drop_duplicates(subset = 'ID').reset_index(drop = True)

In [314]:
vers8.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'COMPANY_RAW', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year',
       'COMPANY_RAW_COPY'],
      dtype='object')

In [ ]:
#Add New columns for fields and frontier technologies and remove the indicator columns for fields and frontier techs
#Although indicator columns are useful for easily obtaining data relevant to a field/technology, the amount of columns is excessive
#and makes the dataframe harder to read and use as a whole
#By reducing these indicator columns to 2 columns, dataframe is much more readable and maintains functionality,
#as patents relevant to a field/tech can still be found using df['Fields'].str.contains('Desired Field')

In [315]:
df = vers8.loc[:, 'Basic communication processes' : 'Surface technology, coating']
cols = df.columns

In [316]:

df2 = df
df2['Ones'] = 1

In [317]:
df2['Fields'] = df2[cols].apply(lambda s: ', '.join((m:=s == (df2.loc[s.name, 'Ones']))[m].index), axis=1)

In [318]:
FandS = df2['Fields']

In [319]:
vers8['Fields'] = FandS

In [320]:
vers8.rename(columns = {'sh16' : 'Big Data'}, inplace = True)

In [321]:
df = vers8.loc[:, 'AI' : 'CyberSec']
cols = df.columns

In [322]:
df2 = df
df2['Ones'] = 1
df2['Frontier_Technologies'] = df2[cols].apply(lambda s: ', '.join((m:=s == (df2.loc[s.name, 'Ones']))[m].index), axis=1)

In [323]:
vers8['Frontier_Technologies'] = df2['Frontier_Technologies']

In [324]:
vers9 = vers8.drop(columns = ['Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'Big Data', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec'])

In [325]:
vers9.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'COUNT(COMPANY)', 'COMPANY_RAW',
       'NUTS1_NAME', 'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME',
       'UK_SIC_2_NAME', 'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME',
       'Publn_Year', 'COMPANY_RAW_COPY', 'Fields', 'Frontier_Technologies'],
      dtype='object')

In [ ]:
#Add new data from version 3 of UK_Companies on COMPANY_RAW

In [326]:
vers9.drop(columns = ['COUNT(COMPANY)', 'NUTS1_NAME', 'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME',
       'UK_SIC_2_NAME', 'COMPANY_NAME'], inplace = True)
vers9.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'COMPANY_RAW', 'Sic_from_Nace',
       'Pat_Name', 'Publn_Year', 'COMPANY_RAW_COPY', 'Fields',
       'Frontier_Technologies'],
      dtype='object')

In [331]:
vers10 = pd.merge(vers9, ukco3.drop_duplicates(subset = 'COMPANY_RAW'), on = 'COMPANY_RAW', how = 'left')

In [ ]:
#Look for matches between snowflake companies and Lightcast companies
#Use API as Snowflake's company names matches up with API's returned company names

In [362]:
snow_names = list(snowco.drop_duplicates(subset = 'NAME')['NAME'])

In [652]:
vers_names = list(set(vers11['COMPANY_RAW']))
len(vers_names)

4314

In [648]:
i = 0
url = "https://auth.emsicloud.com/connect/token"

payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
headers = {'Content-Type': 'application/x-www-form-urlencoded'}

response = requests.request("POST", url, data=payload, headers=headers)

cont = json.loads(response.text)
token = cont['access_token']
normalized = pd.DataFrame()
while i <= len(vers_names):
    holddict = {'terms': vers_names[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer " + token,
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized = pd.concat([normalized, df])
    
    i += 100
    time.sleep(0.01)

In [ ]:
def merge_nested_dicts(d1, d2):
    for key, value in d2.items():
        if key in d1 and isinstance(d1[key], dict) and isinstance(value, dict):
            merge_nested_dicts(d1[key], value)
        else:
            d1[key] = value

In [649]:
normalized.drop_duplicates(subset = 'term', inplace = True)
normalized = normalized[normalized['company_name'] != 'Unclassified']

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
0,Akamba Limited,97933353,Akamba,None,None,False,False
1,Cea Ltd,86632020,CEA,111998,ceallp.com,False,False
2,Evermore Limited,35374586,"Evermore International Co., Ltd",424450,evermorewellbeing.com,False,False
3,"Nutanix, Inc",5449695,Nutanix,511210,nutanix.com,False,False
4,12 Month Contract,5732448,Deloitte,541611,http://www.deloitte.com,False,True
...,...,...,...,...,...,...,...
9,Vividq Limited,36293549,Vividq,None,vivid-q.com,False,False
10,Nti Limited,80647,Nti,531120,linmot.com,False,False
11,Novartis,39227730,Novartis,325412,https://www.novartis.com/,False,False
12,Cereproc Ltd,34391398,Cereproc Ltd.,None,cereproc.com,False,False
13,Image (Ipswich) Ltd,1389559,Image Agent,238320,imagegmbh.eu,False,False

In [653]:
merge1 = normalized.drop(columns = ['company_naics', 'company_website', 'company_isStaffing', 'company_isFortune1000'])

In [655]:
holdmerge = snowco.rename(columns = {'NAME': 'company_name'})

In [656]:
holdmerge.rename(columns = {'ID' : 'company_id'}, inplace = True)

In [657]:
merge_snow = pd.merge(merge1, holdmerge, on = 'company_name', how = 'inner')

,term,company_id_x,company_name,company_id_y,CITY,STATE,POSTAL_CODE,NAICS2,NAICS6,UK_SIC,WEBSITE,IS_STAFFING,IS_FORTUNE1000,STOCKEXCHANGE,FIGI,TICKERSYMBOL,LINKEDINURL,VERSION,LATEST_VERSION
0,Cea Ltd,86632020,CEA,86632020,Mulhouse,CA,97444,42,111998.0,NaN,ceallp.com,False,NaN,NaN,NaN,NaN,linkedin.com/company/cea-international,2.43,True
1,Cea,86632020,CEA,86632020,Mulhouse,CA,97444,42,111998.0,NaN,ceallp.com,False,NaN,NaN,NaN,NaN,linkedin.com/company/cea-international,2.43,True
2,Evermore Limited,35374586,"Evermore International Co., Ltd",35374586,Louisville,CO,80027,11,424450.0,10860.0,evermorewellbeing.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/evermore-co,2.43,True
3,"Nutanix, Inc",5449695,Nutanix,5449695,San Jose,CA,95110,51,511210.0,82990.0,nutanix.com,NaN,NaN,NASDAQ,BBG001NDW1Z7,ntnx,linkedin.com/company/nutanix,2.43,True
4,12 Month Contract,5732448,Deloitte,5732448,London,Greater London,EC4A 3HQ,54,541611.0,69201.0,http://www.deloitte.com,False,True,NaN,NaN,NaN,https://www.linkedin.com/company/deloitte/,2.43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,Vividq Limited,36293549,Vividq,36293549,London,NaN,W1U 7EU,NaN,NaN,62090.0,vivid-q.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/vividq,2.43,True
3356,Nti Limited,80647,Nti,80647,Saint John,CO,E2H 0A4,53,531120.0,43210.0,linmot.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/nti-llc,2.43,True
3357,Novartis,39227730,Novartis,39227730,Basel,Basel-Stadt,4056,31-33,325412.0,NaN,https://www.novartis.com/,False,False,NYSE,BBG000LYF3S8,nvs,https://www.linkedin.com/company/novartis/,2.43,True
3358,Cereproc Ltd,34391398,Cereproc Ltd.,34391398,Edinburgh,NaN,EH3 9DR,NaN,NaN,62012.0,cereproc.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/cereproc-ltd-,2.43,True
3359,Image (Ipswich) Ltd,1389559,Image Agent,1389559,Littleton,CO,80124,53,238320.0,73120.0,imagegmbh.eu,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/image,2.43,True

In [ ]:
#Add snowflake data to patents-lightcast data

In [658]:
merge_snow.rename(columns = {'term' : 'COMPANY_RAW', 'company_id_x' : 'CO_ID'}, inplace = True)

,COMPANY_RAW,CO_ID,company_name,company_id_y,CITY,STATE,POSTAL_CODE,NAICS2,NAICS6,UK_SIC,WEBSITE,IS_STAFFING,IS_FORTUNE1000,STOCKEXCHANGE,FIGI,TICKERSYMBOL,LINKEDINURL,VERSION,LATEST_VERSION
0,Cea Ltd,86632020,CEA,86632020,Mulhouse,CA,97444,42,111998.0,NaN,ceallp.com,False,NaN,NaN,NaN,NaN,linkedin.com/company/cea-international,2.43,True
1,Cea,86632020,CEA,86632020,Mulhouse,CA,97444,42,111998.0,NaN,ceallp.com,False,NaN,NaN,NaN,NaN,linkedin.com/company/cea-international,2.43,True
2,Evermore Limited,35374586,"Evermore International Co., Ltd",35374586,Louisville,CO,80027,11,424450.0,10860.0,evermorewellbeing.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/evermore-co,2.43,True
3,"Nutanix, Inc",5449695,Nutanix,5449695,San Jose,CA,95110,51,511210.0,82990.0,nutanix.com,NaN,NaN,NASDAQ,BBG001NDW1Z7,ntnx,linkedin.com/company/nutanix,2.43,True
4,12 Month Contract,5732448,Deloitte,5732448,London,Greater London,EC4A 3HQ,54,541611.0,69201.0,http://www.deloitte.com,False,True,NaN,NaN,NaN,https://www.linkedin.com/company/deloitte/,2.43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,Vividq Limited,36293549,Vividq,36293549,London,NaN,W1U 7EU,NaN,NaN,62090.0,vivid-q.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/vividq,2.43,True
3356,Nti Limited,80647,Nti,80647,Saint John,CO,E2H 0A4,53,531120.0,43210.0,linmot.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/nti-llc,2.43,True
3357,Novartis,39227730,Novartis,39227730,Basel,Basel-Stadt,4056,31-33,325412.0,NaN,https://www.novartis.com/,False,False,NYSE,BBG000LYF3S8,nvs,https://www.linkedin.com/company/novartis/,2.43,True
3358,Cereproc Ltd,34391398,Cereproc Ltd.,34391398,Edinburgh,NaN,EH3 9DR,NaN,NaN,62012.0,cereproc.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/cereproc-ltd-,2.43,True
3359,Image (Ipswich) Ltd,1389559,Image Agent,1389559,Littleton,CO,80124,53,238320.0,73120.0,imagegmbh.eu,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/image,2.43,True

In [743]:
vers12 = pd.merge(vers11, merge_snow, on = 'COMPANY_RAW', how = 'inner')

In [744]:
vers12

,ID,Authority,Filing_date,Pub_Date,Title,Country,Inventor_Type,Nace2,nuts,nuts_level,...,UK_SIC,WEBSITE,IS_STAFFING,IS_FORTUNE1000,STOCKEXCHANGE,FIGI,TICKERSYMBOL,LINKEDINURL,VERSION,LATEST_VERSION
0,113504.0,EP,2007-03-15,2012-09-12,Security system for a motor vehicle,GB,COMPANY,28.23,UKG33,3.0,...,29100.0,www.jaguarlandrover.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/jaguar-land-rover-deutsch...,2.43,True
1,46093806.0,US,2007-03-15,2010-05-04,Security system for a motor vehicle,GB,COMPANY,29.10,UK,0.0,...,29100.0,www.jaguarlandrover.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/jaguar-land-rover-deutsch...,2.43,True
2,21521043.0,GB,2007-03-15,2012-01-18,Security system for a motor vehicle,GB,COMPANY,28.23,UK,0.0,...,29100.0,www.jaguarlandrover.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/jaguar-land-rover-deutsch...,2.43,True
3,340796980.0,GB,2011-11-16,2013-05-29,Vehicle access system using a wired data conne...,GB,COMPANY,28.23,UK,0.0,...,29100.0,www.jaguarlandrover.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/jaguar-land-rover-deutsch...,2.43,True
4,334388702.0,GB,2011-03-29,2011-05-11,Control of active devices during cornering,GB,COMPANY,29.10,UK,0.0,...,29100.0,www.jaguarlandrover.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/jaguar-land-rover-deutsch...,2.43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155241,544301941.0,EP,2021-01-07,2022-07-13,METHOD AND SYSTEM FOR ROBOT-ASSISTED TRANSFER ...,DE,UNKNOWN,28.40,DE,0.0,...,43999.0,swisslog.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/swisslog,2.43,True
155242,485408722.0,EP,2016-11-28,2018-05-30,WEDGE FOR RE-RAILING A RAIL-GUIDED VEHICLE AND...,FR,UNKNOWN,30.00,FR714,3.0,...,47540.0,https://www.samsung.com/us/,False,False,NASDAQ,BBG000BT2DH4,SSNLF,https://www.linkedin.com/company/samsung-elect...,2.43,True
155243,572213313.0,EP,2021-05-12,2022-11-16,SYSTEM FOR IDENTIFYING A FAULT IN A PIPELINE,FR,UNKNOWN,26.20,FR101,4.0,...,49390.0,transdev.com,False,False,NaN,NaN,NaN,https://www.linkedin.com/company/-transdev/,2.43,True
155244,274383949.0,EP,2008-12-03,2011-10-12,MOTORIZED DEVICE OF MODULAR ASSEMBLY,FR,INDIVIDUAL,28.40,FR627,3.0,...,96020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.43,True
155245,15989790.0,EP,2001-10-31,2010-08-25,CONTACT PLANARIZATION MATERIALS THAT GENERATE ...,US,COMPANY,20.10,NaN,9.0,...,82990.0,brewerscience.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/brewer-science,2.43,True

In [958]:
#This is where duplicates on Title, fd, ctry, abstract were discovered and removed
full = full.sort_values(by = 'ID')
full.drop_duplicates(subset = ['Title', 'Filing_date', 'Country', 'Abstract'], inplace = True)

In [976]:
vers11 = vers10[vers10['ID'].isin(full['ID'])]

In [961]:
full = full.reset_index(drop = True)

In [642]:
unmfull = full[~full['ID'].isin(vers11['ID'])]

In [663]:
len(full)

376980

In [ ]:
#update name of sheet 16's keywords to Big Data

In [970]:
full.rename(columns = {'sh16':'Big Data'}, inplace = True)

In [ ]:
#investigate differences in Snowflake and Lightcast Data
#Expected perfect match, did not get that

In [670]:
ukco3.rename(columns = {'COMPANY' : 'ID'}, inplace = True)

In [694]:
borf = pd.merge(ukco3.drop_duplicates(subset = 'COMPANY_RAW'), snowclass, on = 'ID', how = 'inner')

In [696]:
borf.loc[:, 'COMPANY_RAW':'NAME']

,COMPANY_RAW,COMPANY_NAME,NUTS1,NUTS3,NUTS1_NAME,NUTS3_NAME,UK_SIC_1,UK_SIC_2,UK_SIC_5,UK_SIC_1_NAME,UK_SIC_2_NAME,UK_SIC_5_NAME,NAME
0,Robert Walters,Robert Walters,UKH,UKH21,East of England,Luton,N,78.0,78109.0,ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES,Employment activities,Activities of employment placement agencies (o...,Robert Walters
1,Walters People,Robert Walters,UKF,UKF30,East Midlands,Lincolnshire,N,78.0,78109.0,ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES,Employment activities,Activities of employment placement agencies (o...,Robert Walters
2,Vintage Inns,Vintage Inns,UKJ,UKJ26,South East,East Surrey,I,56.0,56101.0,ACCOMMODATION AND FOOD SERVICE ACTIVITIES,Food and beverage service activities,Licensed restaurants,Vintage Inns
3,Vintage Company Limited,Vintage Inns,UKM,UKM27,Scotland,Perth and Kinross and Stirling,I,56.0,56101.0,ACCOMMODATION AND FOOD SERVICE ACTIVITIES,Food and beverage service activities,Licensed restaurants,Vintage Inns
4,Vintage International Ltd,Vintage Inns,UKD,UKD72,North West,Liverpool,I,56.0,56101.0,ACCOMMODATION AND FOOD SERVICE ACTIVITIES,Food and beverage service activities,Licensed restaurants,Vintage Inns
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188726,Simple Care Connect,Simple Care Connect Limited,UKJ,UKJ41,South East,Medway,Q,86.0,86102.0,HUMAN HEALTH AND SOCIAL WORK ACTIVITIES,Human health activities,Medical nursing home activities,Simple Care Connect Limited
188727,Bowline Limited,Bowline,UKD,UKD72,North West,Liverpool,J,62.0,62020.0,INFORMATION AND COMMUNICATION,"Computer programming, consultancy and related ...",Computer consultancy activities,Bowline
188728,St Paul's Carnival,ST Pauls Carnival (bristol) C.i.c.,UKK,UKK11,South West,City of Bristol,N,82.0,82990.0,ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES,"Office administrative, office support and othe...",Other business support service activities nec,ST Pauls Carnival (bristol) C.i.c.
188729,Newbook Pms UK Ltd,Newbook PMS Uk LTD,UKJ,UKJ46,South East,West Kent,J,62.0,62020.0,INFORMATION AND COMMUNICATION,"Computer programming, consultancy and related ...",Computer consultancy activities,Newbook PMS Uk LTD
188730,Bee Manchester Limited,Bee Manchester LTD,UKD,UKD33,North West,Manchester,G,47.0,47710.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,"Retail trade, except of motor vehicles and mot...",Retail sale of clothing in specialised stores,Bee Manchester LTD

In [705]:
hmm = list(ukco3[ukco3['COMPANY_NAME'] != 'Unclassified'].drop_duplicates(subset = 'ID')['COMPANY_NAME'])

In [706]:
snowclear = snowco[snowco['NAME'] != 'Unclassified'].drop_duplicates(subset = 'ID')

In [750]:
vers12.drop(columns = 'company_id_y', inplace = True)

In [745]:
v1 = vers12.columns

In [721]:
snowco.rename(columns = {'ID' : 'CO_ID'}, inplace = True)

In [746]:
vers12.CO_ID = vers12.CO_ID.astype('int64')

In [ ]:
#merge manufacturing data onto current dataframe

In [780]:
testmerge = pd.merge(vers12, manco3.drop_duplicates(subset = 'COMPANY_RAW'), on = 'COMPANY', how = 'inner')

In [791]:
manmergecos = list(set(testmerge['COMPANY_RAW_COPY']))

In [806]:
man_co_common = pd.merge(ukcompanies3.rename(columns = {'ID' : 'COMPANY'}), manco3.drop_duplicates(subset = 'COMPANY'), on = 'COMPANY', how = 'inner')

In [804]:
ukcompanies3 = ukco3.drop_duplicates(subset = 'ID')

In [807]:
man_co_common.drop_duplicates(subset = 'COMPANY', inplace = True)

In [809]:
man_co_common_cos = list(set(man_co_common['COMPANY']))

In [830]:
#note that only 70-80% of lightcast COs have match in snowflake on ID
test = pd.merge(ukco3.drop_duplicates(subset = 'ID'), snowco.rename(columns = {'CO_ID' : 'ID'}), how = 'inner', on = 'ID')

,COUNT(COMPANY),ID,COMPANY_RAW,COMPANY_NAME,NUTS1,NUTS3,NUTS1_NAME,NUTS3_NAME,UK_SIC_1,UK_SIC_2,...,UK_SIC,WEBSITE,IS_STAFFING,IS_FORTUNE1000,STOCKEXCHANGE,FIGI,TICKERSYMBOL,LINKEDINURL,VERSION,LATEST_VERSION
0,305,99479743,Robert Walters,Robert Walters,UKH,UKH21,East of England,Luton,N,78.0,...,78109.0,robertwalters.com,True,NaN,NaN,NaN,NaN,linkedin.com/company/robert-walters_4,2.43,True
1,38,37175576,Vintage Inns,Vintage Inns,UKJ,UKJ26,South East,East Surrey,I,56.0,...,56101.0,vintageinn.co.uk,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/vintage-inns,2.43,True
2,1,69535,Ser Group Limited,Ser Group,UKK,UKK43,South West,Devon CC,N,82.0,...,82990.0,s-e-r.it,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/ser-group,2.43,True
3,1495,99479866,Brook Street Bureau Plc,Brook Street,UKL,UKL21,Wales,Monmouthshire and Newport,N,78.0,...,NaN,brookstreet.co.uk,True,NaN,NaN,NaN,NaN,linkedin.com/company/brook-street,2.43,True
4,1668,12262703,RED LTD,RED,UKG,UKG13,West Midlands,Warwickshire,N,78.0,...,78109.0,https://www.redbull.com/gb-en/,True,NaN,NaN,NaN,NaN,NaN,2.43,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172421,1,37070209,Simple Care Connect,Simple Care Connect Limited,UKJ,UKJ41,South East,Medway,Q,86.0,...,86102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.43,True
172422,1,3852666,Bowline Limited,Bowline,UKD,UKD72,North West,Liverpool,J,62.0,...,62020.0,wearebowline.com,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/bowline-communications,2.43,True
172423,1,100399785,St Paul's Carnival,ST Pauls Carnival (bristol) C.i.c.,UKK,UKK11,South West,City of Bristol,N,82.0,...,82990.0,NaN,NaN,NaN,NaN,NaN,NaN,linkedin.com/company/st-pauls-carnival-cic,2.43,True
172424,1,100414556,Newbook Pms UK Ltd,Newbook PMS Uk LTD,UKJ,UKJ46,South East,West Kent,J,62.0,...,62020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.43,True
172425,1,33819116,Bee Manchester Limited,Bee Manchester LTD,UKD,UKD33,North West,Manchester,G,47.0,...,47710.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.43,True

In [994]:
#try to get a better match rate for patents and manufacturing data
man_names = list(set(manco3['COMPANY_RAW']))
holder = lightcast_api_use(man_names)

In [924]:
holder2 = lightcast_api_use(list(set(full['Name'])))

In [988]:
full_manco = pd.merge(holder2, holder, on = 'company_id', how = 'inner').drop_duplicates(subset = 'term_x').iloc[:, [0,1,7]]

In [1000]:
full_manco.rename(columns = {'term_x' : 'Name', 'term_y' : 'COMPANY_RAW', 'company_id' : 'COMPANY'}, inplace = True)

In [1008]:
full_with_manco = pd.merge(full, full_manco, on = 'Name', how = 'inner')

In [983]:
holder3 = lightcast_api_use(list(set(full[full['Inventor_Type'] != 'Individual']['Name'])))

In [1018]:
holder3 = holder3[holder3['company_name']!= 'Unclassified']

In [1012]:
frontier_technologies = ['AI', 'AV',
       'Big Data', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec']

In [1021]:
holder3 = holder3.iloc[:, [0,1]]

In [1022]:
holder3.rename(columns = {'term' : 'Name', 'company_id' : 'COMPANY'},inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/2474347692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  holder3.rename(columns = {'term' : 'Name', 'company_id' : 'COMPANY'},inplace = True)

In [24]:
#Add Column COMPANY to patent dataset for easy merging with lightcast data
#Do this mainly so that unmatched unmatched patents can potentially get a match
#And see if any patents not already matched by UK_Companies3 has a match in another dataset
#ultimately looking to see if patents-Manuf merge is different to Patents-Lightcast-Manuf merge

In [1034]:
fullid = pd.merge(full, holder3, on = 'Name', how = 'inner')

In [1036]:
ukco3.rename(columns = {'ID' : 'COMPANY'}, inplace = True)

In [1047]:
full_co_test = pd.merge(fullid, ukcompanies3, on = 'COMPANY', how = 'inner')

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,NUTS1,NUTS3,NUTS1_NAME,NUTS3_NAME,UK_SIC_1,UK_SIC_2,UK_SIC_5,UK_SIC_1_NAME,UK_SIC_2_NAME,UK_SIC_5_NAME
0,281,EP,2008-06-09,2012-11-21,Method for monitoring the time basis of a data...,SIEMENS AKTIENGESELLSCHAFT,DE,COMPANY,26.51,DE212,...,UKN,UKN06,Northern Ireland,Belfast,C,26.0,26110.0,MANUFACTURING,"Manufacture of computer, electronic and optica...",Manufacture of electronic components
1,382,EP,2008-06-13,2013-02-27,Method for distance measuring and data transfe...,SIEMENS AKTIENGESELLSCHAFT,DE,COMPANY,26.50,DE212,...,UKN,UKN06,Northern Ireland,Belfast,C,26.0,26110.0,MANUFACTURING,"Manufacture of computer, electronic and optica...",Manufacture of electronic components
2,1108,EP,2007-01-09,2010-07-14,Troubleshooting method for an automation contr...,SIEMENS AKTIENGESELLSCHAFT,DE,COMPANY,26.51,DE212,...,UKN,UKN06,Northern Ireland,Belfast,C,26.0,26110.0,MANUFACTURING,"Manufacture of computer, electronic and optica...",Manufacture of electronic components
3,12865,EP,2007-01-17,2011-12-14,Method for backing up and restoring a state in...,SIEMENS AKTIENGESELLSCHAFT,DE,COMPANY,26.20,DE212,...,UKN,UKN06,Northern Ireland,Belfast,C,26.0,26110.0,MANUFACTURING,"Manufacture of computer, electronic and optica...",Manufacture of electronic components
4,20496,EP,2008-05-28,2011-07-13,Method for data transmission in an automation ...,SIEMENS AKTIENGESELLSCHAFT,DE,COMPANY,26.30,DE212,...,UKN,UKN06,Northern Ireland,Belfast,C,26.0,26110.0,MANUFACTURING,"Manufacture of computer, electronic and optica...",Manufacture of electronic components
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131617,587076305,WO,2021-07-28,2023-02-02,BLUE LIGHT MITIGATION AND COLOR CORRECTION IN ...,EYESAFE INC.,US,COMPANY,26.20,NaN,...,UKH,UKH32,East of England,Thurrock,NaN,NaN,NaN,NaN,NaN,NaN
131618,587078084,WO,2021-07-28,2023-02-02,AUTONOMOUS ELECTRIC MOWER SYSTEM AND RELATED M...,"GRAZE, INC.",US,UNKNOWN,NaN,NaN,...,UKE,UKE22,Yorkshire and The Humber,North Yorkshire CC,G,47.0,47290.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,"Retail trade, except of motor vehicles and mot...",Other retail sale of food in specialised stores
131619,587380932,US,2019-07-03,2023-02-09,EDUCATIONAL AND CONTENT RECOMMENDATION MANAGEM...,OBRIZUM GROUP LTD.,GB,COMPANY,26.20,UK,...,UKH,UKH12,East of England,Cambridgeshire CC,M,74.0,74909.0,"PROFESSIONAL, SCIENTIFIC AND TECHNICAL ACTIVITIES","Other professional, scientific and technical a...","Other professional, scientific and technical a..."
131620,587403646,WO,2021-08-04,2023-02-09,NURSERY BASED DEVICES WITH CONNECTIVITY TO IOT...,"MUNCHKIN, INC.",US,COMPANY,32.00,NaN,...,UKE,UKE42,Yorkshire and The Humber,Leeds,G,47.0,NaN,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,"Retail trade, except of motor vehicles and mot...",NaN
131621,587560844,GB,2022-05-22,2023-02-15,Real-time cloud-based web application,AT Nexus Ltd,,UNKNOWN,NaN,NaN,...,UKH,UKH14,East of England,Suffolk,N,80.0,80100.0,ADMINISTRATIVE AND SUPPORT SERVICE ACTIVITIES,Security and investigation activities,Private security activities

In [1045]:
ukcompanies3 = ukco3.drop_duplicates(subset = 'COMPANY')

In [1051]:
mancompanies3 = manco3.drop_duplicates(subset = 'COMPANY')

In [1052]:
#note differences between manuf data and lightcast data
#Manuf data contains a subset of companies from Lightcast data
man_cast = pd.merge(ukcompanies3, mancompanies3, on = 'COMPANY', how = 'inner')

,COUNT(COMPANY)_x,COMPANY,COMPANY_RAW_x,COMPANY_NAME_x,NUTS1_x,NUTS3_x,NUTS1_NAME_x,NUTS3_NAME_x,UK_SIC_1_x,UK_SIC_2_x,...,NUTS1_y,NUTS3_y,NUTS1_NAME_y,NUTS3_NAME_y,UK_SIC_1_y,UK_SIC_2_y,UK_SIC_5_y,UK_SIC_1_NAME_y,UK_SIC_2_NAME_y,UK_SIC_5_NAME_y
0,32,79335273,Mansfield Group Limited,Mansfield Group,UKF,UKF15,East Midlands,North Nottinghamshire,C,33.0,...,UKF,UKF15,East Midlands,North Nottinghamshire,C,33,NaN,MANUFACTURING,Repair and installation of machinery and equip...,NaN
1,261,2552872,Caterpillar Limited,Caterpillar,UKF,UKF22,East Midlands,Leicestershire CC and Rutland,C,28.0,...,UKF,UKF22,East Midlands,Leicestershire CC and Rutland,C,28,28220.0,MANUFACTURING,Manufacture of machinery and equipment nec,Manufacture of lifting and handling equipment
2,7,33230464,Afi Group Limited,Afi Group,UKL,UKL21,Wales,Monmouthshire and Newport,C,31.0,...,UKL,UKL21,Wales,Monmouthshire and Newport,C,31,31090.0,MANUFACTURING,Manufacture of furniture,Manufacture of other furniture
3,151,33620084,Hammonds Furniture Ltd,Hammonds Furniture Ltd,UKH,UKH23,East of England,Hertfordshire,C,31.0,...,UKH,UKH23,East of England,Hertfordshire,C,31,31090.0,MANUFACTURING,Manufacture of furniture,Manufacture of other furniture
4,3,33014420,Kinetec Medical Products Uk Ltd,Kinetec Medical Products Uk Limited,UKJ,UKJ37,South East,North Hampshire,C,33.0,...,UKJ,UKJ37,South East,North Hampshire,C,33,33190.0,MANUFACTURING,Repair and installation of machinery and equip...,Repair of other equipment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20039,1,100125248,Kverneland Group UK Limited,Kverneland Group Uk Limited,UKD,UKD71,North West,East Merseyside,C,28.0,...,UKD,UKD71,North West,East Merseyside,C,28,28302.0,MANUFACTURING,Manufacture of machinery and equipment nec,Manufacture of agricultural and forestry machi...
20040,1,33861574,Datem Ltd,Datem Incorporated,UKF,UKF30,East Midlands,Lincolnshire,C,28.0,...,UKF,UKF30,East Midlands,Lincolnshire,C,28,28990.0,MANUFACTURING,Manufacture of machinery and equipment nec,Manufacture of other special-purpose machinery...
20041,1,34736950,Elekem Limited,Elekem Limited,UKD,UKD46,North West,East Lancashire,C,22.0,...,UKD,UKD46,North West,East Lancashire,C,22,22290.0,MANUFACTURING,Manufacture of rubber and plastic products,Manufacture of other plastic products
20042,1,75643364,Grupo Bimbo,Grupo Bimbo,UKE,UKE31,Yorkshire and The Humber,"Barnsley, Doncaster and Rotherham",C,10.0,...,UKE,UKE31,Yorkshire and The Humber,"Barnsley, Doncaster and Rotherham",C,10,NaN,MANUFACTURING,Manufacture of food products,NaN
20043,1,100202487,Enterprise Joinery Cabinet Makers Limited,Enterprise Joinery & Cabinet Makers Limited,UKE,UKE11,Yorkshire and The Humber,"Kingston upon Hull, City of",C,31.0,...,UKE,UKE11,Yorkshire and The Humber,"Kingston upon Hull, City of",C,31,31010.0,MANUFACTURING,Manufacture of furniture,Manufacture of office and shop furniture

In [1080]:
manmatched_patents = pd.merge(vers11, mancompanies3, on = 'COMPANY', how = 'inner')

In [1065]:
unmfullid = fullid[~fullid['ID'].isin(vers11['ID'])]

In [1069]:
#no matches among unmatched patents
any_unmatched = pd.merge(unmfullid, mancompanies3, on = 'COMPANY', how = 'inner')

Empty DataFrame
Columns: [ID, Authority, Filing_date, Pub_Date, Title, Name, Country, Inventor_Type, Nace2, nuts, nuts_level, Sector, Abstract, Address, Forward_Citations, Basic communication processes, Chemical engineering, Materials, metallurgy, Other consumer goods, Medical technology, Mechanical elements, Handling, Analysis of biological materials, Thermal processes and apparatus, Machine tools, Control, Telecommunications, Textile and paper machines, Computer technology, Semiconductors, IT methods for management, Civil engineering, Basic materials chemistry, Pharmaceuticals, Biotechnology, Transport, Digital communication, Electrical machinery, apparatus, energy, Macromolecular chemistry, polymers, Optics, Furniture, games, Engines, pumps, turbines, Audio-visual technology, Micro-structural and nano-technology, Other special machines, Measurement, Organic fine chemistry, Food chemistry, Environmental technology, Surface technology, coating, AI, AV, Big Data, NLP, NN, ImRec, Robotics, ProgLang, Cloud, MachLearn, CyberSec, COMPANY, COUNT(COMPANY), COMPANY_RAW, COMPANY_NAME, NUTS1, NUTS3, NUTS1_NAME, NUTS3_NAME, UK_SIC_1, UK_SIC_2, UK_SIC_5, UK_SIC_1_NAME, UK_SIC_2_NAME, UK_SIC_5_NAME]
Index: []

[0 rows x 75 columns]

In [1075]:
len(set(full[full['Inventor_Type'] != 'INDIVIDUAL']['Name']))

64006

In [1088]:
#patents with match in manuf
mmp = full[full['ID'].isin(manmatched_patents['ID'])]

In [1091]:
#patents with match in lightcast

lcp = full[full['ID'].isin(vers11['ID'])]

In [1092]:
#patents with match in snowflake

lsp = full[full['ID'].isin(vers12['ID'])]

In [1114]:
snowco.rename(columns = {'CO_ID' : 'COMPANY'}, inplace = True)

In [27]:
#Create summary statistics to check current state of dataframe
#If it is meeting expectations or producing strange results
#note that number of companies columns uses unique names from patent dataset
#As company names are not standardized across patenting bodies, numbers are large
#Estimate 1/2 is a better estimate for number of companies present

In [1103]:
AIprop = []
AVprop = []
BDprop = []
NLPprop = []
NNprop = []
IRprop = []
ROBOprop = []
PLprop = []
CLprop = []
MLprop = []
CSprop = []
Total = []

In [1164]:
def filler (df):
    Total.append(len(df))
    AIprop.append(sum(df['AI']))
    AVprop.append(sum(df['AV']))
    BDprop.append(sum(df['Big Data']))
    NLPprop.append(sum(df['NLP']))
    NNprop.append(sum(df['NN']))
    IRprop.append(sum(df['ImRec']))
    ROBOprop.append(sum(df['Robotics']))
    PLprop.append(sum(df['ProgLang']))
    CLprop.append(sum(df['Cloud']))
    MLprop.append(sum(df['MachLearn']))
    CSprop.append(sum(df['CyberSec']))

In [1168]:
filler(lsp)
filler(lcp)
filler(mmp)

In [1170]:
summary = pd.DataFrame()

In [1171]:
summary['AI'] = AIprop
summary['AV'] = AVprop
summary['Big Data'] = BDprop
summary['NLP'] = NLPprop
summary['NN'] = NNprop
summary['ImRec'] = IRprop
summary['Robo'] = ROBOprop
summary['ProgLang'] = PLprop
summary['MachLearn'] = MLprop
summary['CyberSec'] = CSprop
summary['Total'] = Total

In [1172]:
summary

,AI,AV,Big Data,NLP,NN,ImRec,Robo,ProgLang,MachLearn,CyberSec,Total
0,26282,4190,23947,3286,7339,36000,10040,12490,22823,25492,155116
1,31599,5254,29551,3892,9160,42820,12385,14549,29033,32025,190479
2,5131,1640,4227,406,1164,6759,3516,2897,5143,3778,30268

In [1202]:
summary = summary.set_index([pd.Index(['Lightcast-SnowFlake-Pat', 'Lightcast-Pat', 'Lightcast-Manufacturing-Patent'])])

In [1183]:
fullsumm = {'AI' : sum(full['AI']), 'AV' : sum(full['AV']), 'Big Data' : sum(full['Big Data']), 'NLP' : sum(full['NLP']), 'NN' : sum(full.NN), 'ImRec' : sum(full.ImRec), 'Robo' : sum(full.Robotics), 'ProgLang' : sum(full.ProgLang), 'MachLearn' : sum(full.MachLearn), 'CyberSec' : sum(full.CyberSec), 'Total' : len(full)}

In [1199]:
fullsummframe = pd.DataFrame([fullsumm]).set_index([pd.Index(['Patent'])])

In [1204]:
summary = pd.concat([summary, fullsummframe])

In [1205]:
CLprop.append(sum(full['Cloud']))

In [1217]:
companies_from_pat = [len(set(lsp['Name'])),len(set(lcp['Name'])), len(set(mmp['Name'])), len(set(full[full['Inventor_Type'] != 'INDIVIDUAL']['Name']))]

In [1220]:
f = list(summary['Total'])

In [1221]:
summary.drop(columns = 'Total', inplace = True)

In [1222]:
summary['Cloud'] = CLprop
summary['No_Pat_Companies'] = companies_from_pat

In [1223]:
summary['Total_Patents'] = f

In [28]:
#Create summary statistics for year by year change in patents by technology/sector

In [1348]:
years = vers12['Publn_Year'].unique()
years.sort()
fts = frontier_technologies
industries = list(set(vers12['UK_SIC_1_NAME']))
Yearly_tech_count = pd.DataFrame()
Yearly_ind_count = pd.DataFrame()
Yearly_ind_count['Totals'] = vers12.groupby(by = 'UK_SIC_1_NAME').size()
Yearly_tech_count['Totals'] = [len(vers12[vers12['Frontier_Technologies'].str.contains(ft)]) for ft in fts]
#Loop through months to fill dataframe with average max temperature each decade by month
for year in years:
    yearframe = vers12[vers12['Publn_Year'] == year]
    counttech = [len(yearframe[yearframe['Frontier_Technologies'].str.contains(ft)]) for ft in fts]
    countind = yearframe.groupby(by = 'UK_SIC_1_NAME').size()
    Yearly_ind_count[year] = countind
    Yearly_tech_count[year] = counttech

In [1349]:
Yearly_tech_count = Yearly_tech_count.set_index([fts]).reset_index()

In [1350]:
Yearly_ind_count.fillna(value = 0, inplace = True)
Yearly_ind_count = Yearly_ind_count.reset_index()

In [1351]:
Yearly_ind_count.rename(columns = {'UK_SIC_1_NAME' : 'Tech/Ind'}, inplace = True)

In [1352]:
Yearly_tech_count.rename(columns = {'index' : 'Tech/Ind'}, inplace = True)

In [1353]:
yearly_tech_ind_counts = pd.concat([Yearly_tech_count, Yearly_ind_count])

In [ ]:
co_raws_vers = [3356, 4314, 842, np.nan]

In [1403]:
summary['No_Co_LC'] = co_raws_vers

In [1418]:
everymerge = pd.merge(vers12, mancompanies3, how = 'inner', on = 'COMPANY')

In [1419]:
snowman = pd.merge(mancompanies3, snowco, how = 'inner', on = 'COMPANY')

In [1422]:
snowcast = pd.merge(ukcompanies3,snowco, how = 'inner', on = 'COMPANY')

In [1428]:
len(vers10)

225802

In [1443]:
summary

,AI,AV,Big Data,NLP,NN,ImRec,Robo,ProgLang,MachLearn,CyberSec,Cloud,No_Pat_Companies,Total_Patents,No_Co_LC
Lightcast-SnowFlake-Pat,26282,4190,23947,3286,7339,36000,10040,12490,22823,25492,18575,7439,155116,3356.0
Lightcast-Pat,31599,5254,29551,3892,9160,42820,12385,14549,29033,32025,23108,9271,190479,4314.0
Lightcast-Manufacturing-Patent,5131,1640,4227,406,1164,6759,3516,2897,5143,3778,2738,1995,30268,842.0
Patent,58297,10885,59515,7642,18594,83111,30262,29729,61746,60128,45916,64006,376980,NaN

In [1451]:
#Investigate presence of unexpected Sectors
SIC1s = vers11.dropna(subset = 'UK_SIC_1')

In [1459]:
SIC1s[SIC1s['UK_SIC_1_NAME'].str.contains('WHOLESALE AND RETAIL TRADE')]['COMPANY_RAW']

14865     Nissan Motor Manufacturing
14866     Nissan Motor Manufacturing
14867     Nissan Motor Manufacturing
14868     Nissan Motor Manufacturing
14869     Nissan Motor Manufacturing
                     ...
225778      Leica Geosystems Limited
225779      Leica Geosystems Limited
225780      Leica Geosystems Limited
225781      Leica Geosystems Limited
225798    S.A.S. (Materials) Limited
Name: COMPANY_RAW, Length: 36525, dtype: object

In [1462]:
ukco3[ukco3['COMPANY_RAW'].str.contains('Nissan')]

,COUNT(COMPANY),COMPANY,COMPANY_RAW,COMPANY_NAME,NUTS1,NUTS3,NUTS1_NAME,NUTS3_NAME,UK_SIC_1,UK_SIC_2,UK_SIC_5,UK_SIC_1_NAME,UK_SIC_2_NAME,UK_SIC_5_NAME
4649,23,36316196,Nissan Motor Manufacturing,Nissan,UKJ,UKJ37,South East,North Hampshire,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
11514,7,36316196,Nissan Motor Manufacturing,Nissan,UKG,UKG33,West Midlands,Coventry,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
29472,2,36316196,Nissan Motor Manufacturing,Nissan,UKC,UKC13,North East,Darlington,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
38405,2,36316196,Nissan Motor Manufacturing,Nissan,UKC,UKC12,North East,South Teesside,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
82347,2,36316196,Nissan Motor Manufacturing,Nissan,UKE,UKE45,Yorkshire and The Humber,Wakefield,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464382,1,36316196,Nissan Motor Manufacturing,Nissan,UKL,UKL13,Wales,Conwy and Denbighshire,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
1471312,19,36316196,Nissan Motor Manufacturing,Nissan,UKC,UKC21,North East,Northumberland,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
1481811,4,36316196,Nissan Motor Manufacturing,Nissan,UKF,UKF12,East Midlands,East Derbyshire,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
1491960,5,36316196,Nissan Motor Manufacturing,Nissan,UKE,UKE44,Yorkshire and The Humber,Calderdale and Kirklees,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles
1492966,2,36316196,Nissan Motor Manufacturing,Nissan,UKM,UKMS12000017,Scotland,Highland,G,45.0,45111.0,WHOLESALE AND RETAIL TRADE; REPAIR OF MOTOR VE...,Wholesale and retail trade and repair of motor...,Sale of new cars and light motor vehicles

In [ ]:
#Read in data from FAME to match up with manufacturing data
#Must be done is small chunks
#Take in all companies that are in manufacturing based on SIC code

In [1881]:
fameset = pd.DataFrame()

In [2087]:
fameset = pd.concat([fameset, pd.read_csv('ff.csv')])

In [2088]:
fameset.drop_duplicates(inplace = True)

211707

In [2089]:
fameset.reset_index(drop = True, inplace = True)

In [2092]:
fameset.drop(columns = ['Unnamed: 0'], inplace = True)

In [2102]:
fameset = fameset.drop_duplicates(subset = 'Company name').reset_index(drop = True)

In [ ]:
#Finalize and export datasets
#note vers11 is patents-Lightcast
#Vers12 is patents-lightcast-snowflake

In [1473]:
df = full.loc[:, 'Basic communication processes' : 'Surface technology, coating']
cols = df.columns
df2 = df
df2['Ones'] = 1
df2['Fields'] = df2[cols].apply(lambda s: ', '.join((m:=s == (df2.loc[s.name, 'Ones']))[m].index), axis=1)
FandS = df2['Fields']

In [1475]:
full['Fields'] = FandS

In [1494]:
full_final = full.drop(columns = ['Basic communication processes', 'Chemical engineering',
       'Materials, metallurgy', 'Other consumer goods', 'Medical technology',
       'Mechanical elements', 'Handling', 'Analysis of biological materials',
       'Thermal processes and apparatus', 'Machine tools', 'Control',
       'Telecommunications', 'Textile and paper machines',
       'Computer technology', 'Semiconductors', 'IT methods for management',
       'Civil engineering', 'Basic materials chemistry', 'Pharmaceuticals',
       'Biotechnology', 'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating'])

In [1509]:
df = full.loc[:, 'AI' : 'CyberSec']
cols = df.columns
df2 = df
df2['Ones'] = 1
df2['Frontier_Tech'] = df2[cols].apply(lambda s: ', '.join((m:=s == (df2.loc[s.name, 'Ones']))[m].index), axis=1)
FandS = df2['Frontier_Tech']

In [1513]:
full['Frontier_Tech'] = FandS

In [1517]:
full_final.drop(columns = ['AI', 'AV',
       'Big Data', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec'], inplace = True)

In [1519]:
full_final['Frontier_Tech'] = FandS

In [1555]:
LC_hits_ID = list(set(vers11['ID']))

In [ ]:
#Add dummy variable if file is in Lightcast in patent dataset

In [1564]:
full_final['In_LC'] = 0

In [1565]:
full_final.loc[full_final.ID.isin(LC_hits_ID), 'In_LC'] = 1

In [1581]:
patentcast = vers11

In [1591]:
#Add dummy variable if file is in Snowflake in patent-LC dataset
patentcast['In_SF'] = 0

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/2790163525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  patentcast['In_SF'] = 0

In [1592]:
patentcast.loc[patentcast.ID.isin(vers12['ID']), 'In_SF'] = 1

In [1590]:
vers12.drop_duplicates(subset = 'ID', keep = 'last', inplace = True)

In [1627]:
man_patents = pd.merge(manmerger, mansec3.drop_duplicates(subset = 'COMPANY'), how = 'inner', on = 'COMPANY')

In [1626]:
manmerger = vers11.drop(columns = ['COUNT(COMPANY)', 'COMPANY_NAME', 'COMPANY_RAW',
       'NUTS1', 'NUTS3', 'NUTS1_NAME', 'NUTS3_NAME', 'UK_SIC_1', 'UK_SIC_2',
       'UK_SIC_5', 'UK_SIC_1_NAME', 'UK_SIC_2_NAME', 'UK_SIC_5_NAME'])

In [ ]:
#return to Fame, match using API

In [2107]:
fame_names = list(set(fameset['Company name']))

In [2108]:
fame_name_match = lightcast_api_use(fame_names)

In [2115]:
pat_co_name = list(set(full_final[full_final['Inventor_Type'] != 'INDIVIDUAL']['Name']))

In [2116]:
pat_name_match = lightcast_api_use(pat_co_name)

In [2118]:
lc_names = list(set(ukcompanies3['COMPANY_RAW']))

In [2119]:
lc_name_match = lightcast_api_use(lc_names)

In [2121]:
fnm = fame_name_match[fame_name_match['company_name'] != 'Unclassified']

In [2124]:
fnm.drop(columns = ['company_naics',
       'company_website', 'company_isStaffing', 'company_isFortune1000', 'company_name'], inplace = True)
fnm.rename(columns = {'term' : 'Fame_Name'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/423553630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fnm.drop(columns = ['company_naics',
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/423553630.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fnm.rename(columns = {'term' : 'Fame_Name'}, inplace = True)

In [2126]:
lnm = lc_name_match[lc_name_match['company_name'] != 'Unclassified']
lnm.drop(columns = ['company_naics',
       'company_website', 'company_isStaffing', 'company_isFortune1000', 'company_name'], inplace = True)
lnm.rename(columns = {'term' : 'LC_Name'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/3982461738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lnm.drop(columns = ['company_naics',
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/3982461738.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lnm.rename(columns = {'term' : 'LC_Name'}, inplace = True)

In [2134]:
pnm = pat_name_match[pat_name_match['company_name'] != 'Unclassified']
pnm.drop(columns = ['company_naics',
       'company_website', 'company_isStaffing', 'company_isFortune1000', 'company_name'], inplace = True)
pnm.rename(columns = {'term' : 'Pat_Name'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/1960284245.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pnm.drop(columns = ['company_naics',
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/1960284245.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pnm.rename(columns = {'term' : 'Pat_Name'}, inplace = True)

In [2152]:
merger = pd.merge(pnm, fnm.drop_duplicates(subset = 'company_id'), how = 'inner', on = 'company_id')

In [2163]:
full_fame = pd.merge(full_final, merger.rename(columns = {'Pat_Name' : 'Name'}), how = 'inner', on = 'Name')

In [2169]:
full_final.groupby(by = 'Name').size().sort_values(ascending = False).iloc[0:10]

Name
Samsung Electronics Co., Ltd.              5612
HUAWEI TECHNOLOGIES CO., LTD.              5179
Huawei Technologies Co., Ltd.              4384
Sony Corporation                           3875
MICROSOFT TECHNOLOGY LICENSING, LLC        3254
SONY CORPORATION                           2942
PING AN TECHNOLOGY (SHENZHEN) CO., LTD.    2649
NEC CORPORATION                            2426
MITSUBISHI ELECTRIC CORPORATION            2296
Siemens Aktiengesellschaft                 2244
dtype: int64

In [2204]:
mergeman = pd.merge(holder, fnm, on = 'company_id', how = 'inner').drop_duplicates(subset = 'term').rename(columns = {'term': 'COMPANY_RAW'})

In [2207]:
man_fame = pd.merge(mansec3, mergeman, how = 'inner', on = 'COMPANY_RAW')

In [2228]:
uno = list(set(man_fame['COMPANY_RAW']))

In [2218]:
man_fame.columns

Index(['ID', 'CERTIFICATIONS', 'CERTIFICATIONS_NAME', 'CITY', 'CITY_NAME',
       'COMPANY', 'COMPANY_IS_STAFFING', 'COMPANY_NAME', 'COMPANY_RAW',
       'CONTRACT_TYPE',
       ...
       'LOT_V6_CAREER_AREA_NAME', 'MODELED_EXPIRED', 'MODELED_DURATION',
       'company_id', 'company_name', 'company_naics', 'company_website',
       'company_isStaffing', 'company_isFortune1000', 'Fame_Name'],
      dtype='object', length=112)

In [2219]:
man_fame.drop(columns = ['company_id', 'company_name', 'company_naics', 'company_website',
       'company_isStaffing', 'company_isFortune1000'], inplace = True)

In [2226]:
mfm = man_fame.loc[:, ['COMPANY_RAW', 'Fame_Name']].drop_duplicates(subset = 'COMPANY_RAW')

In [2239]:
g = mansec3[~mansec3['COMPANY_RAW'].isin(uno)]['COMPANY_RAW']

In [2297]:
holder5 = list(set(g))

In [2277]:
fame_man = pd.merge(man_fame, fameset.rename(columns = {'Company name' : 'Fame_Name'}), how = 'inner', on = 'Fame_Name')

In [2276]:
#After initial matching, use FAMEs company search tool to try and find matches for remaining manuf companies

181673

In [2305]:
remman = pd.DataFrame()

In [2345]:
remman = pd.concat([remman, pd.read_csv('rm.csv')])

In [ ]:
#Use API to search for matches, expect high hit rate

In [2412]:
xyz = lightcast_api_use(list(set(remman['Company name'])))

In [2413]:
abc = lightcast_api_use(list(set(g)))

In [2433]:
hmm = pd.merge(abc, xyz.drop_duplicates(subset = 'company_id'), on = 'company_id', how = 'inner')

In [2438]:
remmerge = hmm.iloc[:, [0, 7]].rename(columns = {'term_x' : 'COMPANY_RAW', 'term_y' : 'Company name'})

In [2442]:
unmatchedman = mansec3[~mansec3['COMPANY_RAW'].isin(uno)]

In [2446]:
unmmwfn = pd.merge(unmatchedman, remmerge, on = 'COMPANY_RAW', how = 'inner')

In [2454]:
unmb = pd.merge(unmmwfn, remman.drop_duplicates(subset = 'Company name'), on = 'Company name', how = 'left')

In [ ]:
#Change columns / drop columns for suitable concatenation

In [2461]:
ccc = list(fame_man.columns)

In [2462]:
cc = list(unmb.columns)

In [2465]:
print([c for c in cc if c not in ccc])

['Company name', 'Unnamed: 0', 'Long Term Liabilities\nLast avail. yr', 'Long Term Liabilities\n2023', 'Long Term Liabilities\n2022', 'Long Term Liabilities\n2021', 'Long Term Liabilities\n2020', 'Long Term Liabilities\n2019', 'Long Term Liabilities\n2018', 'Long Term Liabilities\n2017', 'Long Term Liabilities\n2016', 'Long Term Liabilities\n2015', 'Long Term Liabilities\n2014', 'Long Term Liabilities\n2013', 'Long Term Liabilities\n2012', 'Long Term Liabilities\n2011', 'Long Term Liabilities\n2010']

In [2471]:
unmb.drop(columns = ['Unnamed: 0', 'Long Term Liabilities\nLast avail. yr', 'Long Term Liabilities\n2023', 'Long Term Liabilities\n2022', 'Long Term Liabilities\n2021', 'Long Term Liabilities\n2020', 'Long Term Liabilities\n2019', 'Long Term Liabilities\n2018', 'Long Term Liabilities\n2017', 'Long Term Liabilities\n2016', 'Long Term Liabilities\n2015', 'Long Term Liabilities\n2014', 'Long Term Liabilities\n2013', 'Long Term Liabilities\n2012', 'Long Term Liabilities\n2011', 'Long Term Liabilities\n2010'], inplace= True)

In [2472]:
unmb.rename(columns = {'Company name' : 'Fame_Name'}, inplace = True)

In [2473]:
fame_man2 = pd.concat([fame_man, unmb])

In [ ]:
#Look for prominent companies in manuf data that has not yet been matched and find a match

In [2540]:
aa = list(pd.DataFrame(fame_man2.groupby(by = 'COMPANY_RAW').size().sort_values(ascending = False)[0:100]).index)

In [2541]:
aaa = list(pd.DataFrame(mansec3.groupby(by = 'COMPANY_RAW').size().sort_values(ascending = False)[0:100]).index)

In [2542]:
adders = ([a for a in aaa if a not in aa])

In [2543]:
top_mansec = pd.DataFrame(mansec3.groupby(by = 'COMPANY_RAW').size().sort_values(ascending = False)[0:100]).reset_index()

In [2525]:
searchers = list(top_mansec[top_mansec['COMPANY_RAW'].isin(adders)]['COMPANY_RAW'])

['prs',
 'Telegraph Ltd',
 'ARCA24',
 'London Jobs Adzuna',
 'Public Sector Partners',
 'Hillarys Blinds Limited',
 'St Austell Brewery Company Limited',
 'First Point IT',
 'Cheshire East Council',
 'Manufacturing Group Limited',
 'Henry Nicholas',
 'R3 Resourcing',
 'Lounger Ltd',
 'Jenson Fisher',
 'Birmingham Industrial',
 'Foyne Jones',
 'Accord Sales',
 'ACT',
 'Inclusion Ltd',
 'Elevation Sales & Marketing',
 'Prs Limited',
 'Itper',
 'DP (Group) Limited',
 'Homes England',
 'Group Industry Ltd',
 'Euroforce People Solutions Limited',
 'Connect4',
 'Allied Bakeries Limited',
 'Contract Support Services',
 'Edgar Stewart',
 'Blue Glue Ltd']

In [2557]:
adders2 = pd.read_csv('remmatch.csv')

In [2558]:
adders2.rename(columns = {'Unnamed: 2': 'Fame_Name'}, inplace = True)
adders2.fillna(value=0, inplace = True)

In [2550]:
adders3 = yeet[yeet['COMPANY_RAW'].isin(adders)]

In [2564]:
adders3['Fame_Name'] = list(adders2['Fame_Name'])

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8384/2777810267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adders3['Fame_Name'] = list(adders2['Fame_Name'])

In [2566]:
adders3 = adders3[adders3['Fame_Name'] != 0].drop(columns = 0)

In [2568]:
numnatchedman = mansec3[~mansec3['COMPANY_RAW'].isin(fame_man2['COMPANY_RAW'])]

In [2573]:
unmm2f = pd.merge(numnatchedman, adders3, how = 'inner', on = 'COMPANY_RAW')

In [2583]:
finaladders = pd.merge(unmm2f, remman.drop_duplicates(subset = 'Company name').rename(columns = {'Company name': 'Fame_Name'}), how = 'left', on = 'Fame_Name')

In [2584]:
finaladders.drop(columns = ['Unnamed: 0', 'Long Term Liabilities\nLast avail. yr', 'Long Term Liabilities\n2023', 'Long Term Liabilities\n2022', 'Long Term Liabilities\n2021', 'Long Term Liabilities\n2020', 'Long Term Liabilities\n2019', 'Long Term Liabilities\n2018', 'Long Term Liabilities\n2017', 'Long Term Liabilities\n2016', 'Long Term Liabilities\n2015', 'Long Term Liabilities\n2014', 'Long Term Liabilities\n2013', 'Long Term Liabilities\n2012', 'Long Term Liabilities\n2011', 'Long Term Liabilities\n2010'], inplace= True)

In [2588]:
fame_man3 = pd.concat([fame_man2, finaladders])

In [2624]:
filepath = Path('Keywords/Manuf_Sector-Fame.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
fame_man.to_csv(filepath)

In [ ]:
#Remove columns that have strange data / create issues in Excel

In [2616]:
fame_man = fame_man3.drop(columns = ['CERTIFICATIONS', 'CERTIFICATIONS_NAME', 'ACTIVE_URLS', 'Exchange rate from local currency\n2023.1','Tangible Assets\nth GBP Last avail. yr','Intangible Assets\nth GBP Last avail. yr', 'Research & Development\nth GBP Last avail. yr', 'Turnover\nth GBP Last avail. yr', 'National Turnover\nth GBP Last avail. yr', 'Overseas Turnover\nth GBP Last avail. yr', 'Cost of Sales\nth GBP Last avail. yr', "Directors' Remuneration\nth GBP Last avail. yr", 'Average Remuneration per employee\nGBP Last avail. yr', 'Remuneration\nth GBP Last avail. yr', 'Wages & Salaries\nth GBP Last avail. yr', 'Long Term Debt\nth GBP Last avail. yr', 'Number of employees\nLast avail. yr.1', 'Number of employees\nLast avail. yr', 'Long Term Liabilities\nth GBP Last avail. yr',
                                    ])

In [15]:
patents = pd.read_csv('PatentsFin.csv')

In [18]:
PL = pd.read_csv('Patent-Lightcast.csv')

In [22]:
PM = pd.read_csv('Patents-Manufacturing.csv')

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_34658/1251119842.py:1: DtypeWarning: Columns (96) have mixed types. Specify dtype option on import or set low_memory=False.
  PM = pd.read_csv('Patents-Manufacturing.csv')