In [16]:
import pandas as pd
import numpy as np
from pathlib import Path 
from name_matching.name_matcher import NameMatcher
import re
from cleanco import basename
import unicodedata
import json
import os

In [9]:
filepath = Path('Keywords/vers6.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
vers7.to_csv(filepath)

NameError: name 'vers7' is not defined

In [49]:
#Add label to dataframe, bit redundant looking back
def labeller (df, label):
    lendf = len(df)
    dflab = [label] * lendf
    df['Label'] = dflab
    return

def get_year (x):
    year = x[0:4]
    return year

#Make Column names clearer in Patent Dataframe
def renamer (df):
    out = df.rename(columns = {'appln_id' : 'ID', 'appln_auth' : 'Authority', 'earliest_filing_date' : 'Filing_date', 'publn_date' : 'Pub_Date', 'appln_title' : 'Title', 'person_name' : 'Name', 'person_ctry_code' : 'Country', 'psn_sector' : 'Inventor_Type', 'nace2_code' : 'Nace2', 'techn_sector' : 'Sector', 'techn_field' : 'Field', 'appln_abstract' : 'Abstract' ,'person_address' : 'Address', 'nb_citing_docdb_fam' : 'Forward_Citations'})
    return out

#Make SIC codes shorter
def cutter (x):
    y = int(x[0:4])
    return y/100

In [50]:
#Find closest Nace code when Code not in conversion table
#Closest Nace still represents a similar technology group
#So closest values should be valuable
def closest_nace (code, nacers):
    a = 0
    b = len(nacers) - 1 
    c = b // 2
    while c != a:
        if code <= nacers[c]:
            b = c
            c = (a + b) // 2
        else: 
            a = c
            c = (a + b) // 2
    return nacers[c]

In [51]:
#Convert Nace to SIC for comparing Lightcast SIC to Patent NACE
def converter (x):
    p = []
    for i in range(len(x)):
        if pd.isna(x[i]):
            p.append(x[i])
        else:   
            z = nace2sic[nace2sic['Nace2'] == x[i]]['SIC (2007)']
            if len(z) != 1:
                usenace = closest_nace(x[i], nacecodes)
                z = nace2sic[nace2sic['Nace2'] == usenace]['SIC (2007)']
                p.append(z.iat[0])
            else:
                p.append(z.iat[0])
    return p

In [52]:
def lightcast_api_use (name_list):
    i = 0
    url = "https://auth.emsicloud.com/connect/token"

    payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
    headers = {'Content-Type': 'application/x-www-form-urlencoded'}

    response = requests.request("POST", url, data=payload, headers=headers)

    cont = json.loads(response.text)
    token = cont['access_token']
    df1 = pd.DataFrame()
    df = pd.DataFrame() 
    start_time = time.time()
    while i < len(name_list):
        holddict = {'terms': name_list[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
        json_object = json.dumps(holddict, indent = 4) 
        url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

        payload = json_object
        headers = {
        'Authorization': "Bearer " + token,
        'Content-Type': "application/json"
        }

        response = requests.request("POST", url, data=payload, headers=headers)
        res = json.loads(response.text)
        df1 = pd.json_normalize(res['data'], sep='_')
        df = pd.concat([df1, df])
    
        i += 100
        time.sleep(0.01)
        if time.time() - start_time > 3600:
            start_time = time.time()
            url = "https://auth.emsicloud.com/connect/token"

            payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
            headers = {'Content-Type': 'application/x-www-form-urlencoded'}

            response = requests.request("POST", url, data=payload, headers=headers)

            cont = json.loads(response.text)
            token = cont['access_token']

    return df

In [53]:
#data collection below
#many csvs due to limitation in export size
#data cleaned after concatenation

In [54]:
ai1 = pd.read_csv('ai1.csv', sep = ';')
ai2 = pd.read_csv('ai2.csv', sep = ';')
aiep1 = pd.read_csv('AIEP1.csv', sep =';')
aiep2 = pd.read_csv('AIEP2.csv', sep =';')
aiep3 = pd.read_csv('AIEP3.csv', sep =';')
aiep4 = pd.read_csv('AIEP4.csv', sep =';')
aiep5 = pd.read_csv('AIEP5.csv', sep =';')
aiep6 = pd.read_csv('AIEP6.csv', sep =';')
aiep7 = pd.read_csv('AIEP7.csv', sep =';')
aiep8 = pd.read_csv('AIEP8.csv', sep =';')
aiep9 = pd.read_csv('AIEP9.csv', sep =';')
aiep10 = pd.read_csv('AIEP10.csv', sep =';')
aiep11 = pd.read_csv('AIEP11.csv', sep =';')
aiep12 = pd.read_csv('AIEP12.csv', sep =';')
aiep13 = pd.read_csv('AIEP13.csv', sep =';')
aiw1 = pd.read_csv('AIw1.csv', sep = ';')
aiw2 = pd.read_csv('AIw2.csv', sep = ';')
aiw3 = pd.read_csv('AIw3.csv', sep = ';')
aiw4 = pd.read_csv('AIw4.csv', sep = ';')
aiw5 = pd.read_csv('AIw5.csv', sep = ';')
aiw6 = pd.read_csv('AIw6.csv', sep = ';')
aiw7 = pd.read_csv('AIw7.csv', sep = ';')
aiw8 = pd.read_csv('AIw8.csv', sep = ';')
aiw9 = pd.read_csv('AIw9.csv', sep = ';')
aiw10 = pd.read_csv('AIw10.csv', sep = ';')
aiw11 = pd.read_csv('AIw11.csv', sep = ';')
aiw12 = pd.read_csv('AIw12.csv', sep = ';')
aiw13 = pd.read_csv('AIw13.csv', sep = ';')
aiw14 = pd.read_csv('AIw14.csv', sep = ';')
aiw15 = pd.read_csv('AIw15.csv', sep = ';')
aiw16 = pd.read_csv('AIw16.csv', sep = ';')
AIpub = pd.read_csv('aipub.csv', sep = ';')
AIep = pd.concat([aiep1, aiep2, aiep3, aiep4, aiep5, aiep6, aiep7, aiep8, aiep9, aiep10, aiep11, aiep12, aiep13, aiw1, aiw2, aiw3, aiw4, aiw5, aiw6, aiw7, aiw8, aiw9, aiw10, aiw11, aiw12, aiw13, aiw14, aiw15, aiw16]).reset_index()
AIep.drop(columns = ['index'], inplace = True)

In [55]:
AI = pd.concat([ai1, ai2, AIep, AIpub]).reset_index()

In [56]:
AI.drop(columns = ['index'], inplace = True)
AI.drop_duplicates(inplace = True)
AI = AI.reset_index()
AI.drop(columns = ['index'], inplace = True)

In [57]:
AInodup = AI.drop_duplicates(subset = ['appln_id'])

In [58]:
labeller(AI, 'AI')

In [59]:
AVpub = pd.read_csv('AVpub.csv', sep = ';')

In [60]:
AVpubnodup = AVpub.drop_duplicates(subset = ['appln_id'])

In [61]:
AV = pd.read_csv('AV.csv', sep = ';')
AVep1 = pd.read_csv('AVep1.csv', sep = ';')
AVep2 = pd.read_csv('AVep2.csv', sep = ';')
AVep3 = pd.read_csv('AVep3.csv', sep = ';')
AVep4 = pd.read_csv('AVep4.csv', sep = ';')
AVw1 = pd.read_csv('AVw1.csv', sep = ';')
AVw2 = pd.read_csv('AVw2.csv', sep = ';')
AVw3 = pd.read_csv('AVw3.csv', sep = ';')
AVw4 = pd.read_csv('AVw4.csv', sep = ';')

In [62]:
AV = pd.concat([AV, AVep1, AVep2, AVep3, AVep4, AVw1, AVw2, AVw3, AVw4, AVpub]).reset_index()

In [63]:
AVnodup = AV.drop_duplicates(subset = ['appln_id']).reset_index()
AV.drop(columns = ['index'], inplace = True)
AV.drop_duplicates(inplace = True)
AV = AV.reset_index()
AV.drop(columns = ['index'], inplace = True)

In [64]:
labeller(AV, 'AV')

In [65]:
sh161 = pd.read_csv('1sh16.csv', sep = ';')
sh162 = pd.read_csv('2sh16.csv', sep = ';')
sh163 = pd.read_csv('3sh16.csv', sep = ';')
sh164 = pd.read_csv('4sh16.csv', sep = ';')
sh165 = pd.read_csv('5sh16.csv', sep = ';')
sh16ep1 = pd.read_csv('sh16ep1.csv', sep = ';')
sh16ep2 = pd.read_csv('sh16ep2.csv', sep = ';')
sh16ep3 = pd.read_csv('sh16ep3.csv', sep = ';')
sh16ep4 = pd.read_csv('sh16ep4.csv', sep = ';')
sh16ep5 = pd.read_csv('sh16ep5.csv', sep = ';')
sh16ep6 = pd.read_csv('sh16ep6.csv', sep = ';')
sh16ep7 = pd.read_csv('sh16ep7.csv', sep = ';')
sh16ep8 = pd.read_csv('sh16ep8.csv', sep = ';')
sh16ep9 = pd.read_csv('sh16ep9.csv', sep = ';')
sh16ep10 = pd.read_csv('sh16ep10.csv', sep = ';')
sh16ep11 = pd.read_csv('sh16ep11.csv', sep = ';')
sh16ep12 = pd.read_csv('sh16ep12.csv', sep = ';')
sh16ep13 = pd.read_csv('sh16ep13.csv', sep = ';')
sh16ep14 = pd.read_csv('sh16ep14.csv', sep = ';')
sh16ep15 = pd.read_csv('sh16ep15.csv', sep = ';')
sh16w1 = pd.read_csv('sh16w1.csv', sep = ';')
sh16w2 = pd.read_csv('sh16w2.csv', sep = ';')
sh16w3 = pd.read_csv('sh16w3.csv', sep = ';')
sh16w4 = pd.read_csv('sh16w4.csv', sep = ';')
sh16w5 = pd.read_csv('sh16w5.csv', sep = ';')
sh16w6 = pd.read_csv('sh16w6.csv', sep = ';')
sh16w7 = pd.read_csv('sh16w7.csv', sep = ';')
sh16w8 = pd.read_csv('sh16w8.csv', sep = ';')
sh16w9 = pd.read_csv('sh16w9.csv', sep = ';')
sh16w10 = pd.read_csv('sh16w10.csv', sep = ';')
sh16w11 = pd.read_csv('sh16w11.csv', sep = ';')
sh16w12 = pd.read_csv('sh16w12.csv', sep = ';')
sh16w13 = pd.read_csv('sh16w13.csv', sep = ';')
sh16w14 = pd.read_csv('sh16w14.csv', sep = ';')
sh16w15 = pd.read_csv('sh16w15.csv', sep = ';')
sh16w16 = pd.read_csv('sh16w16.csv', sep = ';')
sh16w17 = pd.read_csv('sh16w17.csv', sep = ';')
sh161pub = pd.read_csv('1sh16pub.csv', sep = ';')
sh162pub = pd.read_csv('2sh16pub.csv', sep = ';')
sh163pub = pd.read_csv('3sh16pub.csv', sep = ';')
sh16pub = pd.concat([sh161pub, sh162pub, sh163pub]).reset_index()
sh16pub.drop(columns = ['index'], inplace = True)

In [66]:
sh16 = pd.concat([sh161, sh162, sh163, sh164, sh165, sh16ep1, sh16ep2, sh16ep3, sh16ep4, sh16ep5, sh16ep6, sh16ep7, sh16ep8, sh16ep9, sh16ep10, sh16ep11, sh16ep12, sh16ep13, sh16ep14, sh16ep15, sh16w1, sh16w2, sh16w3, sh16w4, sh16w5, sh16w6, sh16w7, sh16w8, sh16w9, sh16w10, sh16w11, sh16w12, sh16w13, sh16w14, sh16w15, sh16w16, sh16w17, sh16pub]).reset_index()

In [67]:
sh16.drop(columns = ['index'], inplace = True)
sh16.drop_duplicates(inplace = True)
sh16 = sh16.reset_index()
sh16.drop(columns = ['index'], inplace = True)

In [68]:
sh16nodup = sh16.drop_duplicates(subset = ['appln_id'])

In [69]:
labeller(sh16, 'sh16')

In [70]:
NLPo = pd.read_csv('NLP.csv', sep = ';')

In [71]:
NLPpub = pd.read_csv('NLPpub.csv', sep = ';')

In [72]:
NLPep1 = pd.read_csv('NLPep1.csv', sep = ';')
NLPep2 = pd.read_csv('NLPep2.csv', sep = ';')
NLPwo1 = pd.read_csv('NLPwo2.csv', sep = ';')
NLPwo2 = pd.read_csv('NLPwo2.csv', sep = ';')

In [73]:
NLP = pd.concat([NLPo, NLPpub, NLPep1, NLPep2, NLPwo1, NLPwo2]).reset_index()

In [74]:
NLP.drop(columns = ['index'], inplace = True)
NLP.drop_duplicates(inplace = True)
NLP = NLP.reset_index()
NLP.drop(columns = ['index'], inplace = True)

In [75]:
NLPnodup = NLP.drop_duplicates(subset = ['appln_id'])

In [76]:
labeller(NLP, 'NLP')

In [77]:
NNpub = pd.read_csv('NNpub.csv', sep = ';')

In [78]:
NN = pd.read_csv('NN.csv', sep = ';')
NNw1 = pd.read_csv('NNw1.csv', sep = ';')
NNw2 = pd.read_csv('NNw2.csv', sep = ';')
NNw3 = pd.read_csv('NNw3.csv', sep = ';')
NNw4 = pd.read_csv('NNw4.csv', sep = ';')
NNw5 = pd.read_csv('NNw5.csv', sep = ';')
NNep1 = pd.read_csv('NNep1.csv', sep = ';')
NNep2 = pd.read_csv('NNep2.csv', sep = ';')
NNep3 = pd.read_csv('NNep3.csv', sep = ';')

In [79]:
NN = pd.concat([NNpub, NN, NNw1, NNw2, NNw3, NNw4, NNw5, NNep1, NNep2, NNep3]).reset_index()
NN.drop(columns = ['index'], inplace = True)
NN.drop_duplicates(inplace = True)
NN = NN.reset_index()
NN.drop(columns = ['index'], inplace = True)

In [80]:
NNnodup = NN.drop_duplicates(subset = ['appln_id'])

In [81]:
labeller(NN, 'NN')

In [82]:
imrec1 = pd.read_csv('imrec1.csv', sep =';')
imrec2 = pd.read_csv('imrec2.csv', sep =';')
imrec3 = pd.read_csv('imrec3.csv', sep =';')
imrec4 = pd.read_csv('imrec4.csv', sep =';')
IRep1 = pd.read_csv('IRep1.csv', sep = ';')
IRep2 = pd.read_csv('IRep2.csv', sep = ';')
IRep3 = pd.read_csv('IRep3.csv', sep = ';')
IRep4 = pd.read_csv('IRep4.csv', sep = ';')
IRep5 = pd.read_csv('IRep5.csv', sep = ';')
IRep6 = pd.read_csv('IRep6.csv', sep = ';')
IRep7 = pd.read_csv('IRep7.csv', sep = ';')
IRep8 = pd.read_csv('IRep8.csv', sep = ';')
IRep9 = pd.read_csv('IRep9.csv', sep = ';')
IRep10 = pd.read_csv('IRep10.csv', sep = ';')
IRep11 = pd.read_csv('IRep11.csv', sep = ';')
IRep12 = pd.read_csv('IRep12.csv', sep = ';')
IRep13 = pd.read_csv('IRep13.csv', sep = ';')
IRep14 = pd.read_csv('IRep14.csv', sep = ';')
IRep15 = pd.read_csv('IRep15.csv', sep = ';')
IRep16 = pd.read_csv('IRep16.csv', sep = ';')
IRep17 = pd.read_csv('IRep17.csv', sep = ';')
IRep18 = pd.read_csv('IRep18.csv', sep = ';')
IRep19 = pd.read_csv('IRep19.csv', sep = ';')
IRep20 = pd.read_csv('IRep20.csv', sep = ';')
IRep21 = pd.read_csv('IRep21.csv', sep = ';')
IRep22 = pd.read_csv('IRep22.csv', sep = ';')
imrecpub1 = pd.read_csv('imrecpub1.csv', sep = ';')
imrecpub2 = pd.read_csv('imrecpub2.csv', sep = ';')
imrecpub3 = pd.read_csv('imrecpub3.csv', sep = ';')
irw1 = pd.read_csv('irw1.csv', sep = ';')
irw2 = pd.read_csv('irw2.csv', sep = ';')
irw3 = pd.read_csv('irw3.csv', sep = ';')
irw4 = pd.read_csv('irw4.csv', sep = ';')
irw5 = pd.read_csv('irw5.csv', sep = ';')
irw6 = pd.read_csv('irw6.csv', sep = ';')
irw7 = pd.read_csv('irw7.csv', sep = ';')
irw8 = pd.read_csv('irw8.csv', sep = ';')
irw9 = pd.read_csv('irw9.csv', sep = ';')
irw10 = pd.read_csv('irw10.csv', sep = ';')
irw11 = pd.read_csv('irw11.csv', sep = ';')
irw12 = pd.read_csv('irw12.csv', sep = ';')
irw13 = pd.read_csv('irw13.csv', sep = ';')
irw14 = pd.read_csv('irw14.csv', sep = ';')
irw15 = pd.read_csv('irw15.csv', sep = ';')
irw16 = pd.read_csv('irw16.csv', sep = ';')
irw17 = pd.read_csv('irw17.csv', sep = ';')
irw18 = pd.read_csv('irw18.csv', sep = ';')
irw19 = pd.read_csv('irw19.csv', sep = ';')
irw20 = pd.read_csv('irw20.csv', sep = ';')
irw21 = pd.read_csv('irw21.csv', sep = ';')
irw22 = pd.read_csv('irw22.csv', sep = ';')
irw23 = pd.read_csv('irw23.csv', sep = ';')
irw24 = pd.read_csv('irw24.csv', sep = ';')
imrec = pd.concat([imrec1, imrec2, imrec3, imrec4, imrecpub1, imrecpub2, imrecpub3, IRep1, IRep2, IRep3, IRep4, IRep5, IRep6, IRep7, IRep8, IRep9, IRep10, IRep11, IRep12, IRep13, IRep14, IRep15, IRep16, IRep17, IRep18, IRep19, IRep20, IRep21, IRep22, irw1, irw2, irw3, irw4, irw5, irw6, irw7, irw8, irw9, irw10, irw11, irw12, irw13, irw14, irw15, irw16, irw17, irw18, irw19, irw20, irw21, irw22, irw23, irw24]).reset_index()

In [83]:
imrec.drop(columns = ['index'], inplace = True)
imrec.drop_duplicates(inplace = True)
imrec = imrec.reset_index()
imrec.drop(columns = ['index'], inplace = True)

In [84]:
imrecnodup = imrec.drop_duplicates(subset = ['appln_id'])

In [85]:
labeller(imrec, 'ImRec')

In [86]:
robo1 = pd.read_csv('robo1.csv', sep =';')
robo2 = pd.read_csv('robo2.csv', sep = ';')
robopub = pd.read_csv('robopub.csv', sep =';')
row1 = pd.read_csv('row1.csv', sep =';')
row2 = pd.read_csv('row2.csv', sep =';')
row3 = pd.read_csv('row3.csv', sep =';')
row4 = pd.read_csv('row4.csv', sep =';')
row5 = pd.read_csv('row5.csv', sep =';')
row6 = pd.read_csv('row6.csv', sep =';')
row7 = pd.read_csv('row7.csv', sep =';')
row8 = pd.read_csv('row8.csv', sep =';')
row9 = pd.read_csv('row9.csv', sep =';')
row10 = pd.read_csv('row10.csv', sep =';')
rep1 = pd.read_csv('rep1.csv', sep =';')
rep2 = pd.read_csv('rep2.csv', sep =';') 
rep3 = pd.read_csv('rep3.csv', sep =';')
rep4 = pd.read_csv('rep4.csv', sep =';')
rep5 = pd.read_csv('rep5.csv', sep =';')
rep6 = pd.read_csv('rep6.csv', sep =';')
rep7 = pd.read_csv('rep7.csv', sep =';')
rep8 = pd.read_csv('rep8.csv', sep =';')
rep9 = pd.read_csv('rep9.csv', sep =';')

In [87]:
robo = pd.concat([robo1, robo2, robopub, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10, rep1, rep2, rep3, rep4, rep5, rep6, rep7, rep8, rep9]).reset_index()

In [88]:
robo.drop(columns = ['index'], inplace = True)
robo.drop_duplicates(inplace = True)
robo = robo.reset_index()
robo.drop(columns = ['index'], inplace = True)

In [89]:
robonodup = robo.drop_duplicates(subset = ['appln_id'])

In [90]:
labeller(robo, 'Robotics')

In [91]:
pl1 = pd.read_csv('pl1.csv', sep = ';')
pl2 = pd.read_csv('pl2.csv', sep = ';')
PLpub = pd.read_csv('plpub.csv', sep = ';')
prep1 = pd.read_csv('prep1.csv', sep = ';')
prep2 = pd.read_csv('prep2.csv', sep = ';')
prep3 = pd.read_csv('prep3.csv', sep = ';')
prep4 = pd.read_csv('prep4.csv', sep = ';')
prep5 = pd.read_csv('prep5.csv', sep = ';')
prep6 = pd.read_csv('prep6.csv', sep = ';')
prep7 = pd.read_csv('prep7.csv', sep = ';')
prw1 = pd.read_csv('prw1.csv', sep = ';')
prw2 = pd.read_csv('prw2.csv', sep = ';')
prw3 = pd.read_csv('prw3.csv', sep = ';')
prw4 = pd.read_csv('prw4.csv', sep = ';')
prw5 = pd.read_csv('prw5.csv', sep = ';')
prw6 = pd.read_csv('prw6.csv', sep = ';')
prw7 = pd.read_csv('prw7.csv', sep = ';')
prw8 = pd.read_csv('prw8.csv', sep = ';')
PL = pd.concat([pl1,pl2, PLpub, prep1, prep2, prep3, prep4, prep5, prep6, prep7, prw1, prw2, prw3, prw4, prw5, prw6, prw7, prw8]).reset_index()

In [92]:
PL.drop(columns = ['index'], inplace = True)
PL.drop_duplicates(inplace = True)
PL = PL.reset_index()
PL.drop(columns = ['index'], inplace = True)

In [93]:
PLnodup = PL.drop_duplicates(subset = ['appln_id'])

In [94]:
labeller(PL, 'ProgLang')

In [95]:
cloud1 = pd.read_csv('cloud1.csv', sep = ';')
cloud2 = pd.read_csv('cloud2.csv', sep = ';')
cloud3 = pd.read_csv('cloud3.csv', sep = ';')
cloudpub1 = pd.read_csv('cloudpub1.csv', sep = ';')
cloudpub2 = pd.read_csv('cloudpub2.csv', sep = ';')
clep1 = pd.read_csv('clep1.csv', sep = ';')
clep2 = pd.read_csv('clep2.csv', sep = ';')
clep3 = pd.read_csv('clep3.csv', sep = ';')
clep4 = pd.read_csv('clep4.csv', sep = ';')
clep5 = pd.read_csv('clep5.csv', sep = ';')
clep6 = pd.read_csv('clep6.csv', sep = ';')
clep7 = pd.read_csv('clep7.csv', sep = ';')
clep8 = pd.read_csv('clep8.csv', sep = ';')
clep9 = pd.read_csv('clep9.csv', sep = ';')
clep10 = pd.read_csv('clep10.csv', sep = ';')
clw1 = pd.read_csv('clw1.csv', sep = ';')
clw2 = pd.read_csv('clw2.csv', sep = ';')
clw3 = pd.read_csv('clw3.csv', sep = ';')
clw4 = pd.read_csv('clw4.csv', sep = ';')
clw5 = pd.read_csv('clw5.csv', sep = ';')
clw6 = pd.read_csv('clw6.csv', sep = ';')
clw7 = pd.read_csv('clw7.csv', sep = ';')
clw8 = pd.read_csv('clw8.csv', sep = ';')
clw9 = pd.read_csv('clw9.csv', sep = ';')
clw10 = pd.read_csv('clw10.csv', sep = ';')
clw11 = pd.read_csv('clw11.csv', sep = ';')
cloud = pd.concat([cloud1, cloud2, cloud3, cloudpub1, cloudpub2, clep1, clep2, clep3, clep4, clep5, clep6, clep7, clep8, clep9, clep10, clw1, clw2, clw3, clw4, clw5, clw6, clw7, clw8, clw9, clw10, clw11]).reset_index()

In [96]:
cloud.drop(columns = ['index'], inplace = True)
cloud.drop_duplicates(inplace = True)
cloud = cloud.reset_index()
cloud.drop(columns = ['index'], inplace = True)

In [97]:
cloudnodup = cloud.drop_duplicates(subset = ['appln_id'])

In [98]:
labeller(cloud, 'Cloud')

In [99]:
MLpub1 = pd.read_csv('MLpub1.csv', sep = ';')
MLpub2 = pd.read_csv('MLpub2.csv', sep = ';')
MLpub3 = pd.read_csv('MLpub3.csv', sep = ';')
MLpub = pd.concat([MLpub1, MLpub2, MLpub3, ]).reset_index()

In [100]:
MLpub.drop(columns = ['index'], inplace = True)
MLpub.drop_duplicates(inplace = True)

In [101]:
mep1 = pd.read_csv('mep1.csv', sep = ';')
mep2 = pd.read_csv('mep2.csv', sep = ';')
mep3 = pd.read_csv('mep3.csv', sep = ';')
mep4 = pd.read_csv('mep4.csv', sep = ';')
mep5 = pd.read_csv('mep5.csv', sep = ';')
mep6 = pd.read_csv('mep6.csv', sep = ';')
mep7 = pd.read_csv('mep7.csv', sep = ';')
mep8 = pd.read_csv('mep8.csv', sep = ';')
mep9 = pd.read_csv('mep9.csv', sep = ';')
mep10 = pd.read_csv('mep10.csv', sep = ';')
mep11 = pd.read_csv('mep11.csv', sep = ';')
mep12 = pd.read_csv('mep12.csv', sep = ';')
mep13 = pd.read_csv('mep13.csv', sep = ';')
mc1 = pd.read_csv('mc1.csv', sep = ';')
mc2 = pd.read_csv('mc2.csv', sep = ';')
mc3 = pd.read_csv('mc3.csv', sep = ';')
mc4 = pd.read_csv('mc4.csv', sep = ';')
mc5 = pd.read_csv('mc5.csv', sep = ';')
mc6 = pd.read_csv('mc6.csv', sep = ';')
mc7 = pd.read_csv('mc7.csv', sep = ';')
mc8 = pd.read_csv('mc8.csv', sep = ';')
mc9 = pd.read_csv('mc9.csv', sep = ';')
mc10 = pd.read_csv('mc10.csv', sep = ';')
mc11 = pd.read_csv('mc11.csv', sep = ';')
mc12 = pd.read_csv('mc12.csv', sep = ';')
mc13 = pd.read_csv('mc13.csv', sep = ';')
mc14 = pd.read_csv('mc14.csv', sep = ';')
mc15 = pd.read_csv('mc15.csv', sep = ';')
mc16 = pd.read_csv('mc16.csv', sep = ';')
mc17 = pd.read_csv('mc17.csv', sep = ';')

In [102]:
ML1 = pd.read_csv('ML1.csv', sep = ';')
ML2 = pd.read_csv('ML2.csv', sep = ';')
ML3 = pd.read_csv('ML3.csv', sep = ';')
ML4 = pd.read_csv('ML4.csv', sep = ';')

In [103]:
ML = pd.concat([ML1, ML2, ML3, ML4, MLpub, mep1, mep2, mep3, mep4, mep5, mep6, mep7, mep8, mep9, mep10, mep11, mep12, mep13, mc1, mc2, mc3, mc4, mc5, mc6, mc7, mc8, mc9, mc10, mc11, mc12, mc13, mc14, mc15, mc16, mc17]).reset_index()

In [104]:
ML.drop(columns = ['index'], inplace = True)
ML.drop_duplicates(inplace = True)
ML = ML.reset_index()
ML.drop(columns = ['index'], inplace = True)

In [105]:
MLnodup = ML.drop_duplicates(subset = ['appln_id'])

In [106]:
labeller(ML, 'MachLearn')

In [107]:
cypub1 = pd.read_csv('cypub1.csv', sep = ';')
cypub2 = pd.read_csv('cypub2.csv', sep = ';')
cypub3 = pd.read_csv('cypub3.csv', sep = ';')
cypub4 = pd.read_csv('cypub4.csv', sep = ';')
cypub5 = pd.read_csv('cypub5.csv', sep = ';')
cypub = pd.concat([cypub1, cypub2, cypub3, cypub4, cypub5]).reset_index()
cypub.drop(columns = ['index'], inplace = True)
cypub.drop_duplicates(inplace = True)
cyber1 = pd.read_csv('cyber1.csv', sep = ';')
cyber2 = pd.read_csv('cyber2.csv', sep = ';')
cyber3 = pd.read_csv('cyber3.csv', sep = ';')
cyber4 = pd.read_csv('cyber4.csv', sep = ';')
cyber5 = pd.read_csv('cyber5.csv', sep = ';')
cyber6 = pd.read_csv('cyber6.csv', sep = ';')
cyep1 = pd.read_csv('cyep1.csv', sep = ';')
cyep2 = pd.read_csv('cyep2.csv', sep = ';')
cyep3 = pd.read_csv('cyep3.csv', sep = ';')
cyep4 = pd.read_csv('cyep4.csv', sep = ';')
cyep5 = pd.read_csv('cyep5.csv', sep = ';')
cyep6 = pd.read_csv('cyep6.csv', sep = ';')
cyep7 = pd.read_csv('cyep7.csv', sep = ';')
cyep8 = pd.read_csv('cyep8.csv', sep = ';')
cyep9 = pd.read_csv('cyep9.csv', sep = ';')
cyep10 = pd.read_csv('cyep10.csv', sep = ';')
cyep11 = pd.read_csv('cyep11.csv', sep = ';')
cyep12 = pd.read_csv('cyep12.csv', sep = ';')
cyep13 = pd.read_csv('cyep13.csv', sep = ';')
cyep14 = pd.read_csv('cyep14.csv', sep = ';')
cyep15 = pd.read_csv('cyep15.csv', sep = ';')
cyep16 = pd.read_csv('cyep16.csv', sep = ';')
cyep17 = pd.read_csv('cyep17.csv', sep = ';')
cyw1 = pd.read_csv('cyw1.csv', sep = ';')
cyw2 = pd.read_csv('cyw2.csv', sep = ';')
cyw3 = pd.read_csv('cyw3.csv', sep = ';')
cyw4 = pd.read_csv('cyw4.csv', sep = ';')
cyw5 = pd.read_csv('cyw5.csv', sep = ';')
cyw6 = pd.read_csv('cyw6.csv', sep = ';')
cyw7 = pd.read_csv('cyw7.csv', sep = ';')
cyw8 = pd.read_csv('cyw8.csv', sep = ';')
cyw9 = pd.read_csv('cyw9.csv', sep = ';')
cyw10 = pd.read_csv('cyw10.csv', sep = ';')
cyw11 = pd.read_csv('cyw11.csv', sep = ';')
cyw12 = pd.read_csv('cyw12.csv', sep = ';')
cyw13 = pd.read_csv('cyw13.csv', sep = ';')
cyw14 = pd.read_csv('cyw14.csv', sep = ';')
cyw15 = pd.read_csv('cyw15.csv', sep = ';')
cyw16 = pd.read_csv('cyw16.csv', sep = ';')
cyw17 = pd.read_csv('cyw18.csv', sep = ';')
cyw18 = pd.read_csv('cyw17.csv', sep = ';')
cyber = pd.concat([cyber1, cyber2, cyber3, cyber4, cyber5, cyber6, cyep1, cyep2, cyep3, cyep4, cyep5, cyep6, cyep7, cyep8, cyep9, cyep10, cyep11, cyep12, cyep13, cyep14, cyep15, cyep16, cyep17, cypub, cyw1, cyw2, cyw3, cyw4, cyw5, cyw6, cyw7, cyw8, cyw9, cyw10, cyw11, cyw12, cyw13, cyw14, cyw15, cyw16, cyw17, cyw18]).reset_index()

In [108]:

cyber.drop(columns = ['index'], inplace = True)
cyber.drop_duplicates(inplace = True)
cyber = cyber.reset_index()
cyber.drop(columns = ['index'], inplace = True)

In [109]:
cybernodup = cyber.drop_duplicates(subset = ['appln_id'])

In [110]:
labeller(cyber, 'CyberSec')

In [111]:
cyber = renamer(cyber)
cybernodup = renamer(cybernodup)
ML = renamer(ML)
MLnodup = renamer(MLnodup)
cloud = renamer(cloud)
cloudnodup = renamer(cloud)
PL = renamer(PL)
PLnodup = renamer(PLnodup)
robo = renamer(robo)
robonodup = renamer(robonodup)
imrec = renamer(imrec)
imrecnodup = renamer(imrecnodup)
NN = renamer(NN)
NNnodup = renamer(NNnodup)
NLPnodup = renamer(NLPnodup)
NLP = renamer(NLP)
sh16 = renamer(sh16)
sh16nodup = renamer(sh16nodup)
AVnodup = renamer(AVnodup)
AV = renamer(AV)
AInodup = renamer(AInodup)
AI = renamer(AI)

In [112]:
#Create a complete patent dataset.
#Duplicates not yet dropped so that information is not lost (frontier_tech and Field)
#Add labels for FTs and Fields

In [113]:
full = pd.concat([cyber, ML, cloud, PL, imrec, NN, NLP, sh16, AV, AI, robo]).reset_index()
full.drop(columns = ['index'], inplace = True)

In [114]:
fields = set(list(full['Field']))
popped = fields.pop()

In [115]:
labels = ['AI', 'AV', 'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud', 'MachLearn', 'CyberSec']

In [116]:
for field in fields:
    full[field] = [0] * len(full)

In [117]:
for label in labels:
    full[label] = [0] * len(full)

In [118]:
pats = list(set(full['ID']))

In [119]:
for i in range(len(pats)):
    hits = list(set(full.loc[full['ID'] == pats[i]]['Field']))
    ind = full.loc[full['ID'] == pats[i]].index[0]
    for hit in hits:
        full.loc[ind, [hit]] = 1

In [120]:
for i in range(len(pats)):
    hits = list(set(full.loc[full['ID'] == pats[i]]['Label']))
    ind = full.loc[full['ID'] == pats[i]].index[0]
    for hit in hits:
        full.loc[ind, [hit]] = 1

In [121]:
#Now duplicates are dropped
#Duplicates on ID represent patents relevant across Frontier Techs
#Duplicates on Title, Filing date, etc. are patents submitted to different filing bodies. Note these duplicates were not removed initially as problem was only discovered at a later date

In [122]:
full.drop_duplicates(subset = ['ID'], inplace = True)
full.drop_duplicates(subset = ['Title', 'Filing_date', 'Country', 'Abstract'], inplace = True)

In [123]:
full.drop(columns = ['Field', 'Label'], inplace = True)

In [124]:
#Read in new data

In [125]:
conames = pd.read_csv('Company_names.csv')

In [126]:
conames.rename(columns = {'COMPANY_NAME' : 'Name'}, inplace = True)

In [127]:
#Drop duplicate names on company raw rather than company name as company raw is unique to company
companies = conames.drop_duplicates(subset = 'COMPANY_RAW')

In [128]:
thrower = full.drop_duplicates(subset = 'Name')

In [ ]:
#Fuzzy match on Name from Full, COMPANY_NAME from Companies
#use company_name as it usually contains less noise

In [ ]:
matcher = NameMatcher(top_n=10,
    lowercase=True,
    punctuations=True,
    remove_ascii=True,
    legal_suffixes=True,
    common_words=True,
    verbose=True)

In [135]:
matcher = NameMatcher(top_n=10,
    lowercase=True,
    punctuations=True,
    remove_ascii=True,
    legal_suffixes=True,
    common_words=True,
    verbose=True)
matcher.set_distance_metrics(['discounted_levenshtein',
                              'SSK', 
                              'fuzzy_wuzzy_token_sort'])
matcher.load_and_process_master_data(column='Name',
                                     df_matching_data=companies, 
                                     transform=True)
#results = matcher.match_names(to_be_matched=thrower, 
                              #column_matching='Name')

/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:634: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].astype(str)
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.lower()
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:640: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].apply(lambda string: unicodedata.normalize(

In [633]:
#Take all results w/ score > 75 and then manually check all of them
haps = results[results['score'] >= 75].sort_values(by = 'score')

In [139]:
fz = pd.read_csv('fz.csv')

In [140]:
matches = fz[fz['inc'] == 'y']
matches.drop(columns = ['index', 'score', 'match_index', 'inc'], inplace = True)
matches

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_35314/1543713981.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches.drop(columns = ['index', 'score', 'match_index', 'inc'], inplace = True)

                            original_name                        match_name
26                mitsubishi rayon co ltd                        mitsubishi
46                 4d pharma cork limited                     4d pharma plc
109              vodafone ireland limited                  vodafone romania
167        halliburton enery services inc                       halliburton
179                         biomet 3i llc                         biomet uk
...                                   ...                               ...
8373               nec computertechno ltd                               nec
8374                  nec lab america inc                               nec
8375  faurecia clarion electronics co ltd                          faurecia
8376               saudi arabian oil coiz                          faurecia
8377       brother kogyo kabushiki kaisha  brother international europe ltd

[3829 rows x 2 columns]

In [101]:
matches.drop_duplicates(subset = ['original_name'], keep = 'last', inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8386/4273255897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches.drop_duplicates(subset = ['original_name'], keep = 'last', inplace = True)

In [102]:
copy = matches
copy.rename(columns = {'original_name' : 'Name'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8386/1630330370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy.rename(columns = {'original_name' : 'Name'}, inplace = True)

In [103]:
copy2 = full

In [104]:
#Do an initial merge to attach the Company name from Companies

In [105]:
t = pd.merge(copy2, copy, how = 'outer', on = 'Name', validate = 'm:m')

In [106]:
t.dropna(subset = ['match_name'], inplace = True)

In [107]:
t

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,NLP,NN,ImRec,Robotics,ProgLang,Cloud,MachLearn,CyberSec,NaN,match_name
376980,NaN,NaN,NaN,NaN,NaN,mitsubishi rayon co ltd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,mitsubishi
376981,NaN,NaN,NaN,NaN,NaN,4d pharma cork limited,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4d pharma plc
376982,NaN,NaN,NaN,NaN,NaN,halliburton enery services inc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,halliburton
376983,NaN,NaN,NaN,NaN,NaN,biomet 3i llc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,biomet uk
376984,NaN,NaN,NaN,NaN,NaN,sap ag,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380782,NaN,NaN,NaN,NaN,NaN,nec computertechno ltd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nec
380783,NaN,NaN,NaN,NaN,NaN,nec lab america inc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nec
380784,NaN,NaN,NaN,NaN,NaN,faurecia clarion electronics co ltd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,faurecia
380785,NaN,NaN,NaN,NaN,NaN,saudi arabian oil coiz,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,faurecia
380786,NaN,NaN,NaN,NaN,NaN,brother kogyo kabushiki kaisha,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,brother international europe ltd

In [2283]:
#Check to ensure frequent patenters are contained / are confirmed to not have a match
t.groupby(by = 'match_name').size().sort_values(ascending = False)[0:50]

match_name
sony group                               12005
huawei                                   11164
samsung                                  10226
microsoft                                 7860
nec                                       5057
LG                                        4660
google                                    4538
qualcomm                                  4369
koninklijke philips nv                    4294
Hitachi                                   4280
siemens                                   4222
mitsubishi                                4094
zte                                       3802
panasonic                                 3768
ericsson                                  3532
intel                                     3463
canon usa                                 3066
ibm                                       2825
ntt europe ltd                            2666
nokia                                     2591
fujitsu                                   2521
fujifilm                                  2513
bosch                                     2225
hewlett packard enterprise                2047
oppo mobile uk ltd                        1953
abb                                       1742
olympus                                   1632
ricoh uk                                  1493
omron electronics                         1396
apple                                     1346
arm holdings                              1296
sharp global ltd                          1248
honeywell international                   1177
denso                                     1057
alcatellucent uk                          1013
oracle                                     954
bt group plc                               946
general electric                           910
toyota motors                              910
halliburton                                890
cisco                                      868
thales                                     827
bae systems                                787
imagination technologies group plc         734
konica minolta                             724
dolby group ltd                            721
kawasaki precision machinery uk ltd        708
midea uk                                   707
kyocera                                    691
continental automotive trading uk ltd      673
dtype: int64

In [2178]:
full.groupby(by = 'Name').size().sort_values(ascending = False)[150:200]

Name
ethicon llc                                                     257
snap inc                                                        256
hitachi hightechnologies corporation                            256
carrier corporation                                             256
facebook inc                                                    255
applied materials inc                                           253
nec laboratories america inc                                    252
clarion co ltd                                                  248
brother kogyo kabushiki kaisha                                  246
zhejiang university                                             245
research in motion limited                                      243
capital one services llc                                        238
china unionpay co ltd                                           235
sony computer entertainment inc                                 234
facebook technologies llc                                       232
yulong computer telecommunication scientific shenzhen co ltd    227
shenzhen institutes of advanced technology                      226
nuance communications inc                                       226
cirrus logic international semiconductor ltd                    225
x development llc                                               223
kuka roboter gmbh                                               218
semiconductor energy laboratory co ltd                          217
ebay inc                                                        216
nagravision sa                                                  215
baidu usa llc                                                   214
intel ip corporation                                            212
signify holding bv                                              211
nuctech company limited                                         210
korea electronics technology institute                          207
bundesdruckerei gmbh                                            207
walmart apollo llc                                              206
hitachi hightech corporation                                    204
brainlab ag                                                     204
beijing didi infinity technology and development co ltd         203
sumitomo electric industries ltd                                202
dolby international ab                                          201
aptiv technologies limited                                      201
sophos limited                                                  200
renault sas                                                     199
rollsroyce plc                                                  196
valeo schalter und sensoren gmbh                                195
juniper networks inc                                            194
broadcom corporation                                            194
abb technology ag                                               193
hitachi kokusai electric inc                                    192
abb research ltd                                                191
oxford university innovation limited                            190
here global bv                                                  189
toshiba tec kabushiki kaisha                                    189
texas instruments incorporated                                  188
dtype: int64

In [ ]:
#Search for matches

In [2266]:
results[results['original_name'].str.contains('nec display')]

/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,original_name,match_name,score,match_index
90226,sharp nec display solutions ltd,splash display,61.122921,238670.0
199290,nec display solutions ltd,bec display,78.806634,195956.0

In [2645]:
companies[companies['match_name'].str.startswith('sentinel')]

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
1449,79,sentinel it,sentinel it llp,East of England,UKH14,Suffolk,78109.0,Activities of employment placement agencies (o...,Employment activities
9448,4,Sentinel Performance Solutions Group Limited,sentinel performance solutions group limited,Yorkshire and The Humber,UKE44,Calderdale and Kirklees,20590.0,Manufacture of other chemical products nec,Manufacture of chemicals and chemical products
16565,1,Sentinel,sentinel,South East,UKJ41,Medway,47910.0,Retail sale via mail order houses or via Internet,"Retail trade, except of motor vehicles and mot..."
49310,1,Sentinel Care Services,sentinel care services,West Midlands,UKG39,Wolverhampton,NaN,NaN,Human health activities
51326,4,Sentinel Home Care Ltd,sentinel home care,Yorkshire and The Humber,UKE41,Bradford,NaN,NaN,Residential care activities
52517,4,Sentinel Group Security Limited,sentinel group security,North East,UKC22,Tyneside,80100.0,Private security activities,Security and investigation activities
53397,7,Sentinel Leisure Trust,sentinel leisure trust,East of England,UKH14,Suffolk,93199.0,Other sports activities (not including activit...,Sports activities and amusement and recreation...
108467,18,Sentinel Healthcare Ltd,sentinel healthcare,South East,UKJ32,Southampton,NaN,NaN,Human health activities
175675,1,Sentinels Limited,sentinels,South East,UKJ37,North Hampshire,43999.0,Specialised construction activities (other tha...,Specialised construction activities
183949,1,Sentinel Data Solutions Limited,sentinel data solutions,South East,UKJ36,Central Hampshire,63110.0,"Data processing, hosting and related activities",Information service activities
207526,1,Sentinel Management Services,sentinel management services llp,South West,UKK11,City of Bristol,62020.0,Computer consultancy activities,"Computer programming, consultancy and related ..."
217871,3,Sentinel Computer Systems Limited,sentinel computer systems limited,South East,UKJ11,Berkshire,62090.0,Other information technology and computer serv...,"Computer programming, consultancy and related ..."
228071,1,Sentinel Corporate Risk And Insurance Services...,sentinel corporate risk and insurance services...,North West,UKD45,Mid Lancashire,66220.0,Activities of insurance agents and brokers,Activities auxiliary to financial services and...
260772,1,Sentinel Partners,sentinel partners limited,West Midlands,UKG12,Worcestershire,70229.0,Management consultancy activities (other than ...,Activities of head offices; management consult...
328920,1,Sentinel Gas Systems Ltd,sentinel gas systems limited,West Midlands,UKG33,Coventry,43220.0,"Plumbing, heat and air-conditioning installation",Specialised construction activities
372006,1,Sentinel Housing Association Limited,sentinel housing association,South East,UKJ37,North Hampshire,NaN,NaN,Gambling and betting activities
403926,3,Sentinel Management Consultants Limited,sentinel management consultants,South East,UKJ11,Berkshire,70229.0,Management consultancy activities (other than ...,Activities of head offices; management consult...
406814,1,Sentinel Water Limited,sentinel water limited,London,UKI52,Barking & Dagenham and Havering,NaN,NaN,Specialised construction activities
409542,2,Sentinel Housing,sentinel housing solutions limited,South East,UKJ37,North Hampshire,68209.0,Letting and operating of own or leased real es...,Real estate activities
591139,1,Sentinel Comms Llp,sentinel comms,East of England,UKH23,Hertfordshire,NaN,NaN,Publishing activities
592190,1,Sentinel Volvo,sentinel volvo,East Midlands,UKF24,West Northamptonshire,NaN,NaN,"Financial service activities, except insurance..."
611394,2,Sentinel Fire & Security Systems Limited,sentinel fire security systems limited,West Midlands,UKG31,Birmingham,43210.0,Electrical installation,Specialised construction activities
629502,1,Sentinel Fire And Security Solutions Limited,sentinel fire and security solutions,South West,UKK21,Bournemouth and Poole,74909.0,"Other professional, scientific and technical a...","Other professional, scientific and technical a..."
690613,2,Sentinel Fire And Security,sentinel fire and security,South West,UKK21,Bournemouth and Poole,NaN,NaN,NaN
730520,5,Sentinel Care Limited,sentinel care,West Midlands,UKG21,Telford and Wrekin,82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
773282,7,Sentinel Debt Recovery Limited,sentinel debt recovery ltd,North West,UKD45,Mid Lancashire,NaN,NaN,"Other professional, scientific and technical a..."
998235,1,SENTINEL CORE SERVICES LIMITED,sentinel core services limited,East of England,UKH12,Cambridgeshire CC,78109.0,Activities of employment placement agencies (o...,Employment activities
1061343,1,Sentinel Car Park,sentinel car park,Yorkshire and The Humber,UKE42,Leeds,NaN,NaN,Warehousing and support activities for transpo...
1147307,2,Sentinel Environmental Consultancy,sentinel environmental consultancy,Wales,UKL23,Flintshire and Wrexham,74901.0,Environmental consulting activities,"Other professional, scientific and technical a..."

In [2243]:
conames[conames['COMPANY_RAW'].str.contains('Faurecia')].drop_duplicates(subset = 'COMPANY_RAW')

,COUNT(COMPANY),COMPANY_RAW,Name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
38087,1,Faurecia,Faurecia,North East,UKC23,Sunderland,NaN,NaN,Repair and installation of machinery and equip...

In [1974]:
companies.rename(columns = {'Name' : 'match_name'}, inplace = True)

In [ ]:
#Initial complete merge

In [2289]:
beta = pd.merge(t, companies, how = 'left', on = 'match_name', validate = 'm:m')

In [2288]:
companies

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
110100,4,"Hitachi, Ltd",Hitachi,South East,UKJ25,West Surrey,62090.0,Other information technology and computer serv...,"Computer programming, consultancy and related ..."
0,6205,Hays Plc,hays,West Midlands,UKG13,Warwickshire,78109.0,Activities of employment placement agencies (o...,Employment activities
2,44,Jj Food Service Limited,jj food service limited,South West,UKK11,City of Bristol,46390.0,"Non-specialised wholesale of food, beverages a...","Wholesale trade, except of motor vehicles and ..."
3,44,Mind Hertfordshire Network,unclassified,East of England,UKH23,Hertfordshire,NaN,NaN,NaN
4,53,Rps Group,rps group,East of England,UKH24,Bedford,NaN,NaN,Activities of head offices; management consult...
...,...,...,...,...,...,...,...,...,...
1516610,1,Abs Precision Limited,abs precision,North East,UKC22,Tyneside,28290.0,Manufacture of other general-purpose machinery...,Manufacture of machinery and equipment nec
1516616,1,1St Choice Fitted Bedrooms Limited,1st choice fitted bedrooms limited,North West,UKD41,Blackburn with Darwen,43320.0,Joinery installation,Specialised construction activities
1025333,1,Lg Electronics Limited,LG,West Midlands,UKG33,Coventry,56103.0,Take away food shops and mobile food stands,Food and beverage service activities
792622,1,Advanced Micro Devices,AMD,East of England,UKH12,Cambridgeshire CC,NaN,NaN,Services to buildings and landscape activities
484504,2,Facebook,Meta,South East,UKJ25,West Surrey,NaN,NaN,"Computer programming, consultancy and related ..."

In [2305]:
sic5s = list(set(list(beta['UK_SIC_5_NAME'])))

In [2307]:
sic5s = [item for item in sic5s if type(item) == str]

In [2358]:
sic2s = list(set(list(beta['UK_SIC_2_NAME'])))
sic2s = [item for item in sic2s if type(item) == str]

In [2361]:
Exludesic = ['Libraries, archives, museums and other cultural activities', 'Land transport and transport via pipelines','Rental and leasing activities', 'Veterinary activities','Undifferentiated goods- and services-producing activities of private households for own use', 'Postal and courier activities','Real estate activities', 'Legal and accounting activities', 'Activities of extraterritorial organisations and bodies', 'Sports activities and amusement and recreation activities', 'Office administrative, office support and other business support activities', 'Publishing activities', 'Accommodation', 'Human health activities', 'Wholesale trade, except of motor vehicles and motorcycles', 'Travel agency, tour operator and other reservation service and related activities', 'Activities of membership organisations', 'Advertising and market research', 'Retail trade, except of motor vehicles and motorcycles', 'Activities of head offices; management consultancy activities','Wholesale and retail trade and repair of motor vehicles and motorcycles', 'Employment activities', 'Gambling and betting activities', 'Food and beverage service activities', 'Crop and animal production, hunting and related service activities', 'Social work activities without accommodation', 'Other personal service activities', 'Insurance, reinsurance and pension funding, except compulsory social security', 'Fishing and aquaculture', 'Residential care activities', 'Public administration and defence; compulsory social security', 'Forestry and logging', 'Activities auxiliary to financial services and insurance activities', 'Construction of buildings', 'Creative, arts and entertainment activities']

In [2362]:
sic2s = [item for item in sic2s if item not in Exludesic]

In [2363]:
sic2s

In [ ]:
#Try fuzzy matching again using only companies in fields that appear relevant to Frontier_Technologies

In [2367]:
matched = list(set(beta['COMPANY_RAW']))

In [2366]:
beta[beta['match_name'].isin(testers)]

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,CyberSec,match_name,COUNT(COMPANY),COMPANY_RAW,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
0,113504,EP,2007-03-15,2012-09-12,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,28.23,UKG33,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
1,46093806,US,2007-03-15,2010-05-04,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,29.10,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
2,21521043,GB,2007-03-15,2012-01-18,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,28.23,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
3,340796980,GB,2011-11-16,2013-05-29,Vehicle access system using a wired data conne...,jaguar cars limited,GB,COMPANY,28.23,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
4,334388702,GB,2011-03-29,2011-05-11,Control of active devices during cornering,jaguar cars limited,GB,COMPANY,29.10,UK,...,0,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184542,450937819,WO,2015-03-31,2016-10-06,MOBILE ROBOT WITH COLLISION ANTICIPATION,abb gomtec gmbh,DE,COMPANY,28.40,DE,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184653,267542012,EP,2008-03-31,2011-01-12,ROBOT PARTS ASSEMBLY ON A WORKPIECE MOVING ON ...,abb research,CH,COMPANY,28.40,CH040,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184657,391527,EP,2004-08-16,2017-10-25,METHOD FOR PERFORMING WORK ON A PART,abb france,FR,COMPANY,29.10,FR105,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184658,56240069,EP,2006-09-14,2010-02-24,WORKSTATION WITH MULTIFACE PARTS HOLDER AND CO...,abb france,FR,COMPANY,28.40,FR105,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184661,16002541,EP,2002-06-21,2018-05-02,Robot installation with a robot with a protect...,abb automation gmbh,DE,COMPANY,28.40,DE126,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."

In [2371]:
unmco = companies[~companies['COMPANY_RAW'].isin(matched)]

In [2373]:
relunmco = unmco[unmco['UK_SIC_5_NAME'].isin(sic5s) | unmco['UK_SIC_2_NAME'].isin(sic2s)]

In [2375]:
relunmco.drop_duplicates(subset = 'COMPANY_RAW', inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/221385287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco.drop_duplicates(subset = 'COMPANY_RAW', inplace = True)

In [ ]:
#Do Processing of company names, removing country names (Could create false matches, but manually checked), business terms, and other common words

In [2609]:
relunmco['Processed'] = relunmco['COMPANY_RAW']

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3824780898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco['Processed'] = relunmco['COMPANY_RAW']

In [2652]:
removers = list((pd.read_csv('torep.csv')['limited']))
removers.append('limited')
removers.append('us')

In [2611]:
relunmco['Processed'] = relunmco['Processed'].apply(lambda x: x.lower())
relunmco['Processed'] = relunmco['Processed'].apply(lambda x: re.sub(r'[^\w\s]','',x))
relunmco['Processed'] = relunmco['Processed'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode())

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3532999014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco['Processed'] = relunmco['Processed'].apply(lambda x: x.lower())
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3532999014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco['Processed'] = relunmco['Processed'].apply(lambda x: re.sub(r'[^\w\s]','',x))
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3532999014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco['Processed'] = relunmco['Processed'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode())

In [2614]:
for i in range(5):
    for word in removers:
        relunmco['Processed'] = relunmco['Processed'].apply(lambda x: ' '.join(re.sub(r'\b{}\b'.format(re.escape(word)), '', x).split()))

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3993892066.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  relunmco['Processed'] = relunmco['Processed'].apply(lambda x: ' '.join(re.sub(r'\b{}\b'.format(re.escape(word)), '', x).split()))

In [2584]:
full['Processed'] = full['Name']

In [2585]:
full['Processed'] = full['Processed'].apply(lambda x: x.lower())
full['Processed'] = full['Processed'].apply(lambda x: re.sub(r'[^\w\s]','',x))
full['Processed'] = full['Processed'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode())

In [2586]:
for i in range(5):
    for word in removers:
        full['Processed'] = full['Processed'].apply(lambda x: ' '.join(re.sub(r'\b{}\b'.format(re.escape(word)), '', x).split()))

In [2588]:
matched2 = list(set(beta['Name']))

In [2589]:
len(matched2)

3807

In [2590]:
nn = set(list(full['Name']))

In [2591]:
len(nn)

88864

In [2592]:
unmfull = full[~full['Name'].isin(matched2)]

In [2593]:
unmfull

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,sh16,NLP,NN,ImRec,Robotics,ProgLang,Cloud,MachLearn,CyberSec,Processed
0,55181,EP,2005-10-13,2018-08-08,REMOTE ACCESS TO RESOURCES,scansafe limited,GB,COMPANY,26.30,UKI11,...,0,0,0,0,0,0,0,0,1,scansafe
1,95410,EP,2006-03-29,2013-07-31,Password protection,nds limited,GB,COMPANY,26.20,UKJ25,...,0,0,0,0,0,0,0,0,1,nds
2,116156,EP,2006-01-31,2017-04-05,SYSTEM AND METHOD FOR IMPROVING RESTRICTIVENES...,cidway technologies ltd,GB,COMPANY,26.20,UKI71,...,0,0,0,0,0,0,0,0,1,cidway
4,176727,EP,2001-01-12,2010-02-10,TELEVISION RECEIVER,waptv limited,GB,COMPANY,26.20,UKI75,...,0,1,0,0,0,0,0,0,1,waptv
9,141076,EP,2002-04-12,2011-10-26,Biometric sensor apparatus and methods,stmicroelectronics research development limited,GB,COMPANY,28.23,UKJ13,...,0,0,0,1,0,0,0,0,1,stmicroelectronics research development
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478440,263043,EP,2004-10-11,2010-05-12,LIFTING ROBOT WITH PARALLEL KINEMATIC DEVICE,ehrenleitner franz,DE,INDIVIDUAL,28.40,DE12A,...,0,0,0,0,1,0,0,0,0,ehrenleitner franz
2478453,16229015,EP,2004-03-12,2018-03-07,MOTION-COMPENSATED SPATIO-TEMPORAL WAVELET COM...,thomson licensing dtv,FR,COMPANY,26.30,FR105,...,0,0,0,0,1,0,0,0,0,thomson dtv
2478471,407029234,EP,2012-06-08,2013-12-11,Connecting element,destaco europe gmbh,DE,COMPANY,28.40,DE718,...,0,0,0,0,1,0,0,0,0,destaco
2478489,407417571,EP,2012-06-01,2015-04-08,SYSTEM AND METHOD FOR GENERATING CONTEXTUAL BE...,aldebaran robotics,FR,COMPANY,28.40,FR101,...,0,0,0,0,1,0,0,0,0,aldebaran robotics
2478491,429218,EP,2006-03-03,2011-05-25,A system and a method for sorting items out of...,machinefabriek bollegraaf appingedam bv,NL,COMPANY,28.90,NL112,...,0,0,0,0,1,0,0,0,0,machinefabriek bollegraaf appingedam

In [2594]:
thrower2 = unmfull.drop_duplicates(subset = 'Name')
thrower2 = thrower2[thrower2['Inventor_Type'] != 'INDIVIDUAL']

In [2615]:
matcher2 = NameMatcher(top_n=10,
    lowercase=True,
    punctuations=True,
    remove_ascii=True,
    legal_suffixes=False,
    common_words=False,
    verbose=True)
matcher2.set_distance_metrics(['discounted_levenshtein',
                              'SSK', 
                              'fuzzy_wuzzy_token_sort'])
matcher2.load_and_process_master_data(column='Processed',
                                     df_matching_data=relunmco, 
                                     transform=True)
results = matcher2.match_names(to_be_matched=thrower2, 
                              column_matching='Processed')

/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:634: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].astype(str)
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.lower()
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:640: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].apply(lambda string: unicodedata.normalize(

preprocessing...

preprocessing complete
 searching for matches...

100%|| 11/11 [01:26<00:00,  7.88s/it]

possible matches found
 fuzzy matching...

100%|| 51057/51057 [23:21<00:00, 36.44it/s]

done

In [2622]:
take2 = results

In [2637]:
take2 = results[results['score'] >= 80].sort_values(by = 'score')

In [2821]:
relunmco[relunmco['Processed'] == 'smart']

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME,Processed
25544,2,Business Smart Solutions,business smart solutions,Wales,UKL23,Flintshire and Wrexham,62020.0,Computer consultancy activities,"Computer programming, consultancy and related ...",smart
467191,1,Smart Solutions Scotland Limited,smart solutions scotland limited,Scotland,UKM34,Glasgow City,85320.0,Technical and vocational secondary education,Education,smart
722159,1,Smart Technologies Ltd,smarttechnologies,South West,UKK11,City of Bristol,62011.0,Ready-made interactive leisure and entertainme...,"Computer programming, consultancy and related ...",smart
929151,1,Smart Business Limited,smart business,North West,UKD33,Manchester,43220.0,"Plumbing, heat and air-conditioning installation",Specialised construction activities,smart
1421316,1,Smart Services Limited,smart services,South East,UKJ31,Portsmouth,62090.0,Other information technology and computer serv...,"Computer programming, consultancy and related ...",smart

In [2789]:
companies[companies['COMPANY_RAW'].str.contains('afsdfad')]

Empty DataFrame
Columns: [COUNT(COMPANY), COMPANY_RAW, match_name, NUTS1_NAME, NUTS3, NUTS3_NAME, UK_SIC_5, UK_SIC_5_NAME, UK_SIC_2_NAME]
Index: []

In [2803]:
thrower2[thrower2['Processed'] == 'a t nexus']

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,sh16,NLP,NN,ImRec,Robotics,ProgLang,Cloud,MachLearn,CyberSec,Processed
654780,575424722,GB,2022-05-22,2022-07-06,Real-time cloud based web application,a t nexus ltd,,UNKNOWN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,a t nexus

In [3]:
#add matches from second fuzzy matching. Column names get a little jumbled here but should be okay
hit2 = pd.read_csv('hit2.csv')

In [2809]:
hit2.rename(columns = {'Unnamed: 5' : 'inc'}, inplace = True)

In [2811]:
specs = hit2[hit2['inc'] == 'spec']

In [2812]:
hitsv2 = hit2[hit2['inc'] == 'y']

In [2919]:
test1 = unmfull

In [2920]:
adders = pd.merge(test1, hitsv2, how = 'outer', on = 'Processed', validate = 'm:m').dropna(subset = 'match_name')

In [4900]:
relunmco[relunmco['Processed'].str.contains('bouygues')]

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME,meetngreet
37169,1,Bouygues UK Ltd,bouygues,South East,UKJ37,North Hampshire,41100.0,Development of building projects,Construction of buildings,bouygues uk

In [ ]:
relunmco.rename(columns = {'Processed' : 'match_name'}, inplace = True)

In [2940]:
adders = pd.merge(adders, relunmco, how = 'left', on = 'match_name', validate = 'm:m')

In [2945]:
adders.drop(columns = ['inc', 'match_name'], inplace = True)

In [4890]:
beta

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,CyberSec,match_name,COUNT(COMPANY),COMPANY_RAW,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
0,113504,EP,2007-03-15,2012-09-12,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,28.23,UKG33,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
1,46093806,US,2007-03-15,2010-05-04,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,29.10,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
2,21521043,GB,2007-03-15,2012-01-18,Security system for a motor vehicle,jaguar cars limited,GB,COMPANY,28.23,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
3,340796980,GB,2011-11-16,2013-05-29,Vehicle access system using a wired data conne...,jaguar cars limited,GB,COMPANY,28.23,UK,...,1,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
4,334388702,GB,2011-03-29,2011-05-11,Control of active devices during cornering,jaguar cars limited,GB,COMPANY,29.10,UK,...,0,jaguar land rover,397,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184658,56240069,EP,2006-09-14,2010-02-24,WORKSTATION WITH MULTIFACE PARTS HOLDER AND CO...,abb france,FR,COMPANY,28.40,FR105,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184659,16295690,EP,2002-10-25,2010-09-01,Method and device for producing optical glasses,carl zeiss vision gmbh,DE,COMPANY,28.40,DE11D,...,0,carl zeiss nts,2,Carl Zeiss Nts,West Midlands,UKG31,Birmingham,NaN,NaN,NaN
184660,414470429,EP,2012-12-21,2015-10-28,OCT SYSTEM WITH BONDED MEMS TUNABLE MIRROR VCS...,excelitas technologies corp,US,COMPANY,26.30,NaN,...,0,excelitas technologies,1,Excelitas Technologies Corp,North West,UKD33,Manchester,NaN,NaN,Manufacture of other non-metallic mineral prod...
184661,16002541,EP,2002-06-21,2018-05-02,Robot installation with a robot with a protect...,abb automation gmbh,DE,COMPANY,28.40,DE126,...,0,abb,1,Abb,West Midlands,UKG31,Birmingham,64209.0,Activities of other holding companies (not inc...,"Financial service activities, except insurance..."
184662,16113887,EP,2004-04-27,2011-03-23,Method for operating an automated laser machin...,fanuc robotics europe sa,LU,COMPANY,28.40,LU000,...,0,fanuc robotics,1,Fanuc Robotics Ltd,East Midlands,UKF22,Leicestershire CC and Rutland,NaN,NaN,Accommodation

In [2946]:
vers2 = pd.concat([beta, adders])

In [3001]:
specs.rename(columns = {'original_name' : 'Processed'}, inplace =True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3097486536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  specs.rename(columns = {'original_name' : 'Processed'}, inplace =True)

In [3002]:
specadders = pd.merge(test1, specs, how = 'outer', on = 'Processed', validate = 'm:m').dropna(subset = 'match_name')

In [3008]:
specadders.drop(columns = ['Unnamed: 0', 'score', 'Processed', 'inc', 'match_index'], inplace = True)

In [3011]:
specadders = pd.merge(specadders, companies, how = 'left', on = 'match_name', validate = 'm:m')

In [3013]:
vers2 = pd.concat([vers2, specadders])

In [3015]:
vers2.drop_duplicates(subset = 'ID', inplace = True)

In [3017]:
matchedco2 = list(set(vers2['COMPANY_RAW']))

In [3018]:
unmco2 = companies[~companies['COMPANY_RAW'].isin(matchedco2)]

In [ ]:
#Do a third fuzzy match without processing but with contender companies by SIC code

In [3024]:
specsic2s = ['Manufacture of electrical equipment',  'Programming and broadcasting activities', 'Other professional, scientific and technical activities',  'Manufacture of computer, electronic and optical products', 'Printing and reproduction of recorded media',  'Repair of computers and personal and household goods',  'Architectural and engineering activities; technical testing and analysis', 'Telecommunications', 'Air transport',  'Motion picture, video and television programme production, sound recording and music publishing activities',  'Manufacture of motor vehicles, trailers and semi-trailers', 'Scientific research and development', 'Computer programming, consultancy and related activities']

In [3027]:
specsic5s = ['Manufacture of motor vehicles', 'Video distribution activities', 'Other passenger land transport nec', 'Repair of computers and peripheral equipment', 'Other information technology and computer service activities','Machining', 'Manufacture of other electrical equipment', 'Manufacture of loaded electronic boards', 'Other professional, scientific and technical activities (not including environmental consultancy or quantity surveying) nec', 'Manufacture of consumer electronics', 'Manufacture of electric domestic appliances', 'Research and experimental development on biotechnology', 'Building of ships and floating structures', 'Central banking', 'Manufacture of military fighting vehicles', 'Manufacture of electricity distribution and control apparatus', 'Wireless telecommunications activities', 'Trade of electricity', 'Manufacture of electric lighting equipment',  'Manufacture of bearings, gears, gearing and driving elements', 'Data processing, hosting and related activities', 'Manufacture of engines and turbines, except aircraft, vehicle and cycle engines', 'Wired telecommunications activities', 'Manufacture of air and spacecraft and related machinery', 'Defence activities', 'Other engineering activities (not including engineering design for industrial process and production or engineering related scientific and technical consulting activities)',  'Computer facilities management activities', 'Manufacture of electrical and electronic equipment for motor vehicles', 'Maintenance and repair of motor vehicles', 'Ready-made interactive leisure and entertainment software development', 'Technical testing and analysis', 'Engineering design activities for industrial process and production', 'Computer consultancy activities', 'Manufacture of communication equipment (other than telegraph and telephone apparatus and equipment)', 'Manufacture of railway locomotives and rolling stock', 'Other research and experimental development on natural sciences and engineering', 'Manufacture of telegraph and telephone apparatus and equipment',  'Wholesale of computers, computer peripheral equipment and software', 'Television programming and broadcasting activities', 'Manufacture of other machine tools', 'Manufacture of electric motors, generators and transformers', 'Specialised design activities', 'Manufacture of electronic industrial process control equipment', 'Other software publishing', 'Manufacture of electronic components', 'Manufacture of weapons and ammunition', 'Repair of electronic and optical equipment', 'Manufacture of electronic instruments and appliances for measuring, testing, and navigation, except industrial process control equipment', 'Engineering related scientific and technical consulting activities', 'Manufacture of computers and peripheral equipment', 'Motion picture, video and television programme post-production activities', 'Video production activities']

In [3028]:
speccos = unmco2[unmco2['UK_SIC_5_NAME'].isin(specsic5s) | unmco2['UK_SIC_2_NAME'].isin(specsic2s)]

In [3035]:
matchedpat2 = list(set(vers2['Name']))

In [3036]:
unmfull2 = full[~full['Name'].isin(matchedpat2)]

In [3040]:
unmfull2['use'] = unmfull2['Name']

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/3658164493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmfull2['use'] = unmfull2['Name']

In [3171]:
matcher3 = NameMatcher(top_n=10,
    lowercase=True,
    punctuations=True,
    remove_ascii=True,
    legal_suffixes=True,
    common_words=True,
    verbose=True)
matcher3.set_distance_metrics(['discounted_levenshtein',
                              'SSK', 
                              'fuzzy_wuzzy_token_sort'])
matcher3.load_and_process_master_data(column='use',
                                     df_matching_data=speccos, 
                                     transform=True)
results3 = matcher4.match_names(to_be_matched=thrower3, 
                              column_matching='use')

/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:634: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].astype(str)
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:636: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.lower()
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:638: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:640: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].str.replace(
/Users/mattcarr/opt/anaconda3/lib/python3.9/site-packages/name_matching/name_matcher.py:643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, column_name] = df[column_name].apply(lambda string: unicodedata.normalize(

preprocessing...

preprocessing complete
 searching for matches...

100%|| 10/10 [00:31<00:00,  3.16s/it]

possible matches found
 fuzzy matching...

100%|| 49543/49543 [13:16<00:00, 62.19it/s]

done

In [3172]:
results3 = results3[results3['score'] >= 80]

In [3173]:
results3

,original_name,match_name,score,match_index
37,activerf limited,active it limited,81.371006,2676.0
488,mstack limited,stack limited,84.868082,5690.0
609,money controls limited,macey controls limited,81.762797,18517.0
993,industrial remote control systems ltd,industrial control systems limited,80.694387,17738.0
1877,ge aviation systems limited,mel aviation limited,81.884093,16927.0
...,...,...,...,...
2419814,ibc robotics ab,icerobotics ltd,81.984497,17776.0
2420573,aesynt bv,asynt limited,83.852600,20934.0
2422849,tetrafix ab,terrafix limited,85.795898,25593.0
2447088,tdk electronics corporation,tm electronics ltd,84.874767,20192.0
2468727,ise automotive gmbh,sev automotive,87.384583,6936.0

In [3175]:
match3 = pd.read_csv('match3.csv')

In [3176]:
match3 = match3[match3['Unnamed: 5'] == 'y']

In [3181]:
match3.drop(columns = ['Unnamed: 0', 'score', 'match_index', 'Unnamed: 5'], inplace = True)

,original_name,match_name
7,control techniques ltd,control techniques dynamics limited
8,control techniques limited,control techniques dynamics limited
322,micron machinery co ltd,micron machining services limited
346,business intelligence solutions safe bv,business intelligence solutions ltd
444,polyplastics co ltd,poly plastics limited
782,smart grid solutions gmbh,smarter grid solutions limited
890,idscan biometrics limited,id scan biometrics limited
893,status technologies pty ltd,status technology limited
894,united technologies corporation,united technologies uk limited
895,creative technology ltd,creative technologies limited
896,box inc,box uk
899,nuance communications inc,nuance communications uk limited
900,eon se,eon software limited
901,omicron electronics gmbh,omicron electronics uk limited
904,tab inc,tab uk
906,norma inc,norma uk limited
908,onetrust llc,onetrust technology limited
909,mood international limited,mood international limited
912,aspen technology inc,aspen technologies limited
913,grail inc,grail ltd
914,grail llc,grail ltd
916,adelante sro,adelante software ltd
917,leviton manufacturing co inc,leviton manufacturing uk ltd
918,wearable technology limited,wearable technologies limited
919,stratec biomedical ag,stratec biomedical uk limited
922,stratum llc,stratum technology limited
928,harris systems limited,harris systems limited
931,global technology co ltd,global technology ltd
932,embedded systems srl,embedded software systems limited
934,linear srl,linear limited
935,rococo co ltd,rococo digital limited
939,we create inc,we create digital
940,creative technology limited,creative technologies limited

In [3204]:
match3.rename(columns = {'Name' : 'use'}, inplace = True)

In [3203]:
match3.rename(columns = {'use' : 'use2'}, inplace = True)

In [3211]:
adders2 =  pd.merge(unmfull2, match3, how = 'outer', on = 'use', validate = 'm:m').dropna(subset = 'use2')

In [3216]:
adders2 = pd.merge(adders2, speccos, how = 'left', on = 'use2', validate = 'm:m')

In [3219]:
adders2.drop(columns = ['use', 'use2', 'Processed'], inplace = True)

In [3220]:
vers3 = pd.concat([vers2, adders2]).drop(columns = 'Processed')

In [3268]:
vers3.drop(columns = 'index', inplace = True)

In [ ]:
#Convert Nace codes to SIC codes for comparison between lightcast and patents

In [768]:
nace2sic = pd.read_csv('nace2sic.csv')

In [769]:
nace2sic.dropna(subset = 'Unnamed: 1', inplace = True)
nace2sic.rename(columns = {'Unnamed: 1': 'SIC Des'}, inplace = True)

In [770]:
nace2sic.drop(columns = ['Unnamed: 2', 'Unnamed: 4'], inplace = True)

In [771]:
nace2sic.dropna(subset = 'NACE revision 2', inplace = True)

In [775]:
nace2sic['Nace2'] = nace2sic['NACE revision 2'].apply(cutter)

In [3357]:
y = list(vers3['Nace2'])

In [3474]:
holder = converter(y)

In [3480]:
vers3['Sic_from_Nace'] = holder

In [3485]:
matchedpat3 = list(set(vers3['Name']))

In [3486]:
unmfull3= full[~full['Name'].isin(matchedpat3)]

In [ ]:
#Look for matches among unmatched companies that have many patents manually

In [3869]:
unmfull.groupby(by = 'Name').size().sort_values(ascending = False)[150:200]

Name
xerox corporation                                                              127
kt corporation                                                                 127
endresshauser seco kg                                                          126
gree electric appliances inc of zhuhai                                         126
sysmex corporation                                                             125
zhejiang dahua technology co ltd                                               125
microchip technology incorporated                                              125
verisign inc                                                                   125
eastman kodak company                                                          125
franka emika gmbh                                                              124
somfy sas                                                                      124
beijing qihoo technology company limited                                       123
interdigital patent holdings inc                                               123
endresshauser process solutions ag                                             123
gieseckedevrient mobile security gmbh                                          122
honor device co ltd                                                            122
vodafone ip licensing limited                                                  121
telecom italia spa                                                             121
renesas electronics corporation                                                121
services petroliers schlumberger                                               121
siemens schweiz ag                                                             121
northeastern university                                                        120
shenzhen sensetime technology co ltd                                           120
rohde schwarz gmbh co kg                                                       120
optim corporation                                                              119
hitachi construction machinery co ltd                                          119
delphi technologies inc                                                        119
harman becker automotive systems gmbh                                          119
symantec corporation                                                           118
casio computer co ltd                                                          118
geoquest systems bv                                                            118
apollo intelligent connectivity beijing technology co ltd                      118
delaval holding ab                                                             117
goertek inc                                                                    117
koito manufacturing co ltd                                                     116
the board of trustees of the leland stanford junior university                 116
hand held products inc                                                         115
siemens industry inc                                                           113
rovi guides inc                                                                113
de la rue international limited                                                112
ecovacs robotics co ltd                                                        112
byd company limited                                                            112
beijing jingdong century trading co ltd                                        112
le holdings beijing co ltd                                                     111
philips intellectual property standards gmbh                                   111
hitachi maxell ltd                                                             111
kabushiki kaisha kobe seiko sho kobe steel ltd                                 111
beijing zitiao network technology co ltd                                       111
leica microsystems cms gmbh                                                    111
nederlandse organisatie voor toegepast natuurwetenschappelijk onderzoek tno    110
dtype: int64

In [4480]:
unmfull[unmfull['AI'] == 1].groupby(by = 'Name').size().sort_values(ascending = False)[0:50]

Name
ping an technology shenzhen co ltd                               707
tencent technology shenzhen company limited                      296
kabushiki kaisha toshiba                                         271
beijing baidu netcom science and technology co ltd               187
beijing baidu netcom science technology co ltd                   158
one connect smart technology co ltd shenzhen                     110
sumitomo electric industries ltd                                 105
boe technology group co ltd                                      103
oticon as                                                         91
alibaba group holding limited                                     91
commissariat a lenergie atomique et aux energies alternatives     85
glory ltd                                                         84
sysmex corporation                                                78
graphcore limited                                                 77
htc corporation                                                   77
screen holdings co ltd                                            76
jvc kenwood corporation                                           71
hamamatsu photonics kk                                            70
gn hearing as                                                     66
orange                                                            63
deepmind technologies limited                                     61
apollo intelligent connectivity beijing technology co ltd         60
siemens gamesa renewable energy as                                60
thomson licensing                                                 60
olympus medical systems corp                                      56
bayer aktiengesellschaft                                          55
microchip technology incorporated                                 55
rohde schwarz gmbh co kg                                          54
toshiba medical systems corporation                               52
jvckenwood corporation                                            52
sz dji technology co ltd                                          51
shenzhen goodix technology co ltd                                 50
murata manufacturing co ltd                                       50
toshiba tec kabushiki kaisha                                      49
hitachi maxell ltd                                                49
xard group pty ltd                                                48
baidu online network technology beijing co ltd                    47
terumo kabushiki kaisha                                           46
semiconductor energy laboratory co ltd                            46
bsh hausgerate gmbh                                               46
schneider electric industries sas                                 45
zf friedrichshafen ag                                             44
oki electric industry co ltd                                      44
renesas electronics corporation                                   43
bhorizon gmbh                                                     43
pioneer corporation                                               43
the regents of the university of california                       42
felica networks inc                                               41
fg innovation company limited                                     39
furuno electric co ltd                                            39
dtype: int64

In [4506]:
companies[companies['COMPANY_RAW'].str.startswith('Gb G')]

,COUNT(COMPANY),COMPANY_RAW,Name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
23428,1,Gb Group,gb group,North West,UKD12,East Cumbria,62020.0,Computer consultancy activities,"Computer programming, consultancy and related ..."
489686,1,Gb Gyms Limited,gb gyms limited,Yorkshire and The Humber,UKE42,Leeds,93130.0,Fitness facilities,Sports activities and amusement and recreation...
627037,5,Gb Grove Ltd,gb grove limited,Scotland,UKM28,West Lothian,68209.0,Letting and operating of own or leased real es...,Real estate activities
721284,1,Gb Garden Services Ltd,gb garden services ltd,North West,UKD35,Greater Manchester South East,81300.0,Landscape service activities,Services to buildings and landscape activities
1117575,1,Gb Gourmet Foods,gb gourmet foods limited,South East,UKJ31,Portsmouth,56290.0,Other food service activities,Food and beverage service activities

In [4472]:
full[full['Name'].str.contains('proctor gamb')]

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,AV,sh16,NLP,NN,ImRec,Robotics,ProgLang,Cloud,MachLearn,CyberSec
356696,544061492,GB,2019-12-20,2022-07-27,Machine learning based imaging method of deter...,the proctor gamble company,US,COMPANY,28.23,NaN,...,0,0,0,0,0,0,0,0,1,0

In [4473]:
vers3[vers3['Name'].str.contains('proctor gamble')]

Empty DataFrame
Columns: [ID, Authority, Filing_date, Pub_Date, Title, Name, Country, Inventor_Type, Nace2, nuts, nuts_level, Sector, Abstract, Address, Forward_Citations, Basic communication processes, Chemical engineering, Materials, metallurgy, Other consumer goods, Medical technology, Mechanical elements, Handling, Analysis of biological materials, Thermal processes and apparatus, Machine tools, Control, Telecommunications, Textile and paper machines, Computer technology, Semiconductors, IT methods for management, Civil engineering, Basic materials chemistry, Pharmaceuticals, Biotechnology, Transport, Digital communication, Electrical machinery, apparatus, energy, Macromolecular chemistry, polymers, Optics, Furniture, games, Engines, pumps, turbines, Audio-visual technology, Micro-structural and nano-technology, Other special machines, Measurement, Organic fine chemistry, Food chemistry, Environmental technology, Surface technology, coating, AI, AV, sh16, NLP, NN, ImRec, Robotics, ProgLang, Cloud, MachLearn, CyberSec, match_name, COUNT(COMPANY), COMPANY_RAW, NUTS1_NAME, NUTS3, NUTS3_NAME, UK_SIC_5, UK_SIC_5_NAME, UK_SIC_2_NAME, Sic_from_Nace]
Index: []

[0 rows x 71 columns]

In [4409]:
manmatch = pd.read_csv('manmatch.csv')

In [4411]:
manmatch.rename(columns = {'pat_name' : 'Name', 'co_name' : 'COMPANY_RAW'}, inplace = True)

In [4451]:
adders3 =  pd.merge(unmfull3, manmatch, how = 'outer', on = 'Name', validate = 'm:m').dropna(subset = 'COMPANY_RAW')

In [4452]:
adders3.dropna(subset = 'ID', inplace = True)

In [4454]:
adders3 = pd.merge(adders3, companies, how = 'left', on = 'COMPANY_RAW', validate = 'm:m')

In [4458]:
Nacecodes = list(adders3['Nace2'])
adders3['Sic_from_Nace'] = converter(Nacecodes)

In [4544]:
vers4 = pd.concat([vers3, adders3])

In [4615]:
matchedpat4 = list(set(vers4['Name']))

In [4617]:
unmfull4= full[~full['Name'].isin(matchedpat4)]

In [4782]:
unmfull4.groupby(by = 'Name').size().sort_values(ascending = False).iloc[100:150]

Name
symantec corporation                                                           118
geoquest systems bv                                                            118
apollo intelligent connectivity beijing technology co ltd                      118
delaval holding ab                                                             117
goertek inc                                                                    117
the board of trustees of the leland stanford junior university                 116
koito manufacturing co ltd                                                     116
hand held products inc                                                         115
rovi guides inc                                                                113
beijing jingdong century trading co ltd                                        112
ecovacs robotics co ltd                                                        112
leica microsystems cms gmbh                                                    111
beijing zitiao network technology co ltd                                       111
le holdings beijing co ltd                                                     111
kabushiki kaisha kobe seiko sho kobe steel ltd                                 111
nederlandse organisatie voor toegepast natuurwetenschappelijk onderzoek tno    110
beckhoff automation gmbh                                                       108
huizhou tcl mobile communication co ltd                                        108
vestel elektronik sanayi ve ticaret as                                         108
shanghai united imaging healthcare co ltd                                      108
pcms holdings inc                                                              107
yanmar co ltd                                                                  107
stmicroelectronics srl                                                         107
schlumberger canada limited                                                    107
dai nippon printing co ltd                                                     105
ping an technologyshenzhencoltd                                                105
hai robotics co ltd                                                            105
tobii ab                                                                       104
france telecom                                                                 104
soochow university                                                             104
ping an technology shenzhen coltd                                              103
shanghai cambricon information technology co ltd                               103
seoul national university rdb foundation                                       103
lely patent nv                                                                 103
volvo truck corporation                                                        103
national institute of information and communications technology                101
china university of mining and technology                                      101
arm ip limited                                                                 100
suteng innovation technology co ltd                                            100
verily life sciences llc                                                       100
shenzhen ae intelligent technology institute co ltd                             99
sk planet co ltd                                                                99
carl zeiss microscopy gmbh                                                      98
peking university shenzhen graduate school                                      95
boston scientific neuromodulation corporation                                   94
wuyi university                                                                 94
the trustees of columbia university in the city of new york                     94
osaka university                                                                93
cambricon technologies corporation limited                                      92
lsi corporation                                                                 92
dtype: int64

In [5004]:
conames[conames['COMPANY_RAW'].str.contains('Lsi')].drop_duplicates(subset = 'COMPANY_RAW')

,COUNT(COMPANY),COMPANY_RAW,Name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
129897,1,Lsi Portsmouth,Lsi Portsmouth,South East,UKJ31,Portsmouth,NaN,NaN,Education
245177,1,23Lsi Limited,23lsi Limited,West Midlands,UKG38,Walsall,49410.0,Freight transport by road,Land transport and transport via pipelines
251209,1,Lsi,Lsi,London,UKI32,Westminster,82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
515550,1,Lsi Brighton,Unclassified,South East,UKJ21,Brighton and Hove,NaN,NaN,NaN
610113,1,Lsi Workplace,Lsi Workplace,South West,UKK12,"Bath and North East Somerset, North Somerset a...",82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
1219082,1,The Smart Lsit,Unclassified,South West,UKK14,Swindon,NaN,NaN,NaN
1348400,3,Lsi Limited,Lsi,Yorkshire and The Humber,UKE44,Calderdale and Kirklees,82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
1514559,1,Lsi Architects Llp,Lsi Architects,East of England,UKH15,Norwich and East Norfolk,71111.0,Architectural activities,Architectural and engineering activities; tech...

In [5005]:
companies[companies['COMPANY_RAW'].str.contains('Lsi')]

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
129897,1,Lsi Portsmouth,lsi portsmouth,South East,UKJ31,Portsmouth,NaN,NaN,Education
245177,1,23Lsi Limited,23lsi limited,West Midlands,UKG38,Walsall,49410.0,Freight transport by road,Land transport and transport via pipelines
251209,1,Lsi,lsi,London,UKI32,Westminster,82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
610113,1,Lsi Workplace,lsi workplace,South West,UKK12,"Bath and North East Somerset, North Somerset a...",82990.0,Other business support service activities nec,"Office administrative, office support and othe..."
1514559,1,Lsi Architects Llp,lsi architects,East of England,UKH15,Norwich and East Norfolk,71111.0,Architectural activities,Architectural and engineering activities; tech...

In [4996]:
vers4[vers4['COMPANY_RAW'].str.contains('Sk Solutions')]

,ID,Authority,Filing_date,Pub_Date,Title,Name,Country,Inventor_Type,Nace2,nuts,...,match_name,COUNT(COMPANY),COMPANY_RAW,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME,Sic_from_Nace
10413,581768654.0,WO,2021-04-20,2022-10-27,BLOCKCHAIN-BASED PROFIT DISTRIBUTION METHOD AN...,sk holdings co ltd,KR,COMPANY,26.30,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,26200.0
10414,480944767.0,WO,2015-12-30,2017-07-06,LOCATION-BASED USER AUTHENTICATION METHOD AND ...,sk holdings co ltd,KR,COMPANY,26.30,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,26200.0
10415,495265024.0,EP,2016-11-30,2020-05-06,MACHINE LEARNING-BASED SEMICONDUCTOR MANUFACTU...,sk holdings co ltd,KR,COMPANY,26.10,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,25990.0
10416,495184174.0,WO,2016-11-30,2018-06-07,MACHINE LEARNING-BASED SEMICONDUCTOR MANUFACTU...,sk holdings co ltd,KR,COMPANY,26.10,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,25990.0
10417,534182302.0,WO,2019-01-04,2020-07-09,EXPLAINABLE ARTIFICIAL INTELLIGENCE MODELING A...,sk holdings co ltd,KR,COMPANY,26.20,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,26200.0
10418,534197615.0,EP,2019-01-04,2022-09-21,EXPLAINABLE ARTIFICIAL INTELLIGENCE MODELING A...,sk holdings co ltd,KR,COMPANY,26.20,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,26200.0
10419,491028658.0,WO,2016-08-30,2018-03-08,METHOD AND SYSTEM FOR SENSING FINE CHANGES IN ...,sk holdings co ltd,KR,COMPANY,26.51,NaN,...,sk solutions,3.0,Sk Solutions Ltd,East Midlands,UKF13,South and West Derbyshire,80200.0,Security systems service activities,Security and investigation activities,26400.0

In [4762]:
conames[conames['COMPANY_RAW'].str.contains('Graphcore')].drop_duplicates(subset = 'COMPANY_RAW')

Empty DataFrame
Columns: [COUNT(COMPANY), COMPANY_RAW, Name, NUTS1_NAME, NUTS3, NUTS3_NAME, UK_SIC_5, UK_SIC_5_NAME, UK_SIC_2_NAME]
Index: []

In [4630]:
companies = pd.concat([companies, ox])

In [ ]:
#Change Toyota's Match in Companies as best match had NaN for Company Name

In [ ]:
toyfixers = vers4[vers4['COMPANY_RAW']== 'Toyota Manufacturing UK']

In [4867]:
companies = pd.concat([companies,conames[conames['COMPANY_RAW']==('Toyota Manufacturing UK')].drop_duplicates(subset = 'COMPANY_RAW')])

In [4872]:
toyfixers2 = pd.merge(toyfixers, companies, how = 'left', on = 'COMPANY_RAW', validate = 'm:m')

In [4874]:
vers4 = pd.concat([vers4, toyfixers2])

In [4918]:
vers5 = pd.concat([vers4, htl2])

In [4924]:
vers5.drop_duplicates(subset = 'ID', keep = 'last', inplace = True)

In [ ]:
#Fix Entries where match_name was NaN

In [4926]:
set(vers5[vers5['match_name'].isna()]['COMPANY_RAW'])

{'Roche Diagnostics Limited', 'Toyota Manufacturing UK'}

In [4929]:
rochey = vers5[vers5['COMPANY_RAW'] == 'Roche Diagnostics Limited']

In [4932]:
rochey.drop(columns = 'match_name', inplace = True)

In [4938]:
rochey['match_name'] = 'roche'

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/1012941305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rochey['match_name'] = 'roche'

In [4940]:
vers5 = pd.concat([vers5, rochey])

In [4941]:
vers5.drop_duplicates(subset = 'ID', keep = 'last', inplace = True)

In [5021]:
manmatch3 = pd.read_csv('manmatch3.csv')

In [5032]:
adders4 =  pd.merge(unmfull4, manmatch3, how = 'outer', on = 'Name', validate = 'm:m').dropna(subset = 'COMPANY_RAW')

In [5033]:
adders4 = pd.merge(adders4, companies, how = 'left', on = 'COMPANY_RAW', validate = 'm:m')

In [5061]:
adders4.drop_duplicates(subset = 'ID', inplace = True)

In [5062]:
Nacecodes = list(adders4['Nace2'])
adders4['Sic_from_Nace'] = converter(Nacecodes)

In [5063]:
vers5 = pd.concat([vers4, adders4])

In [5067]:
matchedpat5 = list(set(vers5['Name']))
unmfull5= full[~full['Name'].isin(matchedpat5)]

In [ ]:
#look for matches again

In [5079]:
unmfull5.groupby(by = 'Name').size().sort_values(ascending = False).iloc[100:150]

Name
huizhou tcl mobile communication co ltd                            108
yanmar co ltd                                                      107
stmicroelectronics srl                                             107
ping an technologyshenzhencoltd                                    105
hai robotics co ltd                                                105
dai nippon printing co ltd                                         105
soochow university                                                 104
shanghai cambricon information technology co ltd                   103
ping an technology shenzhen coltd                                  103
seoul national university rdb foundation                           103
national institute of information and communications technology    101
china university of mining and technology                          101
suteng innovation technology co ltd                                100
shenzhen ae intelligent technology institute co ltd                 99
peking university shenzhen graduate school                          95
the trustees of columbia university in the city of new york         94
wuyi university                                                     94
osaka university                                                    93
cambricon technologies corporation limited                          92
kddi corporation                                                    92
deutsches zentrum fur luft und raumfahrt ev                         91
funai electric co ltd                                               91
imec vzw                                                            91
president and fellows of harvard college                            90
symbol technologies llc                                             90
interdigital ce patent holdings                                     90
irdeto bv                                                           90
uatc llc                                                            89
veoneer sweden ab                                                   89
anycheck information technologies co ltd                            89
phoenix contact gmbh co kg                                          89
hughes network systems llc                                          89
peking university                                                   89
guangzhou shiyuan electronics co ltd                                88
jiangsu university                                                  88
netflix inc                                                         88
certicom corp                                                       88
gn hearing as                                                       87
universal city studios llc                                          87
huazhong university of science and technology                       87
shandong university                                                 87
sandisk technologies llc                                            87
ecole polytechnique federale de lausanne epfl                       86
positec power tools suzhou co ltd                                   86
carl zeiss meditec ag                                               86
knorrbremse systeme fur nutzfahrzeuge gmbh                          86
spreadtrum communications shanghai co ltd                           86
silicon storage technology inc                                      86
the general hospital corporation                                    85
wave optics ltd                                                     85
dtype: int64

In [5100]:
conames[conames['COMPANY_RAW'].str.contains('Anycheck')].drop_duplicates(subset = 'COMPANY_RAW')

Empty DataFrame
Columns: [COUNT(COMPANY), COMPANY_RAW, Name, NUTS1_NAME, NUTS3, NUTS3_NAME, UK_SIC_5, UK_SIC_5_NAME, UK_SIC_2_NAME]
Index: []

In [5089]:
companies[companies['COMPANY_RAW'].str.contains('Harvard')]

,COUNT(COMPANY),COMPANY_RAW,match_name,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
13352,3,Harvard University,harvard university,East of England,UKH12,Cambridgeshire CC,46900.0,Non-specialised wholesale trade,"Wholesale trade, except of motor vehicles and ..."
168643,1,Harvard Medical School,harvard medical school,East Midlands,UKF30,Lincolnshire,NaN,NaN,NaN
189542,9,Harvard Ltd,harvard,South East,UKJ37,North Hampshire,58110.0,Book publishing,Publishing activities
575098,1,Harvard Engineering,harvard engineering plc,Yorkshire and The Humber,UKE45,Wakefield,NaN,NaN,Manufacture of electrical equipment
895085,1,Harvard Consultancy Ltd,harvard consultancy ltd,North West,UKD36,Greater Manchester North West,69202.0,Bookkeeping activities,Legal and accounting activities

In [5090]:
set(full[full['Name'].str.contains('harvard')]['Name'])

{'harvard college', 'president and fellows of harvard college'}

In [5091]:
set(vers5[vers5['Name'].str.contains('harvard')]['Name'])

{'harvard college'}

In [5183]:
nfull.drop_duplicates(subset = 'ID', inplace = True)

In [5220]:
names = nfull.iloc[:, [0, 5]]

In [5221]:
names.rename(columns = {'Name': 'Use'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_763/2472565765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names.rename(columns = {'Name': 'Use'}, inplace = True)

In [5222]:
hits = unmfull5['ID']

In [5223]:
unmnames = names[names['ID'].isin(hits)].drop_duplicates()

In [5224]:
unmnames.drop_duplicates(subset = 'Use', inplace = True)

In [5227]:
unmnames.drop(columns = 'ID',inplace = True)

In [5]:
vers5 = pd.read_csv('vers5.csv')

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_8386/2956723895.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  vers5 = pd.read_csv('vers5.csv')

In [163]:
#Keep a copy of all processed names
matchnameshold = pd.DataFrame({'pat_id': vers5['ID'], 'Pat_Match': vers5['Name'], 'CO_Match' : vers5['match_name']})

In [ ]:
#Replace Processed Names with originals

In [166]:
merger = full.iloc[:, [0,5]]

In [168]:
merger.rename(columns = {'Name' : 'Pat_Name'}, inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/2373028345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merger.rename(columns = {'Name' : 'Pat_Name'}, inplace = True)

In [171]:
vers6 = pd.merge(vers5, merger, on = 'ID', how = 'inner')

In [176]:
vers6.drop(columns = 'Name', inplace = True)

In [179]:
merger2 = companies.iloc[:, [1,2]]

In [183]:
vers6 = pd.merge(vers6, merger2, on = 'COMPANY_RAW', how = 'inner').drop(columns = 'match_name')

In [185]:
matchedpat6 = list(set(vers6['ID']))
unmfull6= full[~full['ID'].isin(matchedpat6)]

In [209]:
mfull6 = full[full['ID'].isin(matchedpat6)]

In [193]:
unmnames = unmfull6['Name']

In [197]:
unmnames

0                                          Scansafe Limited
2                                 Cidway Technologies, Ltd.
3                                             Waptv Limited
6         STMicroelectronics (Research & Development) Li...
9                                       SPY SYSTEMS LIMITED
                                ...
440656                                  Ehrenleitner, Franz
440657                                Thomson Licensing DTV
440658                                DE-STA-CO Europe GmbH
440659                                   Aldebaran Robotics
440660            MACHINEFABRIEK BOLLEGRAAF APPINGEDAM B.V.
Name: Name, Length: 222608, dtype: object

In [199]:
chucker = unmnames.to_json(orient="values")
parsed = loads(chucker)

In [215]:
mfull6['Matched'] = 1
unmfull6['Matched'] = 0

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/1906970901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mfull6['Matched'] = 1
/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/1906970901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmfull6['Matched'] = 0

In [220]:
fullpat = pd.concat([mfull6, unmfull6]).reset_index()
fullpat.drop(columns = 'index', inplace = True)

In [ ]:
#Read in manufacturing Data and investigate it
#Note the small number of companies

In [224]:
manufacturing = pd.read_csv('ManSector.csv')

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/547710296.py:1: DtypeWarning: Columns (0,5,6,9,13,14,16,17,19,20,29,33,35,37,39,45,53,54,55,62,64,66,68,74,75,77,81,82,83,84,90,92,94,96,98,100,102,104,106) have mixed types. Specify dtype option on import or set low_memory=False.
  manufacturing = pd.read_csv('ManSector.csv')

In [268]:
manufacturing[manufacturing['COMPANY_RAW'] == 'Jaguar Land Rover'].loc[:, 'UK_SIC_1' : 'UK_SIC_5_NAME'].drop_duplicates(subset = 'UK_SIC_2_NAME')

,UK_SIC_1,UK_SIC_2,UK_SIC_3,UK_SIC_4,UK_SIC_5,UK_SIC_1_NAME,UK_SIC_2_NAME,UK_SIC_3_NAME,UK_SIC_4_NAME,UK_SIC_5_NAME
39,C,29,291.0,2910.0,29100.0,MANUFACTURING,"Manufacture of motor vehicles, trailers and se...",Manufacture of motor vehicles,Manufacture of motor vehicles,Manufacture of motor vehicles

In [269]:
mannodup = manufacturing.drop_duplicates(subset = 'COMPANY_RAW')

In [275]:
mannona=manufacturing.dropna(subset = 'COMPANY_RAW')

In [289]:
coos = list(set(mannona['COMPANY_RAW']))

In [302]:
peters = companies[companies['COMPANY_RAW'].isin(coos)]
peters

,COUNT(COMPANY),COMPANY_RAW,COMPANY_NAME,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
55,29,Greggs Plc,Greggs,North East,UKC14,Durham CC,10710.0,Manufacture of bread; manufacture of fresh pas...,Manufacture of food products
56,2,Kingspan Group Limited,Kingspan,Scotland,UKM34,Glasgow City,25990.0,Manufacture of other fabricated metal products...,"Manufacture of fabricated metal products, exce..."
75,35,prs,Pr's Autohaus Of Lodi,South East,UKJ43,Kent Thames Gateway,NaN,NaN,Manufacture of furniture
124,251,Kibble Ltd.,Kibble,Scotland,UKM35,"Inverclyde, East Renfrewshire and Renfrewshire",26400.0,Manufacture of consumer electronics,"Manufacture of computer, electronic and optica..."
128,6,Design Display Limited,Design & Display [Ddi],Yorkshire and The Humber,UKE44,Calderdale and Kirklees,18129.0,Printing (other than printing of newspapers an...,Printing and reproduction of recorded media
...,...,...,...,...,...,...,...,...,...
1516129,1,Butler Signs,Butler Signs Limited,South East,UKJ11,Berkshire,22290.0,Manufacture of other plastic products,Manufacture of rubber and plastic products
1516291,1,Seabrook Group Limited,Seabrook Group,Northern Ireland,UKN06,Belfast,10890.0,Manufacture of other food products nec,Manufacture of food products
1516367,1,Aesseal,Aesseal,Yorkshire and The Humber,UKE31,"Barnsley, Doncaster and Rotherham",28131.0,Manufacture of pumps,Manufacture of machinery and equipment nec
1516542,1,Bridge Industries Ltd,Bridge Industries,South East,UKJ28,West Sussex (North East),28922.0,Manufacture of earthmoving equipment,Manufacture of machinery and equipment nec
1516607,1,The Blending Room Ltd,The Blending Room,Yorkshire and The Humber,UKE11,"Kingston upon Hull, City of",10831.0,Tea processing,Manufacture of food products

In [293]:
cooys = list(set(vers6['COMPANY_RAW']))

In [294]:
peteys = peters[peters['COMPANY_RAW'].isin(cooys)]

In [296]:
ohno = peteys['COMPANY_RAW']

In [297]:
vers6[vers6['COMPANY_RAW'].isin(ohno)]

,ID,Authority,Filing_date,Pub_Date,Title,Country,Inventor_Type,Nace2,nuts,nuts_level,...,COMPANY_RAW,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME,Sic_from_Nace,Pat_Name,COMPANY_NAME
0,113504.0,EP,2007-03-15,2012-09-12,Security system for a motor vehicle,GB,COMPANY,28.23,UKG33,3.0,...,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se...",28230.0,JAGUAR CARS LIMITED,Jaguar Land Rover
1,46093806.0,US,2007-03-15,2010-05-04,Security system for a motor vehicle,GB,COMPANY,29.10,UK,0.0,...,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se...",29100.0,Jaguar Cars Limited,Jaguar Land Rover
2,21521043.0,GB,2007-03-15,2012-01-18,Security system for a motor vehicle,GB,COMPANY,28.23,UK,0.0,...,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se...",28230.0,Jaguar Cars Limited,Jaguar Land Rover
3,340796980.0,GB,2011-11-16,2013-05-29,Vehicle access system using a wired data conne...,GB,COMPANY,28.23,UK,0.0,...,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se...",28230.0,Jaguar Cars Limited,Jaguar Land Rover
4,334388702.0,GB,2011-03-29,2011-05-11,Control of active devices during cornering,GB,COMPANY,29.10,UK,0.0,...,Jaguar Land Rover,Yorkshire and The Humber,UKE22,North Yorkshire CC,29100.0,Manufacture of motor vehicles,"Manufacture of motor vehicles, trailers and se...",29100.0,Jaguar Cars Limited,Jaguar Land Rover
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215605,521372193.0,EP,2016-11-08,2020-07-29,INTEGRATED OPERATING ROOM STERILIZATION SYSTEM...,CH,COMPANY,32.50,CH066,4.0,...,Optimus Limited,South West,UKK21,Bournemouth and Poole,18202.0,Reproduction of video recording,Printing and reproduction of recorded media,32500.0,Optimus Licensing AG,"Optimus, S.A."
215606,521372189.0,EP,2016-11-08,2020-05-13,ROBOT FOR STERILIZING A FLOOR OF A HEALTHCARE ...,CH,COMPANY,27.50,CH066,4.0,...,Optimus Limited,South West,UKK21,Bournemouth and Poole,18202.0,Reproduction of video recording,Printing and reproduction of recorded media,27400.0,Optimus Licensing AG,"Optimus, S.A."
215623,485642109.0,WO,2016-04-26,2017-11-02,FOCUSING RING AND PLASMA TREATMENT DEVICE,CN,COMPANY,26.10,NaN,9.0,...,Nmc Limited,West Midlands,UKG37,Sandwell,20160.0,Manufacture of plastics in primary forms,Manufacture of chemicals and chemical products,25990.0,"BEIJING NMC CO., LTD.",NMC
215625,475137246.0,WO,2015-08-10,2017-02-16,ELECTROSTATIC PAINTING APPARATUS,JP,COMPANY,28.29,NaN,9.0,...,European Industrial Group Limited,East of England,UKH12,Cambridgeshire CC,25110.0,Manufacture of metal structures and parts of s...,"Manufacture of fabricated metal products, exce...",28290.0,TRINITY INDUSTRIAL CORPORATION,European Industrial Group Limited
215629,552675390.0,WO,2020-06-26,2021-12-30,BLOOD PRICKING HEAD FOR AN AUTOMATIC OR SEMI-A...,FR,UNKNOWN,32.50,FR,0.0,...,Bee Health Limited,Yorkshire and The Humber,UKE12,East Riding of Yorkshire,10890.0,Manufacture of other food products nec,Manufacture of food products,32500.0,BEE HEALTHCARE,Bee Health Limited

In [301]:
manufacturing.drop_duplicates(subset = 'COMPANY')

,ID,CERTIFICATIONS,CERTIFICATIONS_NAME,CITY,CITY_NAME,COMPANY,COMPANY_IS_STAFFING,COMPANY_NAME,COMPANY_RAW,CONTRACT_TYPE,...,LOT_OCCUPATION_GROUP_NAME,LOT_V6_SPECIALIZED_OCCUPATION,LOT_V6_SPECIALIZED_OCCUPATION_NAME,LOT_V6_OCCUPATION,LOT_V6_OCCUPATION_NAME,LOT_V6_OCCUPATION_GROUP,LOT_V6_OCCUPATION_GROUP_NAME,LOT_V6_CAREER_AREA,LOT_V6_CAREER_AREA_NAME,Unnamed: 106
0,676923894,[],[],THV0b24=,Luton,99488544,False,Send Resourcing Ltd,Send Resourcing Ltd,2,...,Account Managers and Executives,32101110,Account Manager (General),321011,Account Manager / Representative,3210,Account Managers and Executives,32,Sales,NaN
1,676911722,[],[],UGx5bW91dGg=,Plymouth,99484302,False,Princess Yachts International Plc,Princess Yachts International Plc,2,...,Machine Operators,26101910,Printing Press Operator,261019,Printing Press Operator,2610,Machine Operators,26,Manufacturing and Production,NaN
2,676929234,[],[],R2xhc2dvdywgR2xhc2dvdyBDaXR5,"Glasgow, Glasgow City",2893206,False,Cummins,Cummins Ltd.,2,...,Human Resources Specialists,22111011,Compensation / Benefits Specialist,221110,Compensation / Benefits Analyst,2211,Human Resources Specialists,22,Human Resources,NaN
3,676905756,[],[],TGVlZHM=,Leeds,99528799,False,Contract Uk LLP,Contract Uk Ltd,1,...,Skilled Construction and Building Trades,14171710,Plasterer / Stucco Mason,141717,Plasterer / Stucco Mason,1417,Skilled Construction and Building Trades,14,"Construction, Extraction, and Architecture",NaN
4,676930100,[],[],QnJpc3RvbCwgQ2l0eSBvZiBCcmlzdG9s,"Bristol, City of Bristol",83104415,False,Arca24 - Hr Software Solutions,ARCA24,2,...,Software Development,23171510,.NET Developer / Engineer,231715,Software Developer / Engineer,2317,Software Development,23,Information Technology and Computer Science,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327559,812777769,[],[],UGV0ZXJib3JvdWdo,Peterborough,34125149,FALSE,Anyplace Media Group LTD,Anyplace Media Group,2,...,Administrative Assistants,12101215.0,Project / Program Administrative Assistant,121012.0,Office / Administrative Assistant,1210.0,Administrative Assistants,12.0,Clerical and Administrative,NaN
327578,812755466,[],[],QmFybnNsZXksIEJhcm5zbGV5LCBEb25jYXN0ZXIgYW5kIF...,"Barnsley, Barnsley, Doncaster and Rotherham",37644009,FALSE,Van Lining Solutions LTD,Van Lining Solutions Ltd,2,...,Skilled Construction and Building Trades,14171110.0,Carpenter,141711.0,Carpenter,1417.0,Skilled Construction and Building Trades,14.0,"Construction, Extraction, and Architecture",NaN
327580,812780415,[],[],Q2FydGVydG9uLCBPeGZvcmRzaGlyZQ==,"Carterton, Oxfordshire",36548919,FALSE,Wipotec-Ocs,Wipotec Ocs Ltd,2,...,Office and Building Administration,12131213.0,Office Manager (General),121312.0,Office Manager,1213.0,Office and Building Administration,12.0,Clerical and Administrative,NaN
327581,812778485,[],[],Q2hpY2hlc3RlciwgV2VzdCBTdXNzZXggKFNvdXRoIFdlc3Qp,"Chichester, West Sussex (South West)",1574918,FALSE,Flotech,Flotech,2,...,Machine Operators,26102110.0,Welder / Solderer,261021.0,Welder / Solderer,2610.0,Machine Operators,26.0,Manufacturing and Production,NaN
327673,662231642,[],[],U2hlZmZpZWxk,Sheffield,79718358,FALSE,Hr Guardian Angels,Hr Guardian Angels,2,...,IT Managers,23141114.0,Technical Manager / Director,231411.0,IT Manager / Director,2314.0,IT Managers,23.0,Information Technology and Computer Science,NaN

In [ ]:
#Begin using API to try and find matches

In [463]:
import requests

url = "https://auth.emsicloud.com/connect/token"

payload = "client_id=univobath&client_secret=ffEhsJNz&grant_type=client_credentials&scope=emsi_open"
headers = {'Content-Type': 'application/x-www-form-urlencoded'}

response = requests.request("POST", url, data=payload, headers=headers)

print(response.text)

{"access_token":"eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDk2NzUsImV4cCI6MTY5MTQ1MzI3NSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDk2NzUsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.BTDaIF6DotcqfMLV5N0E_aOXm4oovmM3ZboWl9E5gz7K17Qw4UU4F-sftCVOtVYvYkpJ0TYr0iJPj5fx-tFf8t0PpaW58jmbi_ztZCoMrqE78D7oJDgFtxYeJroBhZJrjt3cwYk_7P_kIcCDqyOnIX2VuDfxaKyfZBjLd4O1hxe4G-3FH8jIduYitF9YBQhp_pyqzWjyR20FLfop2Mkx6gNca8OBVMKgFwyjK2hJKY3DoL9RJVDD-g8s7-BXGVimnlkSihuiZQceaREk9XVxfPjoIaaTLEx_odFSoPIVZtZ4KoHNJR9FCi4zc2oh2nL3DUAEghhvaoLEMBX2AWxt-A","expires_in":3600,"token_type":"Bearer","scope":"emsi_open"}

In [316]:
import requests

url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

payload = "{ \"terms\": [ \"Amazon Go\", \"Alphabet Inc.\" ], \"fields\": [ \"id\", \"name\", \"naics\", \"website\", \"isStaffing\", \"isFortune1000\" ] }"
headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0Mzg0MjgsImV4cCI6MTY5MTQ0MjAyOCwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0Mzg0MjgsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.xHoVpKb_IVPxt_h5RwIJM-JhsaTYqUyEKwPeM6y70swx8wUFFbbxfRQ-O9lz1QzEMBWXiz4YMydubR69j3S-0S1iwWK67HPACb8DnRmqsBLd9bAyezYxgEJHrQtdrI79FYNOYcBvwWNSzWoNc-thk9SrHMjVjRnE7_SYODJdeVG7vxJgqel2oo_O_jU-uxxbn1YDStD0-CRZXCqB3hIYsgG4SYeGccQIobcK6Vt_p9h8dkaRjq9okirVURDxIMBbPT0DlBEwEhmIwS8kUNs-6Fij-sPIwuzEAMdK5tj9CLI4NyyBzjC0Fu_yHXrO1vW-P12MkiQ9XIZcqvphJkcT3Q",
    'Content-Type': "application/json"
    }

response = requests.request("POST", url, data=payload, headers=headers)

print(response.text)

{"data": [{"company": {"id": "20", "name": "Amazon", "naics": "454110", "website": "amazon.com", "isStaffing": false, "isFortune1000": true}, "term": "Amazon Go"}, {"company": {"id": "9383998", "name": "Alphabet", "naics": "541511", "website": "https://abc.xyz/", "isStaffing": false, "isFortune1000": true}, "term": "Alphabet Inc."}]}

In [322]:
#preview what API returns as output
response.text

'{"data": [{"company": {"id": "20", "name": "Amazon", "naics": "454110", "website": "amazon.com", "isStaffing": false, "isFortune1000": true}, "term": "Amazon Go"}, {"company": {"id": "9383998", "name": "Alphabet", "naics": "541511", "website": "https://abc.xyz/", "isStaffing": false, "isFortune1000": true}, "term": "Alphabet Inc."}]}'

In [397]:
testdict = {'terms': ['Amazon Go', 'Alphabet Inc.'], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}

In [435]:
import requests

url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

payload = json_object
headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDIxNDUsImV4cCI6MTY5MTQ0NTc0NSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDIxNDUsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.hd-t_Zz7PRFSZ7xp47uYoDwwvlKVAeXWhFh_38CpkHaLKNMAx4qV2el7SiNvPDpSn2J0B7KRSwW-EsOjhi6YzMaZ12hnu7sqX4uiWdYBGE0lXxwpSgwOZNfDE2mbYpAZAV7aNcw2PwQoRelpxmfTCWRaoMrtNE-UDpInK96CCtksuwa8DUzhnNvZdsic4OFrl-EFd6cQ9EMKHuVJAgYillHZLcPz6yB_vPG2ntrTzD_rdgC5KbJ2tCAMY2Wk7jdOPNt-3-1A9zShpNt_PRtuDW2qiwXu-fC0P_U2smBYQM79Q0ScXlktdE5iG9Qf5bDXyF2MpSkUVCervNw12Ssjrg",
    'Content-Type': "application/json"
    }

response = requests.request("POST", url, data=payload, headers=headers)

In [399]:
json_object = json.dumps(testdict, indent = 4) 
print(json_object)

{
    "terms": [
        "Amazon Go",
        "Alphabet Inc."
    ],
    "fields": [
        "id",
        "name",
        "naics",
        "website",
        "isStaffing",
        "isFortune1000"
    ]
}

In [335]:
res = json.loads(response.text)

In [338]:
res

{'data': [{'company': {'id': '20',
    'name': 'Amazon',
    'naics': '454110',
    'website': 'amazon.com',
    'isStaffing': False,
    'isFortune1000': True},
   'term': 'Amazon Go'},
  {'company': {'id': '9383998',
    'name': 'Alphabet',
    'naics': '541511',
    'website': 'https://abc.xyz/',
    'isStaffing': False,
    'isFortune1000': True},
   'term': 'Alphabet Inc.'}]}

In [356]:
res['data']

[{'company': {'id': '20',
   'name': 'Amazon',
   'naics': '454110',
   'website': 'amazon.com',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Amazon Go'},
 {'company': {'id': '9383998',
   'name': 'Alphabet',
   'naics': '541511',
   'website': 'https://abc.xyz/',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Alphabet Inc.'}]

In [361]:
res['data']

[{'company': {'id': '20',
   'name': 'Amazon',
   'naics': '454110',
   'website': 'amazon.com',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Amazon Go'},
 {'company': {'id': '9383998',
   'name': 'Alphabet',
   'naics': '541511',
   'website': 'https://abc.xyz/',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Alphabet Inc.'}]

In [401]:
pd.json_normalize(res['data'], sep='_')

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
0,Amazon Go,20,Amazon,454110,amazon.com,False,True
1,Alphabet Inc.,9383998,Alphabet,541511,https://abc.xyz/,False,True

In [370]:
pd.DataFrame.from_records(dictt,index=['1', '2'])

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
1,Amazon Go,20,Amazon,454110,amazon.com,False,True
2,Alphabet Inc.,9383998,Alphabet,541511,https://abc.xyz/,False,True

In [388]:
name_list = list(set(takers['Name']))

In [454]:
import time

In [456]:
i = 0
normalized = pd.DataFrame()
while i <= len(name_list):
    holddict = {'terms': name_list[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDUyNTQsImV4cCI6MTY5MTQ0ODg1NCwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDUyNTQsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.w6trx1xMvyO4Mu_bbzgyyf5ZlfEuYFPFCRP67sswG_Jda_5rw00i9QjWXluJracvrXDqrWBj1QbtBM_7RFG1wLodCzP5Zw8cjt3BhlzvGzL4hbBdnMJ3tqU0nWozSP3-Ddgksb9wlqGv-OvUyNpFiPRlvGapLowpjuEYVtImTSodEwA26O3igWlFOla1ViMKL4E6fZs9mE2aoXwj79Z-mKrGp2uHXm0KoUZxzlAGpwXlc0xZTmuszHZvf0ucoQaRrGdWVmk7PzE_3Jxb4MSGDuIV6EEM7k3c6wdI6CEQgLsLvpKgwhLijCpfQHa8weJxu9dA2XslMhtArfuhtYLIag",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized = pd.concat([normalized, df])
    
    i += 100
    time.sleep(0.5)

In [464]:
i = 0
normalized2 = pd.DataFrame()
while i <= len(name_list2):
    holddict = {'terms': name_list2[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
    json_object = json.dumps(holddict, indent = 4) 
    url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

    payload = json_object
    headers = {
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDk2NzUsImV4cCI6MTY5MTQ1MzI3NSwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDk2NzUsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.BTDaIF6DotcqfMLV5N0E_aOXm4oovmM3ZboWl9E5gz7K17Qw4UU4F-sftCVOtVYvYkpJ0TYr0iJPj5fx-tFf8t0PpaW58jmbi_ztZCoMrqE78D7oJDgFtxYeJroBhZJrjt3cwYk_7P_kIcCDqyOnIX2VuDfxaKyfZBjLd4O1hxe4G-3FH8jIduYitF9YBQhp_pyqzWjyR20FLfop2Mkx6gNca8OBVMKgFwyjK2hJKY3DoL9RJVDD-g8s7-BXGVimnlkSihuiZQceaREk9XVxfPjoIaaTLEx_odFSoPIVZtZ4KoHNJR9FCi4zc2oh2nL3DUAEghhvaoLEMBX2AWxt-A",
    'Content-Type': "application/json"
    }

    response = requests.request("POST", url, data=payload, headers=headers)
    res = json.loads(response.text)
    df = pd.json_normalize(res['data'], sep='_')
    normalized2 = pd.concat([normalized2, df])
    i += 100
    time.sleep(0.25)

In [465]:
normalized2

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
0,Crowsmill Craft Centre C I C,0,Unclassified,None,None,False,False
1,Sj Telecoms,37429724,Sj Telecoms Limited,None,null,False,False
2,Ballynafeigh Community Development,32240939,Ballynafeigh Community Development Association,None,null,False,False
3,Nspcc,37059436,Nspcc,None,nspcc.org.uk,False,False
4,Silverways Nursing Home,0,Unclassified,None,None,False,False
...,...,...,...,...,...,...,...
64,HAMILTON MAYER LIMITED,33559351,Hamilton Mayer Limited,None,hamiltonmayer.com,True,False
65,Cl Platinum Clean Ltd,33334364,CL Platinum Clean LTD,None,None,False,False
66,Ab Talent,81805634,Ab Talent,None,null,False,False
67,Birchlands Care Home,0,Unclassified,None,None,False,False
68,Britannia Windows Ltd,99483486,Britannia Windows,None,britanniawindows.co.uk,False,False

In [387]:
takers = unmfull6[unmfull6['Inventor_Type'] == 'COMPANY']

In [402]:
res['data']

[{'company': {'id': '20',
   'name': 'Amazon',
   'naics': '454110',
   'website': 'amazon.com',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Amazon Go'},
 {'company': {'id': '9383998',
   'name': 'Alphabet',
   'naics': '541511',
   'website': 'https://abc.xyz/',
   'isStaffing': False,
   'isFortune1000': True},
  'term': 'Alphabet Inc.'}]

In [407]:
df = pd.json_normalize(res['data'], sep='_')

In [413]:
normalized = pd.DataFrame()

In [414]:
normalized = pd.concat([normalized, df])

In [415]:
normalized

,term,company_id,company_name,company_naics,company_website,company_isStaffing,company_isFortune1000
0,Amazon Go,20,Amazon,454110,amazon.com,False,True
1,Alphabet Inc.,9383998,Alphabet,541511,https://abc.xyz/,False,True

In [422]:
matchedcos = list(set(vers6['COMPANY_RAW']))

In [423]:
unmco6 = companies[~companies['COMPANY_RAW'].isin(matchedcos)]

In [425]:
name_list2 = list(set(unmco6['COMPANY_RAW']))

In [441]:
holddict = {'terms': name_list[100: 200], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
json_object = json.dumps(holddict, indent = 4) 
url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

payload = json_object
headers = {
'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDUyNTQsImV4cCI6MTY5MTQ0ODg1NCwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDUyNTQsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.w6trx1xMvyO4Mu_bbzgyyf5ZlfEuYFPFCRP67sswG_Jda_5rw00i9QjWXluJracvrXDqrWBj1QbtBM_7RFG1wLodCzP5Zw8cjt3BhlzvGzL4hbBdnMJ3tqU0nWozSP3-Ddgksb9wlqGv-OvUyNpFiPRlvGapLowpjuEYVtImTSodEwA26O3igWlFOla1ViMKL4E6fZs9mE2aoXwj79Z-mKrGp2uHXm0KoUZxzlAGpwXlc0xZTmuszHZvf0ucoQaRrGdWVmk7PzE_3Jxb4MSGDuIV6EEM7k3c6wdI6CEQgLsLvpKgwhLijCpfQHa8weJxu9dA2XslMhtArfuhtYLIag",
'Content-Type': "application/json"
}

response = requests.request("POST", url, data=payload, headers=headers)
res = json.loads(response.text)
df = pd.json_normalize(res['data'], sep='_')
normalized = pd.concat([normalized2, df])
i += 100

In [449]:
holddict = {'terms': name_list[i: i+100], 'fields' : ["id", "name", "naics", "website", "isStaffing", "isFortune1000"]}
json_object = json.dumps(holddict, indent = 4) 
url = "https://emsiservices.com/companies/versions/latest/normalize/bulk"

payload = json_object
headers = {
'Authorization': "Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IjNDNjZCRjIzMjBGNkY4RDQ2QzJERDhCMjI0MEVGMTFENTZEQkY3MUYiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJQR2FfSXlEMi1OUnNMZGl5SkE3eEhWYmI5eDgifQ.eyJuYmYiOjE2OTE0NDUyNTQsImV4cCI6MTY5MTQ0ODg1NCwiaXNzIjoiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20iLCJhdWQiOlsiZW1zaV9vcGVuIiwiaHR0cHM6Ly9hdXRoLmVtc2ljbG91ZC5jb20vcmVzb3VyY2VzIl0sImNsaWVudF9pZCI6InVuaXZvYmF0aCIsInN1YiI6IjAwMUMwMDAwMDFSN1QxZElBRiIsImVtYWlsIjoiY2psOTFAYmF0aC5hYy51ayIsImNvbXBhbnkiOiJVbml2ZXJzaXR5IG9mIEJhdGgiLCJuYW1lIjoiQ2hhcmxlcyBMYXJraW4iLCJpYXQiOjE2OTE0NDUyNTQsInNjb3BlIjpbImNvbXBhbmllczpub3JtYWxpemU6YnVsayIsImNvbXBhbmllczpmdWxsX2FjY2VzcyIsImNvbXBhbmllczpub3JtYWxpemU6cXVvdGE6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246cXVvdGE6cG9zdGluZ3M6dW5saW1pdGVkIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczoqIiwiY2xhc3NpZmljYXRpb246dGF4b25vbWllczpjb21wYW5pZXMiLCJsaWdodGNhc3Rfb3BlbiIsImNsYXNzaWZpY2F0aW9uOnVzZXI6ZXh0ZXJuYWwiLCJwb3N0aW5nczpzYW1wbGVzX2Z1bGxfYWNjZXNzOjEwMDAwIiwiZGF0YXNldDplbXNpLnVrLiouKiIsImVtc2lfb3BlbiJdfQ.w6trx1xMvyO4Mu_bbzgyyf5ZlfEuYFPFCRP67sswG_Jda_5rw00i9QjWXluJracvrXDqrWBj1QbtBM_7RFG1wLodCzP5Zw8cjt3BhlzvGzL4hbBdnMJ3tqU0nWozSP3-Ddgksb9wlqGv-OvUyNpFiPRlvGapLowpjuEYVtImTSodEwA26O3igWlFOla1ViMKL4E6fZs9mE2aoXwj79Z-mKrGp2uHXm0KoUZxzlAGpwXlc0xZTmuszHZvf0ucoQaRrGdWVmk7PzE_3Jxb4MSGDuIV6EEM7k3c6wdI6CEQgLsLvpKgwhLijCpfQHa8weJxu9dA2XslMhtArfuhtYLIag",
'Content-Type': "application/json"
}

response = requests.request("POST", url, data=payload, headers=headers)
res = json.loads(response.text)
df = pd.json_normalize(res['data'], sep='_')
normalized = pd.concat([normalized, df])
i += 100

In [471]:
vers6['Publn_Year']=vers6['Pub_Date'].apply(get_year)

In [473]:
vers6.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'COMPANY_RAW', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year'],
      dtype='object')

In [588]:
#Experiment with JSON files to test if it could be suitable for our data
#Has merits but size an issue

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/2934809323.py:1: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  df = vers6.set_index('COMPANY_RAW').transpose().to_dict(orient='list')

In [604]:
short = vers6.iloc[0:500]
vers6.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'COMPANY_RAW', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year'],
      dtype='object')

In [605]:
short = short.iloc[:, [0, 1, 2, 3, -11]]

              ID Authority Filing_date    Pub_Date        COMPANY_RAW
0       113504.0        EP  2007-03-15  2012-09-12  Jaguar Land Rover
1     46093806.0        US  2007-03-15  2010-05-04  Jaguar Land Rover
2     21521043.0        GB  2007-03-15  2012-01-18  Jaguar Land Rover
3    340796980.0        GB  2011-11-16  2013-05-29  Jaguar Land Rover
4    334388702.0        GB  2011-03-29  2011-05-11  Jaguar Land Rover
..           ...       ...         ...         ...                ...
495  571120042.0        WO  2021-04-09  2022-10-13     Vodafone Group
496  556836902.0        GB  2021-07-26  2021-09-08     Vodafone Group
497  550995497.0        GB  2021-04-09  2022-10-19     Vodafone Group
498  550995491.0        GB  2021-04-09  2021-05-26     Vodafone Group
499  571120022.0        WO  2021-04-09  2022-10-13     Vodafone Group

[500 rows x 5 columns]

In [692]:
vers6['COMPANY_RAW_COPY'] = vers6['COMPANY_RAW']

In [693]:
patjason = vers6.groupby('COMPANY_RAW')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year', 'COMPANY_RAW_COPY']].apply(lambda g: g.to_dict('records')).to_dict()

In [696]:
#Can recover CSV from JSON
recovered = pd.concat(
        [pd.json_normalize(patjason[name]) for name in list(patjason.keys())]
    , 
    axis=0)

In [699]:
vers66 = vers6.drop(columns = 'COMPANY_RAW')

In [724]:
with open('data.json', 'w', encoding='utf-8') as f:
    json.dump(patjasontest, f, ensure_ascii=False, indent=4)

In [7]:
#Now that JSON experimentation is over, return to matches from API

In [733]:
normalized2 = normalized2[normalized2['company_name'] != 'Unclassified'].rename(columns = {'term' : 'CO_Name'})

In [732]:
normalized = normalized[normalized['company_name'] != 'Unclassified'].rename(columns = {'term' : 'Pat_Name'})

In [735]:
matches = pd.merge(normalized, normalized2, on = 'company_id', how = 'inner')

In [746]:
matches

,Pat_Name,company_id,company_name_x,company_naics_x,company_website_x,company_isStaffing_x,company_isFortune1000_x,CO_Name,company_name_y,company_naics_y,company_website_y,company_isStaffing_y,company_isFortune1000_y
0,EUROCOPTER DEUTSCHLAND GmbH,27891090,Eurocopter France,None,None,False,False,Eurocopter,Eurocopter France,None,None,False,False
1,Lenovo (Beijing) Limited,2906655,Lenovo,334111,https://www.lenovo.com/,False,False,WORK GROUP PLC,Lenovo,334111,https://www.lenovo.com/,False,False
2,LENOVO (BEIJING) LIMITED,2906655,Lenovo,334111,https://www.lenovo.com/,False,False,WORK GROUP PLC,Lenovo,334111,https://www.lenovo.com/,False,False
3,"LENOVO (BEIJING) CO., LTD",2906655,Lenovo,334111,https://www.lenovo.com/,False,False,WORK GROUP PLC,Lenovo,334111,https://www.lenovo.com/,False,False
4,"LENOVO (BEIJING) CO., LTD.",2906655,Lenovo,334111,https://www.lenovo.com/,False,False,WORK GROUP PLC,Lenovo,334111,https://www.lenovo.com/,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,"ALAN CO., LTD.",10901138,Alan,484220,alan-it.ru,False,False,Alan Limited,Alan,484220,alan-it.ru,False,False
3865,Semmle Limited,1015387,Semmle,541511,semmle.com,False,False,Semmle Ltd.,Semmle,541511,semmle.com,False,False
3866,HONDA ACCESS CORP.,37718157,Honda,333517,https://www.honda.co.jp/,False,False,Hma Ltd,Honda,333517,https://www.honda.co.jp/,False,False
3867,HONDA ACCESS CORP.,37718157,Honda,333517,https://www.honda.co.jp/,False,False,Holdcroft Honda Limited,Honda,333517,https://www.honda.co.jp/,False,False
3868,"PHD, Inc.",3085832,Phd,621420,phdist.co.za,False,False,Phd Limited,Phd,621420,phdist.co.za,False,False

In [809]:
merger = matches.iloc[:, [0,7]] 
merger.drop_duplicates(subset = 'Pat_Name',inplace = True)

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/3935285869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merger.drop_duplicates(subset = 'Pat_Name',inplace = True)

In [813]:
x = pd.merge(unmfull6, merger, on = 'Pat_Name', how = 'inner', validate = 'm:m').rename(columns = {'CO_Name' : 'COMPANY_RAW'})

In [815]:
adders7 = pd.merge(x, companies, on = 'COMPANY_RAW', how = 'inner', validate = 'm:m')

In [816]:
adders7.drop(columns = 'Matched', inplace = True)

In [819]:
adders7['COMPANY_RAW_COPY'] = adders7['COMPANY_RAW']

In [820]:
nacecodes4adders = list(adders7['Nace2'])
sbyn = converter(nacecodes4adders)

In [821]:
adders7['Sic_from_Nace'] = sbyn

In [822]:
adders7['Publn_Year'] = adders7['Pub_Date'].apply(get_year)

In [827]:
vers7 = pd.concat([vers6, adders7]).reset_index(drop = True)

In [830]:
patjason2 = vers7.groupby('COMPANY_RAW_COPY')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Country',
       'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector', 'Abstract',
       'Address', 'Forward_Citations', 'Basic communication processes',
       'Chemical engineering', 'Materials, metallurgy', 'Other consumer goods',
       'Medical technology', 'Mechanical elements', 'Handling',
       'Analysis of biological materials', 'Thermal processes and apparatus',
       'Machine tools', 'Control', 'Telecommunications',
       'Textile and paper machines', 'Computer technology', 'Semiconductors',
       'IT methods for management', 'Civil engineering',
       'Basic materials chemistry', 'Pharmaceuticals', 'Biotechnology',
       'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'COUNT(COMPANY)', 'NUTS1_NAME',
       'NUTS3', 'NUTS3_NAME', 'UK_SIC_5', 'UK_SIC_5_NAME', 'UK_SIC_2_NAME',
       'Sic_from_Nace', 'Pat_Name', 'COMPANY_NAME', 'Publn_Year', 'COMPANY_RAW']].apply(lambda g: g.to_dict('records')).to_dict()

In [832]:
with open('patjason2.json', 'w', encoding='utf-8') as f:
    json.dump(patjason2, f, ensure_ascii=False, indent=4)

In [ ]:
#Walmart has strange COMPANY_RAW as do other companies

In [853]:
conames[conames['COMPANY_NAME'].str.contains('Walmart')]

,COUNT(COMPANY),COMPANY_RAW,COMPANY_NAME,NUTS1_NAME,NUTS3,NUTS3_NAME,UK_SIC_5,UK_SIC_5_NAME,UK_SIC_2_NAME
828862,1,Leading Retail Limited,Walmart,East of England,UKH21,Luton,96090.0,Other personal service activities nec,Other personal service activities
985243,1,01234332960,Walmart,East of England,UKH12,Cambridgeshire CC,96090.0,Other personal service activities nec,Other personal service activities
1271000,1,01234332960,Walmart,South East,UKJ14,Oxfordshire,96090.0,Other personal service activities nec,Other personal service activities
1482889,2,Leading Retail Limited,Walmart,Yorkshire and The Humber,UKE42,Leeds,96090.0,Other personal service activities nec,Other personal service activities

In [951]:
#Continue looking at JSON files
#Believe they could be a good fit as they can hold Lightcast and EPO data without losing any information
#Access data on Company Name through COMPANY_RAW
complete = {}

In [952]:
complete['Matched_Patents'] = patjason2

In [867]:
hitat = vers7['ID']

In [868]:
unmpat7 = full[~full['ID'].isin(hitat)]

In [883]:
unmpat7['Pat_Name_Copy'] = unmpat7['Name']

/var/folders/1n/4nwj24812pd_ypky6w602b640000gn/T/ipykernel_808/1427374279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unmpat7['Pat_Name_Copy'] = unmpat7['Name']

In [895]:
unmpat7.reset_index(drop = True, inplace = True)

In [899]:
unmpat7.columns

Index(['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Name',
       'Country', 'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector',
       'Abstract', 'Address', 'Forward_Citations',
       'Basic communication processes', 'Chemical engineering',
       'Materials, metallurgy', 'Other consumer goods', 'Medical technology',
       'Mechanical elements', 'Handling', 'Analysis of biological materials',
       'Thermal processes and apparatus', 'Machine tools', 'Control',
       'Telecommunications', 'Textile and paper machines',
       'Computer technology', 'Semiconductors', 'IT methods for management',
       'Civil engineering', 'Basic materials chemistry', 'Pharmaceuticals',
       'Biotechnology', 'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec', 'Pat_Name_Copy'],
      dtype='object')

In [905]:
unmatpat = unmpat7.groupby('Pat_Name_Copy')[['ID', 'Authority', 'Filing_date', 'Pub_Date', 'Title', 'Name',
       'Country', 'Inventor_Type', 'Nace2', 'nuts', 'nuts_level', 'Sector',
       'Abstract', 'Address', 'Forward_Citations',
       'Basic communication processes', 'Chemical engineering',
       'Materials, metallurgy', 'Other consumer goods', 'Medical technology',
       'Mechanical elements', 'Handling', 'Analysis of biological materials',
       'Thermal processes and apparatus', 'Machine tools', 'Control',
       'Telecommunications', 'Textile and paper machines',
       'Computer technology', 'Semiconductors', 'IT methods for management',
       'Civil engineering', 'Basic materials chemistry', 'Pharmaceuticals',
       'Biotechnology', 'Transport', 'Digital communication',
       'Electrical machinery, apparatus, energy',
       'Macromolecular chemistry, polymers', 'Optics', 'Furniture, games',
       'Engines, pumps, turbines', 'Audio-visual technology',
       'Micro-structural and nano-technology', 'Other special machines',
       'Measurement', 'Organic fine chemistry', 'Food chemistry',
       'Environmental technology', 'Surface technology, coating', 'AI', 'AV',
       'sh16', 'NLP', 'NN', 'ImRec', 'Robotics', 'ProgLang', 'Cloud',
       'MachLearn', 'CyberSec']].apply(lambda g: g.to_dict('records')).to_dict()

In [931]:
asd = pd.DataFrame(unmpat7.groupby(by = 'Name').size().sort_values(ascending = False))

In [954]:
complete['Unmatched_Patents'] = unmatpat

In [955]:
matco = (list(set(vers7['COMPANY_RAW'])))
complete['Matched_Names'] = matco

In [944]:
sorted_unmatched_pat = list(asd.index)

In [956]:
complete['Unmatched_Pat_Names'] = sorted_unmatched_pat

In [973]:
unmatco = list(set(companies[~companies['COMPANY_RAW'].isin(matco)]['COMPANY_RAW']))
complete['Unmatched_Co_Names'] = unmatco

NameError: name 'patentsfin' is not defined